<form #f="ngForm">
<div class="form-body">
	<div class="form-group">
	<label></label>
	<input type="text" name="title" [(ngModel)]="Item.title" #title="ngModel" class="form-control" required>
	</div>
	<div class="form-group">
	<label></label>
	<textarea name="description" [(ngModel)]="Item.description" class="form-control"></textarea>
	</div>
	<div class="form-group">
	<label></label>
	<textarea name="content" [(ngModel)]="Item.content" class="form-control"></textarea>
	</div>
</div>
<button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 登録</button>
</form>