<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="sc_section sc_section_block aligncenter max_width cu_width-1100">
                    <div class="sc_section_inner">
                        <div class="sc_section_content_wrap">
                            <div id="sc_call_to_action_032" class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_left">
                                <div class="columns_wrap">
                                    <div class="sc_call_to_action_info">
                                        <div class="sc_call_to_action_descr sc_item_descr article_content" [innerHTML]="Item.value | safeHtml"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc_empty_space em_height_7-5">
                    <span class="sc_empty_space_inner"></span>
                </div>
            </div>
        </div>
    </div>
</div>
