<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
    <ul class="tab-title clearfix">
        <li><a [routerLink]="['/system/change-user-department']">部署異動更新画面</a></li>
        <li><a class="active" [routerLink]="['/system/import-user-department']">ユーザー情報更新画面</a></li>
    </ul>
    <!-- <h2 class="s-title">ユーザー情報更新画面</h2> -->
    <section class="g-table-button text-right" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
        <a class="btn btn-style btn-add" (click)="onOpenConcurrent(null, 'create', null)"><i class="fa fa-plus"></i>&nbsp;追加</a>
    </section>
    <!-- SECTION TABLE -->
    <section class="g-table">
        <div class="table-responsive">
            <table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
                <thead>
                    <tr>
                        <th>社員名(旧)</th>
                        <th>社員NO</th>
                        <th>社員名(新)</th>
                        <th>社員名(カナ)</th>
                        <th>事業本部</th>
                        <th>事業部</th>
                        <th class="text-center">部門</th>
                        <th class="text-center">役職</th>
                        <th class="text-center">適用開始日</th>
                        <th class="text-center">適用終了日</th>
                        <th class="text-center">兼任</th>
                        <th class="text-center" colspan="3" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">処理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!Item.user_department || Item.user_department.length == 0">
                        <td class="text-center" colspan="14">{{ 'EMPTY_TABLE' | translate }}</td>
                    </tr>
                    <tr *ngFor="let obj of Item.user_department; let i = index">
                        <td>{{ obj.staff_name }}</td>
                        <td>{{ obj.staff_no }}</td>
                        <td>{{ obj.fullname }}</td>
                        <td>{{ obj.fullname_kana }}</td>
                        <td>{{ obj.business_name }}</td>
                        <td>{{ obj.division_name }}</td>
                        <td>{{ obj.department_name }}</td>
                        <td>{{ obj.position_name }}</td>
                        <td class="text-center">{{ obj.enable_start_date | formatdate }}</td>
                        <td class="text-center">{{ obj.enable_end_date | formatdate }}</td>
                        <td class="text-center"><i *ngIf="obj.concurrent_post_flag == 1" class="fa fa-check-square-o"></i></td>
                        <td class="text-center"><a (click)="onOpenInfoUserDepartment(obj.m_user_id)" class="edit-record" id="btn_info" title="詳細"><i class="fa fa-info"></i></a></td>
                        <td class="text-center" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr"><a class="edit-record" title="編集" (click)="onOpenConcurrent(obj, 'update', i)"><i class="fa fa-pencil"></i></a></td>
                        <td class="text-center" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr"><a class="del-record" title="削除" (click)="onModalConfirmOpen(i)"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- Button Process Area -->
    <section class="g-button clearfix text-center">
        <button class="btn btn-style btn-search" type="button" (click)="onSaveImportUserDepartment()"><i class="fa fa-floppy-o"></i> 下書</button>
        <button class="btn btn-style btn-clear" type="button" (click)="onConfirmSaving()"><i class="fa fa-floppy-o"></i> 登録</button>
        <a class="btn btn-style btn-back" [routerLink]="['/home']"><i class="fa fa-arrow-left"></i> 戻る</a>
    </section>
    <!-- Button Process Area -->
</div>
<div class="space30"></div>
<modal #modal (onDismiss)="onModalClose()" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title">ユーザー情報変更</h4>
    </modal-header>
    <modal-body>
        <form #formModal="ngForm">
            <section class="g-filter clearfix">
                <div class="g-row clearfix">
                    <div class="field clearfix w100">
                        <label for="">社員名（検索用） <span class="note">*</span></label>
                        <div class="field-ng2-auto-complete">
                            <!-- <ng-select name="m_user_id" [items]="userOptions" [active]="processConcurrent.m_user_id | selectobject: userOptions" [allowClear]="true" (selected)="onSelectUserChange($event, 'user')" (removed)="onSelectUserChange($event, 'user', 'deselected')" (ngModel)="processConcurrent.m_user_id" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}" required>
                            </ng-select> -->
                            <input type="text" class="form-control" name="user_text" [ngModel]="processConcurrent.user_text" (ngModelChange)="onChangeUserDepartment($event)" #user_text="ngModel" ng2-auto-complete [source]="userAutocomplete" display-property-name="value" max-num-list="12" list-formatter="value" required [disabled]="action_user_department == 'update'">
                            <span *ngIf="m_user_id?.dirty && m_user_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field w100">
                        <label for="">社員NO <span class="note">*</span></label>
                        <div>
                            <input type="text" name="staff_no" class="form-control" [(ngModel)]="processConcurrent.staff_no" #staff_no required>
                            <span *ngIf="staff_no?.dirty && staff_no?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field w50">
                        <label for="">社員名 <span class="note">*</span></label>
                        <div>
                            <input type="text" name="fullname" class="form-control" [(ngModel)]="processConcurrent.fullname" #fullname required>
                            <span *ngIf="fullname?.dirty && fullname?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="field w50">
                        <label for="">社員名(カナ) <span class="note">*</span></label>
                        <div>
                            <input type="text" name="fullname_kana" class="form-control" [(ngModel)]="processConcurrent.fullname_kana" #fullname_kana required>
                            <span *ngIf="fullname_kana?.dirty && fullname_kana?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">会社名</label>
                        <div class="input-select2">
                            <ng-select [items]="companyOptions" [active]="processConcurrent.m_company_id | selectobject: companyOptions" [allowClear]="true" (selected)="onSelectDepartmentChange($event, 'company')" (removed)="onSelectDepartmentChange($event, 'company', 'deselected')" (ngModel)="processConcurrent.m_company_id" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}">
                            </ng-select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">事業本部</label>
                        <div class="input-select2">
                            <ng-select [items]="businessOptions" [active]="processConcurrent.business_id | selectobject: businessOptions" [allowClear]="true" (selected)="onSelectDepartmentChange($event, 'business')" (removed)="onSelectDepartmentChange($event, 'business', 'deselected')" (ngModel)="processConcurrent.business_id" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}">
                            </ng-select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">事業部</label>
                        <div class="input-select2">
                            <ng-select [items]="divisionOptions" [active]="processConcurrent.division_id | selectobject: divisionOptions" [allowClear]="true" (selected)="onSelectDepartmentChange($event, 'division')" (removed)="onSelectDepartmentChange($event, 'division', 'deselected')" (ngModel)="processConcurrent.division_id" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}">
                            </ng-select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">部門 <span class="note">*</span></label>
                        <div class="input-select2">
                            <ng-select name="m_department_id" [items]="departmentOptions" [active]="processConcurrent.m_department_id | selectobject: departmentOptions" [allowClear]="true" (selected)="onSelectDepartmentChange($event, 'm_department')" (removed)="onSelectDepartmentChange($event, 'm_department', 'deselected')" (ngModel)="processConcurrent.m_department_id" [ngModel]="processConcurrent.m_department_id | selectobject: departmentOptions" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}" required>
                            </ng-select>
                            <span *ngIf="m_department_id?.dirty && m_department_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">役職 <span class="note">*</span></label>
                        <div class="input-select2">
                            <ng-select name="m_position_id" [items]="positionOptions" [active]="processConcurrent.m_position_id | selectobject: positionOptions" [allowClear]="true" (selected)="onNgSelected($event, 'posistion')" (removed)="onNgRemoved($event, 'posistion')" (ngModel)="processConcurrent.m_position_id" [ngModel]="processConcurrent.m_position_id | selectobject: positionOptions" placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}" required>
                            </ng-select>
                            <span *ngIf="m_position_id?.dirty && m_position_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                    <div class="field clearfix w50">
                        <label for="">兼任</label>
                        <div class="g-radio">
                            <label class="checkbox-inline">
                                <!-- (click)="Item.level = 1" [checked]="1 == Item.level" [disabled]="_params.method == 'update'" -->
                                <input type="checkbox" name="concurrent_post_flag" value="true" #concurrent_post_flag (change)="processConcurrent.concurrent_post_flag = concurrent_post_flag.checked" [checked]="processConcurrent.concurrent_post_flag == true">
                                <div class="check"></div>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field clearfix w50">
                        <label for="">適用開始日 <span class="note">*</span></label>
                        <div class="clearfix">
                            <div class="input-group">
                                <input type="text" name="enable_start_date" class="form-control daterange-single" [ngModel]="processConcurrent.enable_start_date | formatdate" (ngModelChange)="processConcurrent.enable_start_date = $event" #enable_start_date (blur)="processConcurrent.enable_start_date = enable_start_date.value" required>
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                <span *ngIf="enable_start_date?.dirty && enable_start_date?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="field clearfix w50">
                        <label for="">適用終了日</label>
                        <div class="clearfix">
                            <div class="input-group">
                                <input type="text" name="enable_end_date" class="form-control daterange-single" [disabled]="processConcurrent.concurrent_post_flag != true" [ngModel]="processConcurrent.enable_end_date | formatdate" (ngModelChange)="processConcurrent.enable_end_date = $event" #enable_end_date (blur)="processConcurrent.enable_end_date = enable_end_date.value">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="space30"></div>
            <!-- SECTION TABLE -->
            <section class="g-table">
                <h2 class="s-title">所属部署情報</h2>
                <div class="table-responsive">
                    <table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th>社員NO</th>
                                <th>社員名</th>
                                <th>会社名</th>
                                <th>事業本部</th>
                                <th>事業部</th>
                                <th class="text-center">部門</th>
                                <th class="text-center">役職</th>
                                <th class="text-center">適用開始日</th>
                                <th class="text-center">適用終了日</th>
                                <th class="text-center">兼任</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="!user_info.user_department || user_info.user_department.length == 0">
                                <td class="text-center" colspan="10">{{ 'EMPTY_TABLE' | translate }}</td>
                            </tr>
                            <tr *ngFor="let obj of user_info.user_department; let i = index">
                                <td>{{ obj.staff_no }}</td>
                                <td>{{ obj.fullname }}</td>
                                <td>{{ obj.company_name }}</td>
                                <td>{{ obj.business_name }}</td>
                                <td>{{ obj.division_name }}</td>
                                <td>{{ obj.department_name }}</td>
                                <td>{{ obj.position_name }}</td>
                                <td class="text-center">{{ obj.enable_start_date | formatdate }}</td>
                                <td class="text-center">{{ obj.enable_end_date | formatdate }}</td>
                                <td class="text-center"><i *ngIf="obj.concurrent_post_flag == 1" class="fa fa-check-square-o"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="g-button clearfix text-center">
                <button class="btn btn-style btn-save" type="button" [disabled]="!formModal.valid" (click)="onSaveConcurrent()"><i class="fa fa-floppy-o"></i> 登録</button>
                <a class="btn btn-style btn-back" (click)="onModalClose()"><i class="fa fa-arrow-left"></i> 戻る</a>
            </section>
        </form>
    </modal-body>
</modal>
<modal #confirm_modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            項目を削除します、よろしいでしょうか。
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="confirm_modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>
<modal #confirm_saving_modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            ユーザー情報を更新します、よろしいでしょうか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="confirm_saving_modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onSavingUserDepartment()"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>
<modal #modal_info>
    <modal-header [show-close]="true">
        <h4>ユーザー情報</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            <h2 class="s-title">■ 基本情報</h2>
            <div class="g-row clearfix">
                <div class="field clearfix w50">
                    <label>社員NO</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.staff_no }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label>メールアドレス</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.email }}</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50">
                    <label>社員名</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.fullname }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label>社員名(カナ)</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.fullname_kana }}</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50">
                    <label>ユーザID</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.user_id }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label>通貨</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.currency_name }}</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50">
                    <label for="">入社年月日</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.entry_date | formatdate }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label>退職年月日</label>
                    <div class="input-text">
                        <label class="bold">{{ user_info.retirement_date | formatdate }}</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
        <div class="space30"></div>
        <!-- SECTION TABLE -->
        <section class="g-table">
            <h2 class="s-title">所属部署情報</h2>
            <div class="table-responsive">
                <table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
                    <thead>
                        <tr>
                            <th>社員NO</th>
                            <th>社員名</th>
                            <th>会社名</th>
                            <th>事業本部</th>
                            <th>事業部</th>
                            <th class="text-center">部門</th>
                            <th class="text-center">役職</th>
                            <th class="text-center">適用開始日</th>
                            <th class="text-center">適用終了日</th>
                            <th class="text-center">兼任</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!user_info.user_department || user_info.user_department.length == 0">
                            <td class="text-center" colspan="10">{{ 'EMPTY_TABLE' | translate }}</td>
                        </tr>
                        <tr *ngFor="let obj of user_info.user_department; let i = index">
                            <td>{{ obj.staff_no }}</td>
                            <td>{{ obj.fullname }}</td>
                            <td>{{ obj.company_name }}</td>
                            <td>{{ obj.business_name }}</td>
                            <td>{{ obj.division_name }}</td>
                            <td>{{ obj.department_name }}</td>
                            <td>{{ obj.position_name }}</td>
                            <td class="text-center">{{ obj.enable_start_date | formatdate }}</td>
                            <td class="text-center">{{ obj.enable_end_date | formatdate }}</td>
                            <td class="text-center"><i *ngIf="obj.concurrent_post_flag == 1" class="fa fa-check-square-o"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="g-button clearfix text-center">
            <button class="btn btn-style btn-back" type="button" (click)="modal_info.close()"><i class="fa fa-times"></i> キャンセル</button>
        </section>
    </modal-body>
</modal>
