<h2 class="s-title">交通費明細</h2>
<section class="g-table-button text-right">
	<button class="btn btn-style btn-add" type="button" (click)="onOpenFormTransport(null,'create')"><i class="fa fa-plus"></i>&nbsp;追加</button>
</section>
<section class="g-table mb10">
	<div class="table-responsive">
		<table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">使用日</th>
					<th class="text-center">交通機関</th>
					<th class="text-center">出発</th>
					<th class="text-center">到着</th>
					<th class="text-center">金額</th>
					<th class="text-center">領収書</th>
					<th class="text-center" colspan="2">編集</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="transportArray.length == 0">
					<td class="text-center" colspan="8">{{ 'EMPTY_TABLE' | translate }}</td>
				</tr>
				<tr *ngFor="let obj of transportArray; let i = index;">
					<td class="text-center">{{ obj.use_date }}</td>
					<td *ngFor="let expense of expenseItemOption | label: obj.m_expense_item_id : 'id'">{{ expense.text }}</td>
					<td>{{ obj.departure_point }}</td>
					<td>{{ obj.arrival_point }}</td>
					<td class="text-right">{{ currency_symbol }} {{ obj.transportation_spec_fee }}</td>
					<td class="text-center">{{ (obj.receipt_flg==1)?'要':'不要' }}</td>
					<td class="text-center"><a class="edit-record" title="編集" (click)="onOpenFormTransport(i, 'update')"><i class="fa fa-pencil"></i></a></td>
					<td class="text-center"><a class="del-record" title="削除" (click)="onOpenConfirm(i)"><i class="fa fa-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="space30"></div>
<!-- Modal Transport -->
<modal #modal (onDismiss)="onCloseForm(f)" [backdrop]="'static'">
	<modal-header [show-close]="true">
		<h4 class="modal-title">交通費入力</h4>
	</modal-header>
	<modal-body>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
			<section class="g-filter clearfix">
				<div class="g-row clearfix">
					<div class="field clearfix w50">
						<label for="">使用日 <span class="note">*</span></label>
						<div>
							<div class="input-group">
								<input type="text" name="use_date" [ngModel]="Item.use_date | formatdate" (ngModelChange)="Item.use_date = $event" #use_date (blur)="Item.use_date = use_date.value" class="form-control daterange-single" required>
								<span class="input-group-addon"><i class="icon-calendar"></i></span>
							</div>
							<span *ngIf="use_date?.dirty && use_date?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
						</div>
	            	</div>
					<div class="clearfix"></div>
					<div class="field clearfix w100">
	            		<label>交通機関 <span class="note">*</span></label>
	            		<div class="input-select2">
							<ng-select
								name="m_expense_item_id"
								[items]="expenseItemOption"
								[active]="Item.m_expense_item_id | selectobject: expenseItemOption"
								[allowClear]="true"
								(selected)="onNgSelected($event)"
								(removed)="onNgRemoved($event)"
								(ngModel)="Item.m_expense_item_id"
								[ngModel]="Item.m_expense_item_id | selectobject: expenseItemOption"
								placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
								required>
							</ng-select>
	            		</div>
	            	</div>
					<ng-template [ngIf]="display_arrival_departure">
						<div class="field clearfix w50">
				    		<label>出発 <span class="note">*</span></label>
				    		<div>
				    			<input type="text" name="departure_point" [(ngModel)]="Item.departure_point" class="form-control" #departure_point="ngModel" required>
				    			<span *ngIf="departure_point?.dirty && departure_point?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
				    		</div>
				    	</div>
				    	<div class="field clearfix w50">
				    		<label>到着 <span class="note">*</span></label>
				    		<div>
				    			<input type="text" name="arrival_point" [(ngModel)]="Item.arrival_point" class="form-control" #arrival_point="ngModel" required>
				    			<span *ngIf="arrival_point?.dirty && arrival_point?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
				    		</div>
				    	</div>	
					</ng-template>
					<div class="clearfix"></div>
					<div class="field clearfix w50">
						<label>金額 <span class="note">*</span></label>
						<div class="field-money">
	            			<input type="text" name="transportation_spec_fee" class="form-control format_number" [(ngModel)]="Item.transportation_spec_fee" (keyup)="Item.transportation_spec_fee = $event.target.value" #transportation_spec_fee="ngModel" required>
	            			<span class="i-money">{{ currency_symbol }}</span>
	            			<span *ngIf="transportation_spec_fee?.dirty && transportation_spec_fee?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
	            		</div>
	            	</div>
	            	<div class="field clearfix w50">
	            		<a (click)="onReferLink()">NAVI TIMEで調べる</a>
	            		<p>※出発、到着を両方入力してクリックすると自動検索されます。</p>
	            	</div>
	            	<div class="field clearfix w100">
	            		<label>領収書必要</label>
	            		<div class="input-text">
	            			<label class="bold">{{ receipt_label }}</label>
	            		</div>
	            	</div>
				</div>
			</section>
			<section class="g-button clearfix text-center">
	        	<button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 確認</button>
	        	<button class="btn btn-style btn-back" type="button" (click)="onCloseForm(f)"><i class="fa fa-arrow-left"></i> 閉じる</button>
	        </section>
		</form>
	</modal-body>
</modal>

<modal #modaldelete>
	<modal-header [show-close]="true">
		<h4>確認メッセージ</h4>
	</modal-header>
	<modal-body>
        <section class="g-filter clearfix">
            削除します、よろしいですか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="modaldelete.close()"><i class="fa fa-times"></i> キャンセル</a>
        	<button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>
