<div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459259915855">
  <div class="column sc_column_container sc_col-sm-12">
    <div class="sc_column-inner ">
      <div class="wrapper">
        <div class="sc_empty_space em_height_4">
          <span class="sc_empty_space_inner"></span>
        </div>
        <div id="sc_services_809_wrap" class="sc_services_wrap">
          <div id="sc_services_809" class="sc_services sc_services_style_services-1 sc_services_type_images cu_fullwidth">
            <h6 class="sc_item_title sc_services_subtitle sc_item_subtitle">Dịch Vụ</h6>
            <div class="sc_services_descr sc_item_descr">
              You deserve better than a rushed massage by a rookie therapist in
              <br/> a place that makes you feel more stressed
            </div>
            <div class="sc_columns columns_wrap">
              <div class="column-1_3 column_padding_bottom">
                <div id="sc_services_809_1" class="sc_services_item">
                  <div class="sc_services_item_featured post_featured">
                    <div class="post_thumb" data-image="images/3-1.jpg" data-title="Special Offers">
                      <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                            <img alt="" src="images/3-1-358x393.jpg">
                                                                        </a>
                    </div>
                  </div>
                  <div class="sc_services_item_content">
                    <div class="sc_services_item_category">
                      <a href="list-services.html" rel="tag">Da Liễu</a>
                    </div>
                    <!--
                                                                    <h4 class="sc_services_item_title">
                                                                        <a href="single-post.html"></a>
                                                                    </h4>
                                                                    -->
                    <div class="sc_services_item_description">
                      <a href="single-post.html" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">
                        <div>
                          <span class="first">Chi tiết</span>
                          <span class="second">Chi tiết</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-1_3 column_padding_bottom">
                <div id="sc_services_809_2" class="sc_services_item">
                  <div class="sc_services_item_featured post_featured">
                    <div class="post_thumb" data-image="images/2-2.jpg" data-title="Gift Cards Available">
                      <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                            <img alt="" src="images/2-2-358x393.jpg">
                                                                        </a>
                    </div>
                  </div>
                  <div class="sc_services_item_content">
                    <div class="sc_services_item_category">
                      <a href="list-services.html" rel="tag">Nha Khoa</a>
                    </div>
                    <!--
                                                                    <h4 class="sc_services_item_title">
                                                                        <a href="single-post.html">Nha Khoa</a>
                                                                    </h4>
                                                                    -->
                    <div class="sc_services_item_description">
                      <a href="single-post.html" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">
                        <div>
                          <span class="first">Chi tiết</span>
                          <span class="second">Chi tiết</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column-1_3 column_padding_bottom">
                <div id="sc_services_809_3" class="sc_services_item">
                  <div class="sc_services_item_featured post_featured">
                    <div class="post_thumb" data-image="images/1-2.jpg" data-title="Online Appointment">
                      <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                            <img alt="" src="images/1-2-358x393.jpg">
                                                                        </a>
                    </div>
                  </div>
                  <div class="sc_services_item_content">
                    <div class="sc_services_item_category">
                      <a href="list-services.html" rel="tag">Làm Đẹp</a>
                    </div>
                    <!--
                                                                    <h4 class="sc_services_item_title">
                                                                        <a href="single-post.html">Online Appointment</a>
                                                                    </h4>
                                                                    -->
                    <div class="sc_services_item_description">
                      <a href="single-post.html" class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium">
                        <div>
                          <span class="first">Chi tiết</span>
                          <span class="second">Chi tiết</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sc_row-full-width"></div>