<div class="sc_row row sc_custom_1459259915855" data-sc-full-width="true" data-sc-full-width-init="true">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner">
            <div class="wrapper">
                <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="sc_services_wrap" id="sc_services_809_wrap">
                    <div class="sc_services sc_services_style_services-1 sc_services_type_images cu_fullwidth" id="sc_services_809">
                        <h6 class="sc_item_title sc_services_subtitle sc_item_subtitle">{{ 'PUBLIC.service' | translate }}</h6>
                        <div class="sc_services_descr sc_item_descr">
                            {{ 'PUBLIC.service_description' | translate }}
                        </div>
                        <div class="sc_columns columns_wrap" style="position: relative">
                            <div class="jcarousel jcarousel-service">
                                <ul>
									<li *ngFor="let item of Items; let i=index;">
                                        <div class="column_padding_bottom">
                                            <div class="sc_services_item" id="sc_services_809_1">
                                                <div class="sc_services_item_featured post_featured">
                                                    <div class="post_thumb"  data-title="{{item.description}}">
                                                        <a class="hover_icon hover_icon_link" [routerLink]="[ '/' + modules.service, item.item_key, item.title | niceurl]" ><img alt="" [src]="item.image_url"></a>
                                                    </div>
                                                </div>
                                                <div class="sc_services_item_content">
                                                    <div class="sc_services_item_category">
                                                        <a style="font-size: 24px" [routerLink]="[ '/' + modules.service, item.item_key, item.title | niceurl]" rel="tag">{{ item.title }}</a>
                                                    </div>
                                                    <div class="sc_services_item_description">
                                                        <a class="sc_services_item_readmore sc_button sc_button_style_filled sc_button_size_medium" [routerLink]="[ '/' + modules.service, item.item_key, item.title | niceurl]" >
                                                        <div>
                                                            <span class="first">{{ 'PUBLIC.detail' | translate }}</span> <span class="second">{{ 'PUBLIC.detail' | translate }}</span>
                                                        </div></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="jcarousel-control-prev jcarousel-service-control-prev" *ngIf="total_item > 3">&lsaquo;</a>
							<a href="#" class="jcarousel-control-next jcarousel-service-control-next" *ngIf="total_item > 3">&rsaquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
    <div class="sc_empty_space em_height_2">
        <span class="sc_empty_space_inner"></span>
    </div>
</div>
<div class="sc_row-full-width"></div>
