<!-- Service -->
<app-public-home-service [modules]="modules"></app-public-home-service>
<!-- Service -->

<!-- Staff -->
<app-public-home-staff [modules]="modules"></app-public-home-staff>
<!-- Staff -->

<!-- Equipment -->
<app-public-home-equipment></app-public-home-equipment>
<!-- Equipment -->

<!-- Partner -->
<app-public-home-partner></app-public-home-partner>
<!-- Partner -->

<!-- News -->
<app-public-home-news [modules]="modules"></app-public-home-news>
<!-- News -->

<!-- Gallery -->
<app-public-home-gallery [modules]="modules"></app-public-home-gallery>
<!-- Gallery -->

<!-- Contact -->
<app-public-general-form-contact></app-public-general-form-contact>
<!-- Contact -->
