<app-public-home-slide></app-public-home-slide>
<div class="page_content_wrap page_paddings_no">
    <div class="content_wrap">
        <div class="content">
        	<article class="post_item post_item_single page">
        		<section class="post_content">
        			<!-- Service -->
        			<app-public-home-service></app-public-home-service>
        			<!-- Service -->

        			<!-- Employee -->
        			<app-public-home-employee></app-public-home-employee>
        			<!-- Employee -->

        		</section>
        	</article>
        </div>
    </div>
</div>
