<article class="post_item post_item_single page">
        <section class="post_content">
          <!-- Services -->



          <!-- Employers -->

          <!-- Equipments -->
          <div class="sc_row-full-width"></div>
          <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459346050873">
            <div class="column sc_column_container sc_col-sm-12">
              <div class="sc_column-inner ">
                <div class="wrapper">
                  <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                  </div>
                  <div class="sc_section sc_section_block">
                    <div class="sc_section_inner">
                      <h6 class="sc_item_title sc_section_subtitle sc_item_subtitle">Trang Thiết Bị</h6>
                      <div class="sc_section_content_wrap">
                        <div class="sc_empty_space em_height_2">
                          <span class="sc_empty_space_inner"></span>
                        </div>
                        <article class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
                          <div class="sc_section sc_section_block aligncenter max_width cu_width-1080">
                            <div id="esg-grid-1-1" class="esg-grid">
                              <ul>
                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-332" data-date="1459258561">
                                  <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media">
                                      <img src="images/3473311504060-hd.jpg" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                      <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>
                                      <div class="esg-center eg-post-332 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">
                                        <a class="eg-eisenhower-massage-element-1 eg-post-332 esgbox" href="images/3473311504060-hd.jpg" lgtitle="The Supreme Skin Care">
                                                                                        <i class="eg-icon-search"></i>
                                                                                    </a>
                                      </div>
                                      <div class="esg-center eg-post-332 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">
                                        <a class="eg-eisenhower-massage-element-3 eg-post-332" href="single-product.html" target="_self">
                                                                                        <i class="eg-icon-forward"></i>
                                                                                    </a>
                                      </div>
                                    </div>
                                    <div class="esg-entry-content eg-eisenhower-massage-content">
                                      <div class="esg-content eg-post-332 eg-eisenhower-massage-element-6-a">
                                        <a class="eg-eisenhower-massage-element-6 eg-post-332" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,
                                        <a class="eg-eisenhower-massage-element-6 eg-post-332" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>
                                      </div>
                                      <div class="esg-content eg-post-332 eg-eisenhower-massage-element-0">The Supreme Skin Care</div>
                                      <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>
                                    </div>
                                  </div>
                                </li>
                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-337" data-date="1459258606">
                                  <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media">
                                      <img src="images/3473311421005_95.jpg" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                      <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>
                                      <div class="esg-center eg-post-337 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">
                                        <a class="eg-eisenhower-massage-element-1 eg-post-337 esgbox" href="images/3473311421005_95.jpg" lgtitle="Masque Contour des Yeux">
                                                                                        <i class="eg-icon-search"></i>
                                                                                    </a>
                                      </div>
                                    </div>
                                    <div class="esg-entry-content eg-eisenhower-massage-content">
                                      <div class="esg-content eg-post-337 eg-eisenhower-massage-element-6-a">
                                        <a class="eg-eisenhower-massage-element-6 eg-post-337" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,
                                        <a class="eg-eisenhower-massage-element-6 eg-post-337" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>
                                      </div>
                                      <div class="esg-content eg-post-337 eg-eisenhower-massage-element-0">Masque Contour des Yeux</div>
                                      <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>
                                    </div>
                                  </div>
                                </li>
                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-339" data-date="1459258628">
                                  <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media">
                                      <img src="images/3473311970015_94.jpg" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                      <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>
                                      <div class="esg-center eg-post-339 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">
                                        <a class="eg-eisenhower-massage-element-1 eg-post-339 esgbox" href="images/3473311970015_94.jpg" lgtitle="EAU DU SOIR SCENTED SOAP">
                                                                                        <i class="eg-icon-search"></i>
                                                                                    </a>
                                      </div>
                                      <div class="esg-center eg-post-339 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">
                                        <a class="eg-eisenhower-massage-element-3 eg-post-339" href="single-product.html" target="_self">
                                                                                        <i class="eg-icon-forward"></i>
                                                                                    </a>
                                      </div>
                                    </div>
                                    <div class="esg-entry-content eg-eisenhower-massage-content">
                                      <div class="esg-content eg-post-339 eg-eisenhower-massage-element-6-a">
                                        <a class="eg-eisenhower-massage-element-6 eg-post-339" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,
                                        <a class="eg-eisenhower-massage-element-6 eg-post-339" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>
                                      </div>
                                      <div class="esg-content eg-post-339 eg-eisenhower-massage-element-0">EAU DU SOIR SCENTED SOAP</div>
                                      <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>
                                    </div>
                                  </div>
                                </li>
                                <li class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-342" data-date="1459258761">
                                  <div class="esg-media-cover-wrapper">
                                    <div class="esg-entry-media">
                                      <img src="images/huile_pr_cieuse_-_beaut_stars_2015_-_zoom_fiche.jpg" alt="">
                                    </div>
                                    <div class="esg-entry-cover">
                                      <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>
                                      <div class="esg-center eg-post-342 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">
                                        <a class="eg-eisenhower-massage-element-1 eg-post-342 esgbox" href="images/huile_pr_cieuse_-_beaut_stars_2015_-_zoom_fiche.jpg" lgtitle="BLACK ROSE FACE OIL">
                                                                                        <i class="eg-icon-search"></i>
                                                                                    </a>
                                      </div>
                                      <div class="esg-center eg-post-342 eg-eisenhower-massage-element-3-a esg-rollleft" data-delay="0.18">
                                        <a class="eg-eisenhower-massage-element-3 eg-post-342" href="single-product.html" target="_self">
                                                                                        <i class="eg-icon-forward"></i>
                                                                                    </a>
                                      </div>
                                    </div>
                                    <div class="esg-entry-content eg-eisenhower-massage-content">
                                      <div class="esg-content eg-post-342 eg-eisenhower-massage-element-6-a">
                                        <a class="eg-eisenhower-massage-element-6 eg-post-342" href="shop.html" title="View all posts in simple" rel="category tag">simple</a>,
                                        <a class="eg-eisenhower-massage-element-6 eg-post-342" href="shop.html" title="View all posts in Skincare" rel="category tag">Skincare</a>
                                      </div>
                                      <div class="esg-content eg-post-342 eg-eisenhower-massage-element-0">BLACK ROSE FACE OIL</div>
                                      <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        </article>
                        <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sc_row-full-width"></div>
            <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459330954110 scheme_original inverse_colors">
              <div class="column sc_column_container sc_col-sm-12">
                <div class="sc_column-inner ">
                  <div class="wrapper">
                    <div class="columns_wrap sc_columns columns_nofluid custom_columns_brands equal_height">
                      <div class="column-1_4 sc_column_item">
                        <div class="sc_column_item_inner">
                          <h6 class="sc_title sc_title_regular">Các đơn vị đối tác</h6>
                        </div>
                      </div>
                      <div class="column-3_4 sc_column_item span_3">
                        <div id="sc_clients_387_wrap" class="sc_clients_wrap">
                          <div id="sc_clients_387" class="sc_clients sc_clients_style_clients-1 cu_fullwidth">
                            <div class="sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="9415" data-slides-per-view="3" data-slides-min-width="100">
                              <div class="slides swiper-wrapper">
                                <div class="swiper-slide" data-style="width:100%;">
                                  <div id="sc_clients_387_1" class="sc_clients_item">
                                    <div class="sc_client_image">
                                      <img alt="" src="images/logo-4.png">
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide" data-style="width:100%;">
                                  <div id="sc_clients_387_2" class="sc_clients_item">
                                    <div class="sc_client_image">
                                      <img alt="" src="images/logo-2.png">
                                    </div>
                                  </div>
                                </div>
                                <div class="swiper-slide" data-style="width:100%;">
                                  <div id="sc_clients_387_3" class="sc_clients_item">
                                    <div class="sc_client_image">
                                      <img alt="" src="images/logo-1.png">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="sc_slider_controls_wrap">
                                <a class="sc_slider_prev" href="#"></a>
                                <a class="sc_slider_next" href="#"></a>
                              </div>
                              <div class="sc_slider_pagination_wrap"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sc_row-full-width"></div>
            <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459343317996">
              <div class="column sc_column_container sc_col-sm-12">
                <div class="sc_column-inner ">
                  <div class="wrapper">
                    <div class="sc_empty_space em_height_4">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                    <div id="sc_blogger_321" class="sc_blogger layout_masonry_4 template_masonry sc_blogger_horizontal no_description">
                      <h6 class="sc_item_title sc_blogger_subtitle sc_item_subtitle">Tin Tức & Sự Kiện</h6>
                      <div class="isotope_wrap" data-columns="4">
                        <div class="isotope_item isotope_item_masonry isotope_item_masonry_4 isotope_column_4">
                          <div class="post_item post_item_masonry post_item_masonry_4">
                            <div class="post_featured">
                              <div class="post_thumb" data-image="images/image-3.jpg" data-title="How massage loses its value">
                                <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                        <img alt="" src="images/image-3-370x370.jpg">
                                                                    </a>
                              </div>
                            </div>
                            <div class="post_content isotope_item_content">
                              <h4 class="post_title">
                                                                    <a href="single-post.html">How massage loses its value</a>
                                                                </h4>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                                                        <a href="single-post.html" class="post_info_date">March 29, 2016</a>
                                                                    </span>
                                <span class="post_info_item ">Posted by
                                                                        <a href="single-post.html" class="post_info_author">Kate Green</a>
                                                                    </span>
                              </div>
                              <div class="post_descr">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="isotope_item isotope_item_masonry isotope_item_masonry_4 isotope_column_4">
                          <div class="post_item post_item_masonry post_item_masonry_4">
                            <div class="post_featured">
                              <div class="post_thumb" data-image="images/image-17.jpg" data-title="How Often Should I get a Massage?">
                                <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                        <img alt="" src="images/image-17-370x370.jpg">
                                                                    </a>
                              </div>
                            </div>
                            <div class="post_content isotope_item_content">
                              <h4 class="post_title">
                                                                    <a href="single-post.html">How Often Should I get a Massage?</a>
                                                                </h4>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                                                        <a href="single-post.html" class="post_info_date">March 29, 2016</a>
                                                                    </span>
                                <span class="post_info_item ">Posted by
                                                                        <a href="single-post.html" class="post_info_author">Kate Green</a>
                                                                    </span>
                              </div>
                              <div class="post_descr">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="isotope_item isotope_item_masonry isotope_item_masonry_4 isotope_column_4">
                          <div class="post_item post_item_masonry post_item_masonry_4">
                            <div class="post_featured">
                              <div class="post_thumb" data-image="images/image-18.jpg" data-title="What is Massage Therapy?">
                                <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                        <img alt="" src="images/image-18-370x370.jpg">
                                                                    </a>
                              </div>
                            </div>
                            <div class="post_content isotope_item_content">
                              <h4 class="post_title">
                                                                    <a href="single-post.html">What is Massage Therapy?</a>
                                                                </h4>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                                                        <a href="single-post.html" class="post_info_date">March 29, 2016</a>
                                                                    </span>
                                <span class="post_info_item ">Posted by
                                                                        <a href="single-post.html" class="post_info_author">Kate Green</a>
                                                                    </span>
                              </div>
                              <div class="post_descr">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="isotope_item isotope_item_masonry isotope_item_masonry_4 isotope_column_4">
                          <div class="post_item post_item_masonry post_item_masonry_4 last">
                            <div class="post_featured">
                              <div class="post_thumb" data-image="images/image-19.jpg" data-title="Massage Therapy for Tight Muscles">
                                <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                        <img alt="" src="images/image-19-370x370.jpg">
                                                                    </a>
                              </div>
                            </div>
                            <div class="post_content isotope_item_content">
                              <h4 class="post_title">
                                                                    <a href="single-post.html">Massage Therapy for Tight Muscles</a>
                                                                </h4>
                              <div class="post_info">
                                <span class="post_info_item post_info_posted">
                                                                        <a href="single-post.html" class="post_info_date">March 29, 2016</a>
                                                                    </span>
                                <span class="post_info_item ">Posted by
                                                                        <a href="single-post.html" class="post_info_author">Kate Green</a>
                                                                    </span>
                              </div>
                              <div class="post_descr">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="sc_blogger_button sc_item_button">
                        <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">
                          <div>
                            <span class="first">Xem tất cả</span>
                            <span class="second">Xem tất cả</span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="sc_empty_space em_height_4">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Gallery -->
            <div class="sc_row-full-width"></div>
            <div class="sc_row row sc_row-fluid">
              <div class="column sc_column_container sc_col-sm-12">
                <div class="sc_column-inner ">
                  <div class="wrapper">
                    <div class="sc_empty_space em_height_4">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                    <h6 class="sc_item_title sc_blogger_subtitle sc_item_subtitle">Thư Viện Ảnh</h6>
                    <article class="myportfolio-container minimal-light" id="esg-grid-3-1-wrap">
                      <div id="esg-grid-3-1" class="esg-grid">
                        <article class="esg-filters esg-singlefilters">
                          <div class="esg-filter-wrapper esg-fgc-3">
                            <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1">
                              <span>Filter - All</span>
                            </div>
                            <div class="esg-filterbutton" data-fid="49" data-pid="34" data-filter="filter-deep-tissue">
                              <span>Deep tissue</span>
                              <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                            </div>
                            <div class="esg-filterbutton" data-fid="50" data-pid="34" data-filter="filter-massage-therapy">
                              <span>Massage therapy</span>
                              <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                            </div>
                            <div class="esg-filterbutton" data-fid="51" data-pid="34" data-filter="filter-sports-massage">
                              <span>Sports massage</span>
                              <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                            </div>
                            <div class="esg-filterbutton" data-fid="52" data-pid="34" data-filter="filter-swedish-massage">
                              <span>Swedish massage</span>
                              <span class="esg-filter-checked">
                                                                    <i class="eg-icon-ok-1"></i>
                                                                </span>
                            </div>
                            <div class="eg-clearfix"></div>
                          </div>
                        </article>
                        <div class="esg-clear-no-height"></div>
                        <ul>
                          <li class="filterall filter-gallery filter-massage-therapy filter-massage-therapy eg-washington-massage-wrapper eg-post-id-209" data-date="1459261695" data-cobblesw="1" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-10.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-209 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-209" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-209 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">Massage for Athletes: Get Back in the Ga...</div>
                                <div class="esg-bottom eg-post-209 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-209 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-209" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                  <a class="eg-washington-massage-element-11 eg-post-209" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filterall filter-gallery filter-sports-massage filter-swedish-massage filter-sports-massage filter-swedish-massage eg-washington-massage-wrapper eg-post-id-211" data-date="1459261777" data-cobblesw="1" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-2-1.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-211 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-211" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-211 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">Benefits of Lymphatic Drainage Massage</div>
                                <div class="esg-bottom eg-post-211 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-211 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-211" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                  <a class="eg-washington-massage-element-11 eg-post-211" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                  <a class="eg-washington-massage-element-11 eg-post-211" href="#" title="View all posts in Swedish massage" rel="category tag">Swedish massage</a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filterall filter-deep-tissue filter-gallery filter-deep-tissue eg-washington-massage-wrapper eg-post-id-214" data-date="1459261918" data-cobblesw="2" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-11.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-214 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-214" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-214 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">How to Get the Most Out of Your Massage</div>
                                <div class="esg-bottom eg-post-214 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-214 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-214" href="#" title="View all posts in Deep tissue" rel="category tag">Deep tissue</a>
                                  <a class="eg-washington-massage-element-11 eg-post-214" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filterall filter-gallery filter-massage-therapy filter-sports-massage filter-massage-therapy filter-sports-massage eg-washington-massage-wrapper eg-post-id-216" data-date="1459261977" data-cobblesw="1" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-3-1.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-216 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-216" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-216 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">The Secret to Prevent You From Getting S...</div>
                                <div class="esg-bottom eg-post-216 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-216 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-216" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                  <a class="eg-washington-massage-element-11 eg-post-216" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                  <a class="eg-washington-massage-element-11 eg-post-216" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filterall filter-gallery filter-massage-therapy filter-massage-therapy eg-washington-massage-wrapper eg-post-id-219" data-date="1459262022" data-cobblesw="2" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-12.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-219 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-219" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-219 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">How Does Massage Reduce Stress?</div>
                                <div class="esg-bottom eg-post-219 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-219 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-219" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                  <a class="eg-washington-massage-element-11 eg-post-219" href="#" title="View all posts in Massage therapy" rel="category tag">Massage therapy</a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="filterall filter-deep-tissue filter-gallery filter-sports-massage filter-deep-tissue filter-sports-massage eg-washington-massage-wrapper eg-post-id-221" data-date="1459262091" data-cobblesw="1" data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                              <div class="esg-entry-media">
                                <img src="images/image-4-1.jpg" alt="">
                              </div>
                              <div class="esg-entry-cover esg-fade" data-delay="0">
                                <div class="esg-overlay esg-fade eg-washington-massage-container" data-delay="0"></div>
                                <div class="esg-top eg-post-221 eg-washington-massage-element-1-a esg-slideright" data-delay="0.8">
                                  <a class="eg-washington-massage-element-1 eg-post-221" href="single-post.html" target="_self">
                                                                            <i class="eg-icon-plus"></i>
                                                                        </a>
                                </div>
                                <div class="esg-bottom eg-post-221 eg-washington-massage-element-3 esg-slideright" data-delay="0.5">Aromatherapy and Massage</div>
                                <div class="esg-bottom eg-post-221 eg-washington-massage-element-10 esg-slideright" data-delay="0.5">anemptytextlline</div>
                                <div class="esg-bottom eg-post-221 eg-washington-massage-element-11-a esg-slideright" data-delay="0.5">
                                  <a class="eg-washington-massage-element-11 eg-post-221" href="#" title="View all posts in Deep tissue" rel="category tag">Deep tissue</a>
                                  <a class="eg-washington-massage-element-11 eg-post-221" href="#" title="View all posts in Gallery" rel="category tag">Gallery</a>
                                  <a class="eg-washington-massage-element-11 eg-post-221" href="#" title="View all posts in Sports massage" rel="category tag">Sports massage</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </article>
                    <div class="clear"></div>
                    <div class="sc_empty_space em_height_2">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base aligncenter">
                      <div>
                        <span class="first">Xem Thêm</span>
                        <span class="second">Xem Thêm</span>
                      </div>
                    </a>
                    <div class="sc_empty_space em_height_4">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Gallery -->
            <!-- Footer -->
            <!-- Booking -->
            <div class="sc_row-full-width"></div>
            <div data-sc-full-width="true" data-sc-full-width-init="false" class="sc_row row sc_custom_1459341675644 inverse_colors">
              <div class="column sc_column_container sc_col-sm-12">
                <div class="sc_column-inner ">
                  <div class="wrapper">
                    <div class="sc_section custom_services_pricing sc_section_block alignright max_width">
                      <div class="sc_section_inner">
                        <div class="sc_section_overlay">
                          <div class="sc_section_content padding_on">
                            <div class="sc_section_content_wrap">
                              <div class="text_column content_element ">
                                <div class="wrapper">
                                  <div class="sc_section sc_section_block aligncenter max_width cu_width-970">
                                    <div class="sc_section_inner">
                                      <h6 class="sc_section_subtitle sc_item_subtitle">Đặt Lịch Hẹn</h6>
                                      <div class="sc_section_content_wrap">
                                        <div id="sc_form_201_wrap" class="sc_form_wrap">
                                          <div id="sc_form_201" class="sc_form sc_form_style_form_1">
                                            <form id="sc_form_201_form" data-formtype="form_1" method="post" action="includes/sendmail.php" class="inited">
                                              <div class="sc_form_info">
                                                <div class="sc_form_item sc_form_field label_over">
                                                  <label class="required" for="sc_form_username">Họ và Tên</label>
                                                  <input id="sc_form_username" type="text" name="username" placeholder="Họ và Tên *">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                  <label class="required" for="sc_form_email">Điện Thoại</label>
                                                  <input id="sc_form_phone" type="text" name="phone" placeholder="Điện Thoại *">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                  <label class="required" for="sc_form_username">Danh Mục</label>
                                                  <input id="sc_form_username" type="text" name="username" placeholder="Danh Mục *">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                  <label class="required" for="sc_form_email">Dịch Vụ</label>
                                                  <input id="sc_form_phone" type="text" name="phone" placeholder="Dịch Vụ *">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                  <label class="required" for="sc_form_subj">Nội Dung</label>
                                                  <input id="sc_form_subj" type="text" name="subject" placeholder="Ngày Hẹn">
                                                </div>
                                              </div>
                                              <div class="sc_form_item sc_form_button">
                                                <a href="booking.html" class="sc_button sc_button_square sc_button_style_filled sc_button_size_base">Hẹn</a>
                                              </div>
                                              <div class="result sc_infobox"></div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sc_row-full-width"></div>
            <div class="sc_row row">
              <div class="column sc_column_container sc_col-sm-12">
                <div class="sc_column-inner ">
                  <div class="wrapper">
                    <a href="#" class="sc_icon icon-up sc_icon_shape_square aligncenter scroll_to_top show"></a>
                    <div class="sc_empty_space em_height_5-7">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
                      <div class="column-1_3 sc_column_item">
                        <h6 cl<h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">Về chúng tôi</h6>
                        <div class="text_column content_element ">
                          <div class="wrapper">
                            <p class="cu_text_c">Come in and our therapists provide the perfect treatment. Our massage is specially designed to help you achieve the perfect mind-body harmony</p>
                          </div>
                        </div>
                        <div class="sc_empty_space em_height_3">
                          <span class="sc_empty_space_inner"></span>
                        </div>
                      </div>
                      <div class="column-1_3 sc_column_item">
                        <h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">Giờ Làm Việc</h6>
                        <div class="text_column content_element ">
                          <div class="wrapper">
                            <p class="cu_text_c">
                              Mon-Fri: 9 AM &#8211; 6 PM
                              <br/> Saturday: 9 AM &#8211; 4 PM
                              <br/> Sunday: Closed
                            </p>
                          </div>
                        </div>
                        <div class="sc_empty_space em_height_3">
                          <span class="sc_empty_space_inner"></span>
                        </div>
                      </div>
                      <div class="column-1_3 sc_column_item">
                        <h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">Liên Lạc</h6>
                        <div class="text_column content_element ">
                          <div class="wrapper">
                            <p class="cu_text_c">
                              93 Võ Văn Tần, phường 6, Quận 3, TP. HCM
                              <br/> Email: <a href="#">info@yoursite.com</a>
                              <br/> Telephone: 028 3930 9393
                            </p>
                          </div>
                        </div>
                        <div class="sc_empty_space em_height_3">
                          <span class="sc_empty_space_inner"></span>
                        </div>
                      </div>
                    </div>
                    <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small cu_block_3">
                      <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_twitter">
                                                        <span class="icon-twitter"></span>
                                                    </a>
                      </div>
                      <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_gplus">
                                                        <span class="icon-gplus"></span>
                                                    </a>
                      </div>
                      <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_facebook">
                                                        <span class="icon-facebook"></span>
                                                    </a>
                      </div>
                      <div class="sc_socials_item">
                        <a href="#" target="_blank" class="social_icons social_instagramm">
                                                        <span class="icon-instagramm"></span>
                                                    </a>
                      </div>
                    </div>
                    <p class="cu_text_c">
                      <a href="#">White Clinic </a>&#169; 2017 All Rights Reserved
                      <a href="#">Terms of Use</a> and
                      <a href="#">Privacy Policy</a>
                    </p>
                    <div class="sc_empty_space em_height_4-2">
                      <span class="sc_empty_space_inner"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Footer -->
        </section>
      </article>
      </div>