<app-breadcrumb></app-breadcrumb>
<div class="proposal-create">
    <form #f="ngForm">
        <section class="space"></section>
        <section class="g-proposal-func">
            <div class="g-container">
                <div class="g-proposal-button">
                    <a class="btn-close-menu" href="#" title="">
                        <div class="hamburger hamburger--spin js-hamburger">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="g-proposal-g-button text-center">
                    <button class="btn btn-style btn-style-special btn-chart" type="button" (click)="onSave()"><i class="fa fa-bar-chart" aria-hidden="true"></i> 申請内容確認</button>
                    <button class="btn btn-style btn-clear" type="button" (click)="onReset()"><i class="fa fa-eraser"></i> クリア</button>
                    <button class="btn btn-style btn-save" type="button" (click)="onSaveDraft()"><i class="fa fa-floppy-o" aria-hidden="true"></i> 一時保存</button>
                    <button *ngIf="_params['method'] == 'update'" class="btn btn-style btn-clear" type="button" (click)="onOpenModalConfirm()"><i class="fa fa-trash"></i> 削除</button>
                    <button [routerLink]="['/']" class="btn btn-style btn-back" type="button"><i class="fa fa-arrow-left"></i> 戻る</button>
                </div>
            </div>
        </section>
        <h2 class="s-title">申請概要</h2>
        <section class="g-basic-info clearfix">
            <div class="g-row clearfix">
                <div class="field clearfix w50">
                    <label for="">所属部門名称</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ user_create_form.department_name ? user_create_form.department_name : current_user_info.department_name }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">所属部門コード</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ user_create_form.department_code ? user_create_form.department_code :current_user_info.department_code }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">申請者社員番号</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ user_create_form.staff_no ? user_create_form.staff_no :current_user_info.staff_no }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">申請者社員名前</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ user_create_form.fullname ? user_create_form.fullname :current_user_info.fullname }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">申請名称</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ Item.form_name }}</label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">申請日</label>
                    <div class="input-text">
                        <label for="" class="bold">{{ Item.current_date }}</label>
                    </div>
                </div>
                <div class="field clearfix w100">
                    <label for="">件名 <span class="note">*</span></label>
                    <div [ngClass]="{'has-error': !Item.name}">
                        <input id="proposal_name" type="text" name="name" [(ngModel)]="Item.name" placeholder="" class="form-control" #proposal_name="ngModel" required>
                        <span *ngIf="(proposal_name.dirty || is_draft_validated) && !Item.name" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">優先度</label>
                    <div class="g-radio">
                        <label class="radio-inline label-w120">
                            <input type="radio" name="priority_flg" [(ngModel)]="Item.priority_flg" (ngModelChange)="Item.priority_flg='0'" value="0" checked> 通常
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline label-w120">
                            <input type="radio" name="priority_flg" [(ngModel)]="Item.priority_flg" (ngModelChange)="Item.priority_flg='1'" value="1"> 優先
                            <div class="check"></div>
                        </label>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">決裁経路変更</label>
                    <div class="g-radio">
                        <label class="radio-inline label-w120">
                            <input type="radio" name="change_route" [(ngModel)]="Item.change_route" (ngModelChange)="Item.change_route='0'" value="0" checked> 無
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline label-w120">
                            <input type="radio" name="change_route" [(ngModel)]="Item.change_route" (ngModelChange)="Item.change_route='1'" value="1"> 有
                            <div class="check"></div>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <h2 class="s-title mt20">申請詳細</h2>
        <section class="g-dynamic-info clearfix">
            <p class="mb15 mt10"><span class="note">*</span> 必須項目</p>
            <div class="g-row clearfix">
                <div class="field clearfix w100" *ngFor="let item of Item.inputs; let i = index" [ngSwitch]="item.input_type_name_e">
                    <!-- Header -->
                    <h2 class="g-title mb15" *ngIf="item.input_type_name_e == 'header'">{{ item.name }}</h2>
                    <p *ngIf="item.input_type_name_e == 'header'" [innerHTML]="item.supplementation"></p>
                    <label *ngIf="item.input_type_name_e != 'header'" for="">{{ item.name }}
                        <span *ngIf="item.required == '1'" class="note">*</span>
                        <div class="help-text" *ngIf="item.supplementation">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <div class="help-text-inner">
                                {{ item.supplementation | br2nl }}
                            </div>
                        </div>
                    </label>
                    <div>
                        <!-- Text -->
                        <div  *ngSwitchCase="'text'" >
                            <div class="input-field" [ngClass]="{'has-error': !item.value && item.required == '1', 'has-unit': item.unit}">
                                <input id="text{{i}}" type="text" [(ngModel)]="item.value" name="text{{i}}" value="" [placeholder]="item.placeholder" class="form-control {{item.input_class}}" #text="ngModel" [required]="item.required == '1'">
                                <span *ngIf="item.unit">{{ item.unit  }}</span>
                            </div>

                            <div>
                                <span *ngIf="(text.dirty || is_validated) && !item.value && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- Date -->
                        <div class="input-small" *ngSwitchCase="'date'" [ngClass]="{'has-error': !item.value && item.required == '1'}">
                            <div class="input-group">
                                <input id="date{{i}}" type="text" [(ngModel)]="item.value" name="date{{i}}" value="" [placeholder]="item.placeholder" class="form-control {{item.input_class}} daterange-single" #date (blur)="item.value = date.value" #date="ngModel" [required]="item.required == '1'">
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            </div>
                            <div>
                                <span *ngIf="(date.dirty || is_validated) && !item.value && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- file -->
                        <div class="input-field" *ngSwitchCase="'file'" [ngClass]="{'has-error': !item.value && item.required == '1'}">
                            <div class="clearfix input-medium up-down">
                                <div class="uploader">
                                    <input id="file{{i}}" type="file" ng2FileSelect name="file{{i}}" [placeholder]="item.placeholder" class="form-control {{item.input_class}}" [uploader]="item.uploader" (change)="onChangeFileInput(item)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/jpg, image/jpeg, image/gif, image/png">
                                    <span class="filename">{{ item.uploader.queue.length ? item.uploader.queue[0].file.name : '' }}</span>
                                    <span class="btn-uploader btn btn-default">ファイル選択 </span>
                                    <a *ngIf="item.uploader.queue.length" style="z-index: 97" (click)="onRemoveInputFile(item)" class="file-close">x</a>
                                </div>
                                <div class="download" *ngIf="item?.is_download">
                                    <button title="ダウンロード" (click)="onDownloadForm(item.id, 'form_input')" type="button" class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div>
                                <span *ngIf="is_validated && !item.value && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- checkbox-group -->
                        <div class="g-checkbox" *ngSwitchCase="'checkbox-group'">
                            <div class="clearfix">
                                <label class="checkbox-inline" *ngFor="let option of item.options;" id="checkbox-group{{i}}">
                                    <input type="checkbox" name="checkbox-group{{i}}" [placeholder]="item.placeholder" value="{{ option }}" (change)="onUpdateCheckedOptions(item, option, $event)" [checked]="item.optionsMap[option]">
                                        <span [innerHTML]="option"></span>
                                    <div class="check"></div>
                                </label>
                            </div>
                            <div  *ngIf="item.checked_other" class="clearfix" [ngClass]="{'has-error': item.checked_other && !item.other}">
                                <input  type="text" [(ngModel)]="item.other" name="checked_other{{i}}" class="form-control {{item.input_class}}" #checked_other="ngModel" [required]="item.required == '1'">

                                <div>
                                    <span *ngIf="(checked_other.dirty || is_validated) && (!item.other || item.other == '')" class="error">{{ 'VALIDATE.required' | translate }}</span>
                                </div>
                            </div>
                            <div>
                                <span *ngIf="is_validated && !item.is_checked && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- radio-group -->
                        <div class="g-radio" *ngSwitchCase="'radio-group'">
                            <div class="clearfix">
                                <label class="radio-inline" *ngFor="let option of item.options">
                                    <input type="radio" name="radio-group{{i}}" id="" [placeholder]="item.placeholder" value="{{ option }}" [(ngModel)]="item.value" (click)="onSelectedOtherRadio(item, option)">
                                    <span [innerHTML]="option"></span>
                                    <div class="check"></div>
                                </label>
                            </div>
                            <div class="clearfix" [ngClass]="{'has-error': item.radio_other && !item.other}">
                                <input *ngIf="item.radio_other" type="text" [(ngModel)]="item.other" name="radio_other{{i}}" class="form-control {{item.input_class}}">
                            </div>
                            <div>
                                <span *ngIf="is_validated && item.radio_other && !item.other" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                            <div>
                                <span *ngIf="is_validated && !item.value && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- textarea -->
                        <div class="input-field" *ngSwitchCase="'textarea'" [ngClass]="{'has-error': !(item.value | trim) && item.required == '1'}">
                            <textarea id="textarea{{i}}" name="textarea{{i}}" value="" [placeholder]="item.placeholder" class="form-control {{item.input_class}}" [(ngModel)]="item.value" #textarea="ngModel" [required]="item.required == '1'"></textarea>
                            <div>
                                <span *ngIf="(textarea.dirty|| is_validated) && !(item.value | trim) && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>
                        <!-- select -->
                        <div *ngSwitchCase="'select'">
                            <select id="select{{i}}" name="select{{i}}" class="form-control {{item.input_class}}"  [ngClass]="{'has-error': !item.value && item.required == '1'}" [(ngModel)]="item.value" (ngModelChange)="onSelectedOtherSelect(item, $event)" #select="ngModel" [required]="item.required == '1'">
                                <option *ngFor="let option of item.options" value="{{ option }}">{{ option }}</option>
                            </select>
                            <div *ngIf="item.selected_other" class="mt4" [ngClass]="{'has-error': item.selected_other && !item.other}">
                                <input  type="text" [(ngModel)]="item.other" name="selected_other{{i}}" class="form-control {{item.input_class}}" #selected_other="ngModel" [required]="item.required == '1'">
                                <div>
                                    <span *ngIf="(is_validated || selected_other.dirty) && !item.other" class="error">{{ 'VALIDATE.required' | translate }}</span>
                                </div>
                            </div>

                            <div>
                                <span *ngIf="(select.dirty|| is_validated) && !item.value && item.required == '1'" class="error">{{ 'VALIDATE.required' | translate }}</span>
                            </div>
                        </div>

                        <!-- <p class="proposal-note">※URLを記載</p>
                <p class="proposal-note">※事前承認が必要であるため,十分な日程で設定すること</p> -->
                    </div>
                </div>
            </div>
            <div class="space30">
            </div>
        </section>
        <!-- Section file upload -->
        <section class="g-dynamic-info clearfix">
            <h2 class="g-title mb15">【添付資料注意事項】</h2>
            <div class="g-row clearfix">
                <div class="field clearfix w100">
                    <label for="">添付資料</label>
                    <div>
                        <div class="uploader-files mb4">
                            <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="my-drop-zone">
                                <div class="no-file" *ngIf="!uploader.queue.length">
                                    <span>ファイルをドラッグ&ドロップ…</span>
                                    <span></span>
                                    <!-- drag & drop file example-->
                                </div>
                                <ul class="uploader-files-in clearfix">
                                    <li class="file-item text-center" *ngFor="let item of uploader.queue; let i = index">
                                        <div class="item">
                                            <img src="assets/img/file.png" alt="">
                                            <p>{{ item?.file?.name }}</p>
                                            <div class="file-actions clearfix">
                                                <a title="ダウンロード" *ngIf="item?.file?.is_download" (click)="onDownloadForm(item._file.id, 'form_attachment')" class="file-download"><i class="fa fa-download"></i></a>
                                                <a title="削除" class="file-delete" (click)="onRemoveFile(i, item?._file?.id)"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uploader">
                            <input type="file" ng2FileSelect class="form-control" [uploader]="uploader" multiple (change)="onValidateFormFileType()" />
                            <span class="filename">ファイルをドラッグ&ドロップ…</span>
                            <span class="btn-uploader btn btn-default">ファイル選択 </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space30">
            </div>
        </section>
    </form>
</div>
<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            削除します、よろしいでしょうか。
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>
