<header class="top_panel_wrap top_panel_style_3 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="contact_logo">
                    <div class="logo">
                        <a [routerLink]="['/']">
                            <img *ngIf="options.logo" alt="" class="logo_main" [src]="options.logo['logo_url']">
                            <img *ngIf="options.logo" alt="" class="logo_fixed" height="56" [src]="options.logo['logo_url']" width="238">
                        </a>
                    </div>
                </div>
                <div class="top_localtion_info_top content_wrap clearfix">
                    <div class="top_panel_top_socials">
                        <div class="label">
                            <span *ngIf="options.address">{{ options.address['value'] }}</span> |
                            <a *ngIf="options.phone" [href]="'tel:' + options.phone['value']">{{ options.phone['value'] }}</a>
                        </div>
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                            <div class="sc_socials_item">
                                <a href="#" class="social_icons social_gplus" title="Tiếng Việt" (click)="onChangeLanguageCode('vi')">
                                    <img src="/assets/public/images/flags/vi.png" />
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" class="social_icons social_facebook" title="English" (click)="onChangeLanguageCode('en')">
                                    <img src="/assets/public/images/flags/en.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_main_wrap">
                    <app-public-general-partial-navigation [modules]="modules" [serviceCategories]="serviceCategories" [newsCategories]="newsCategories"></app-public-general-partial-navigation>
                </div>
            </div>
        </div>
    </div>
</header>
