<header class="top_panel_wrap top_panel_style_3 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="contact_logo">
                    <div class="logo">
                        <a [routerLink]="['/']">
                            <img alt="" class="logo_main" src="./assets/public/images/Logo.png">
                            <img alt="" class="logo_fixed" height="56" src="./assets/public/images/Logo.png" width="238">
                        </a>
                    </div>
                </div>
                <div class="top_localtion_info_top content_wrap clearfix">
                    <div class="top_panel_top_socials">
                        <span class="label">93 Võ Văn Tần, Quận 3, TP.HCM | 028 3933 9393</span>
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                            <div class="sc_socials_item">
                                <a href="#" class="social_icons social_gplus" title="Tiếng Việt" [ngClass]="{'language_inactive' : default_language_code != 'vi'}" (click)="onChangeLanguageCode('vi')">
                                    <img src="/assets/public/images/flags/vi.png" />
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" class="social_icons social_facebook" title="English" [ngClass]="{'language_inactive' : default_language_code != 'en'}" (click)="onChangeLanguageCode('en')">
                                    <img src="/assets/public/images/flags/en.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_main_wrap">
                    <nav class="menu_main_nav_area">
                        <ul class="menu_main_nav">
                            <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                                <a>{{'PUBLIC.about_us' | translate}}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-menu-item">
                                        <a [routerLink]="['/about-us']" [routerLinkActive]="['active']">White Clinic</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="['/staff']" [routerLinkActive]="['active']">{{'PUBLIC.staff' | translate}}</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="['/equipment']" [routerLinkActive]="['active']">{{'PUBLIC.equipment' | translate}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a [routerLink]="['/service']" [routerLinkActive]="['active']">{{'PUBLIC.service' | translate}}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="list-services.html#skin">Da Liễu</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="single-post.html">Trắng Da</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Trị Nám - Tàn Nhang</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Trị Mụn</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Trị Sẹo</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Trẻ Hóa Da</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Chăm Sóc Da</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="list-services.html">Nha Khoa</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="single-post.html">Implant</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Thẩm Mỹ Phục Hình Răng</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Niềng Răng</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Phẫu Thuật</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Nha Khoa Trẻ Em</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="single-post.html">Nha Khoa Tổng Quát</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="['/faq']" [routerLinkActive]="['active']">{{'PUBLIC.faq' | translate}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a [routerLink]="['/news']" [routerLinkActive]="['active']">{{'PUBLIC.news' | translate}}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a [routerLink]="['/news']" [routerLinkActive]="['active']">Khuyến mãi</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="['/news']" [routerLinkActive]="['active']">Sự Kiện</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/service/before-after']" [routerLinkActive]="['active']">{{'PUBLIC.before_after' | translate}}</a>
                            </li>
                            <li class="menu-item">
                                <a [routerLink]="['/contact']" [routerLinkActive]="['active']">{{'PUBLIC.contact' | translate}}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
