<nav class="menu_main_nav_area">
	<ul class="menu_main_nav">
		<li class="menu-item change_language_area" style="display: none">
			<a class="" href="#" title="Tiếng Việt" [ngClass]="{'language_inactive' : default_language_code != 'vi'}" (click)="onChangeLanguageCode('vi')">
                <img src="/assets/public/images/flags/vi.png">
            </a>
            <a class="" href="#" title="English"  [ngClass]="{'language_inactive' : default_language_code != 'en'}" (click)="onChangeLanguageCode('en')">
                <img src="/assets/public/images/flags/en.png">
            </a>
		</li>
		<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
			<a [routerLink]="['/' + modules.about_us]">{{'PUBLIC.about_us' | translate}}</a>
			<ul class="sub-menu">
				<li class="menu-item" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="['/' + modules.about_us]">White Clinic</a>
				</li>
				<li class="menu-item" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="['/' +  modules.expert]">{{'PUBLIC.expert' | translate}}</a>
				</li>
				<li class="menu-item" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="[ '/' + modules.equipment]">{{'PUBLIC.equipment' | translate}}</a>
				</li>
				<li class="menu-item" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="[ '/' + modules.gallery]">{{'PUBLIC.gallery' | translate}}</a>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-has-children" [routerLinkActive]="['current-menu-item']">
			<a [routerLink]="[ '/' + modules.service]">{{'PUBLIC.service' | translate}}</a>
			<ul class="sub-menu">
				<li class="menu-item menu-item-has-children" *ngFor="let sCategory of serviceCategories" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="[ '/' + modules.service, sCategory.item_key, sCategory.title | niceurl]">{{ sCategory.title }}</a>
					<ul class="sub-menu" *ngIf="sCategory['list_services'].length">
						<li class="menu-item" *ngFor="let s of sCategory['list_services']" [routerLinkActive]="['current-menu-item']">
							<a [routerLink]="[ '/' + modules.service,  modules.detail, s.item_key, s.title | niceurl ]">{{ s.title }}</a>
						</li>
					</ul>
				</li>
				<li class="menu-item" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="[ '/' + modules.faq]">{{'PUBLIC.faq' | translate}}</a>
				</li>
			</ul>
		</li>
		<li class="menu-item menu-item-has-children" [routerLinkActive]="['current-menu-item']">
			<a [routerLink]="[ '/' + modules.news]">{{'PUBLIC.news' | translate}}</a>
			<ul class="sub-menu">
				<li class="menu-item" *ngFor="let nCategory of newsCategories" [routerLinkActive]="['current-menu-item']">
					<a [routerLink]="[ '/' + modules.news, nCategory.item_key, nCategory.title | niceurl]">{{ nCategory.title }}</a>
				</li>
			</ul>
		</li>
		<li class="menu-item" [routerLinkActive]="['current-menu-item']">
			<a [routerLink]="[ '/' + modules.service, modules.before_after]">{{'PUBLIC.before_after' | translate}}</a>
		</li>
		<li class="menu-item" [routerLinkActive]="['current-menu-item']">
			<a [routerLink]="[ '/' + modules.contact]">{{'PUBLIC.contact' | translate}}</a>
		</li>
	</ul>
</nav>
