<app-breadcrumb></app-breadcrumb>
<div class="proposal-create">
	<h2 class="s-title">新規</h2>
	<form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <section class="clearfix">
	    <div class="g-row clearfix">
	        <div class="field clearfix w50">
		        <label for="">銀行コード <span class="note">*</span></label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="code" [(ngModel)]="Item.code" #code="ngModel" class="form-control"  maxlength="4" required>
		             	<span *ngIf="code?.dirty && code?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
		             	<span *ngIf="validateErrors.code | json" class="error">{{validateErrors.code | json}}</span>
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">銀行名 <span class="note">*</span></label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="name" [(ngModel)]="Item.name" #name="ngModel" class="form-control" required>
		             	<span *ngIf="name?.dirty && name?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">銀行名ｶﾅ</label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="name_kana" [(ngModel)]="Item.name_kana" class="form-control">
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">銀行名(英)</label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="name_e" [(ngModel)]="Item.name_e" class="form-control">
		            </div>
		        </div>
	        </div>
	     </div>
    </section>
    <section class="g-button clearfix text-center">
      	<button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 追加/更新</button>
     		<a class="btn btn-style btn-back" [routerLink]="['/system/bank']" ><i class="fa fa-arrow-left"></i> 閉じる</a>
    </section>
	</form>
</div>
