<div class="form-body">
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_title' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_title" [(ngModel)]="Item.meta_title" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_description' | translate }}</label>
		<div class="col-md-10">
			<textarea name="meta_description" [(ngModel)]="Item.meta_description" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_keyword' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_keyword" [(ngModel)]="Item.meta_keyword" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_tag' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_tag" [(ngModel)]="Item.meta_tag" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.content' | translate }}</label>
		<div class="col-md-10">
			<ckeditor name="about_us"
				[(ngModel)]="Item.about_us"
				[config]= "{
					height: 480,
					toolbarGroups : [
						{ name: 'clipboard', groups: ['cut', 'copy', 'paster', 'undo', 'redo'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						{ name: 'tools', groups: [ 'Maximize' ] },
						'/',
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' },
						{ name: 'insert' }
					]}"
				debounce="200">
			</ckeditor>
		</div>
	</div>
</div>
