<div class="form-body">
	<div class="form-group" [class.has-error]="!fullname.value">
		<label class="control-label col-md-1">{{ 'ADMIN.fullname' | translate }} <span class="required">*</span></label>
		<div class="col-md-11">
			<input type="text" name="fullname" [(ngModel)]="Item.fullname" #fullname="ngModel" class="form-control" required>
			<span *ngIf="(fullname?.dirty && !Item.fullname) || !is_validated" class="help-block">{{ 'VALIDATE.required' | translate }}</span>
		</div>
	</div>
	<div class="form-group" [class.has-error]="!position.value">
		<label class="control-label col-md-1">{{ 'ADMIN.position' | translate }} <span class="required">*</span></label>
		<div class="col-md-11">
			<input type="text" name="position" [(ngModel)]="Item.position" #position="ngModel" class="form-control" required>
			<span *ngIf="(position?.dirty && !Item.position) || !is_validated" class="help-block">{{ 'VALIDATE.required' | translate }}</span>
		</div>
	</div>
	<!--<div class="form-group">
		<label class="control-label col-md-1">{{ 'ADMIN.description' | translate }}</label>
		<div class="col-md-11">
			<ckeditor name="description"
				[(ngModel)]="Item.description"
				[config]= "{
					toolbarGroups : [
						{ name: 'clipboard', groups: ['cut', 'copy', 'paster', 'undo', 'redo'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						'/',
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="500">
			</ckeditor>
		</div>
	</div>-->
	<div class="form-group">
		<label class="control-label col-md-1">{{ 'ADMIN.content' | translate }}</label>
		<div class="col-md-11">
			<ckeditor name="content"
				[(ngModel)]="Item.content"
				[config]= "{
					toolbarGroups : [
						{ name: 'clipboard', groups: ['cut', 'copy', 'paster', 'undo', 'redo'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						'/',
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="500">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-1">{{ 'ADMIN.image' | translate }}</label>
		<div class="col-md-11">
			<div class="uploader-files">
				<div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="my-drop-zone">
					<div class="no-file" *ngIf="!uploader.queue.length">
						<span>Drag and drop files…</span>
						<span></span>
						<!-- drag & drop file example-->
					</div>
					<ul class="uploader-files-in clearfix">
						<li *ngFor="let item of uploader.queue; let i = index" class="file-item text-center" >
							<div class="item">
								<a style="height: 200px">
									<img *ngIf="item?.edited" [src]="item?.src"  alt="" width="200" height="auto">
									<img *ngIf="!item?.edited" imgPreview [image]="item?._file" class="media-object" />
								</a>
								<!-- <p>{{ item?.file?.name }}</p> -->
								<div class="file-actions clearfix">
								    <a class="file-delete" (click)="onRemoveFile(i, item?._file?.id)"><i class="fa fa-trash-o"></i></a>
								</div>
							</div>

						</li>
					</ul>
				</div>
			</div>
			<div class="uploader">
				<input type="file" ng2FileSelect class="form-control" [uploader]="uploader" (change)="onValidateFormFileType()"/>
				<span class="filename">{{ 'ADMIN.drag_and_drop_files' | translate }}</span>
							<span class="btn btn-uploader">{{ 'ADMIN.choose_file' | translate }}</span>
			</div>
		</div>
	</div>
</div>
