<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">会社管理一覧</h2>
	<section class="g-table-button text-right clearfix">
		<a class="btn btn-style btn-back" [routerLink]="['/home']"><i class="fa fa-arrow-left"></i>&nbsp;戻る</a>
		<a class="btn btn-style btn-add" [routerLink]="['/system/company/create']"><i class="fa fa-plus"></i>&nbsp;追加</a>
	</section>
	<!-- SECTION TABLE -->
	<section class="g-table">
		<table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">会社コード</th>
					<th class="text-center">会社名</th>
					<th class="text-center">会社名(英)</th>
					<th class="text-center">会社ドメイン</th>
					<th class="text-center" colspan="2">処理</th>
				</tr>
			</thead>
		</table>
	</section>
	<!-- END SECTION TABLE -->
</div>

<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">確認メッセージ</h4>
	</modal-header>
	<modal-body>
		<section class="g-filter clearfix">
			削除します、よろしいですか？
		</section>
		<section class="g-button clearfix text-center">
			<a class="btn btn-style btn-back width120" (click)="modal.close()"><i class="fa fa-times"></i> キャンセル</a>
			<button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
		</section>
	</modal-body>
</modal>
