<app-breadcrumb></app-breadcrumb>
<div class="proposal-create">
	<h2 class="s-title">会社情報</h2>
	<form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <section class="clearfix">
	    <div class="g-row clearfix">
	        <div class="field clearfix w50">
		        <label for="">会社コード <span class="note">*</span></label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="code" [(ngModel)]="Item.code" #code="ngModel" class="form-control" required>
		             	<span *ngIf="code?.dirty && code?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">会社名 <span class="note">*</span></label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="name" [(ngModel)]="Item.name" #name="ngModel" class="form-control" required>
		             	<span *ngIf="name?.dirty && name?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">会社名(英)</label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="name_e" [(ngModel)]="Item.name_e" #name_e="ngModel" class="form-control">
		            </div>
		        </div>
	        </div>
	        <div class="field clearfix w50">
		        <label for="">会社ドメイン <span class="note">*</span></label>
		          <div>
		            <div class="input-filed">
		             	<input type="text" name="domain" [(ngModel)]="Item.domain" #domain="ngModel" class="form-control" required>
		             	<span *ngIf="domain?.dirty && domain?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
		            </div>
		        </div>
	        </div>
	     </div>
    </section>
    <section class="g-button clearfix text-center">
      	<button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 追加/更新</button>
 		<a class="btn btn-style btn-back"  [routerLink]="['/system/company']"><i class="fa fa-arrow-left"></i> 閉じる</a>
    </section>
	</form>
</div>
