<div class="sc_row row sc_row-fluid">
<div class="column sc_column_container sc_col-sm-12">
	<div class="sc_column-inner ">
		<div class="wrapper">
			<article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
				<div id="esg-grid-4-1" class="esg-grid">
					<article class="esg-filters esg-singlefilters">
						<div class="esg-filter-wrapper esg-fgc-4">
							<div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1">
								<span>{{'PUBLIC.filter_all' | translate}}</span>
							</div>
							<div class="esg-filterbutton" data-fid="49" data-pid="34" [attr.data-filter]="'filter-' + item.title" *ngFor="let item of Items">
								<span>{{ item.title }}</span>
								<span class="esg-filter-checked">
									<i class="eg-icon-ok-1"></i>
								</span>
							</div>
						</div>
					</article>
					<div class="esg-clear-no-height"></div>
					<ul>
						<ng-template ngFor let-item [ngForOf]="Items">
							<li [ngClass]="'filterall filter-gallery filter-massage-therapy filter-massage-therapy eg-roosevelt-massage-wrapper eg-post-id-209 filter-' + item.title" data-date="1459261695" *ngFor="let image_url of item.image_url; let i = index">
								<div class="esg-media-cover-wrapper">
									<div class="esg-entry-media esg-shifttotop" data-delay="0">
										<img [src]="image_url" alt="">
									</div>
									<div class="esg-entry-cover">
										<div class="esg-overlay esg-fade eg-roosevelt-massage-container" data-delay="0"></div>
										<div class="esg-bottom eg-post-209 eg-roosevelt-massage-element-0 esg-flipup" data-delay="0.09">{{ item.title }}</div>
										<div class="esg-center eg-post-209 eg-roosevelt-massage-element-2-a esg-slideup" data-delay="0.2">
											<a *ngIf="item.preview_images[i]" class="eg-roosevelt-massage-element-2 eg-post-209 esgbox" rel="filter-gallery" [href]="item.preview_images[i]">
												<i class="eg-icon-search"></i>
											</a>
										</div>

									</div>
								</div>
							</li>
						</ng-template>
					</ul>
				</div>
			</article>
		</div>
	</div>
</div>
