<h2 class="s-title">交通費明細</h2>
<section class="g-table mb10">
	<div class="table-responsive">
		<table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">使用日</th>
					<th class="text-center">交通機関</th>
					<th class="text-center">出発</th>
					<th class="text-center">到着</th>
					<th class="text-center">金額</th>
					<th class="text-center">領収書</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="transportArray.length == 0">
					<td class="text-center" colspan="6">{{ 'EMPTY_TABLE' | translate }}</td>
				</tr>
				<tr *ngFor="let obj of transportArray; let i = index;">
					<td class="text-center">{{ obj.use_date }}</td>
					<td *ngFor="let expense of expenseItemOption | label: obj.m_expense_item_id">{{ expense.label }}</td>
					<td>{{ obj.departure_point }}</td>
					<td>{{ obj.arrival_point }}</td>
					<td class="text-right">{{ currency_symbol }} {{ obj.transportation_spec_fee }}</td>
					<td class="text-center">{{ (obj.receipt_flg==1)?'要':'不要' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="space30"></div>