<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-red"></i>
					<span class="caption-subject font-red sbold uppercase">{{ 'ADMIN.faq_management' | translate }}</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form autocomplete="off" class="form-horizontal" role="form">
					<div class="form-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-2 control-label">{{ 'ADMIN.title' | translate }}</label>
									<div class="col-md-8">
										<input type="text" name="title" [(ngModel)]="filter.title" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-2 control-label">{{ 'ADMIN.language' | translate }}</label>
									<div class="col-md-8">
										<select class="form-control" name="language_code" [value]="filter.language_code" (change)="loadServiceCategory($event.target.value,true)">
											<option *ngFor="let option of language_options" [value]="option.id">{{ option.text }}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-2 control-label">{{ 'ADMIN.category' | translate }}</label>
									<div class="col-md-8">
										<select class="form-control" name="service_id" [(ngModel)]="filter.service_id">
											<option></option>
											<option *ngFor="let option of service_options" [value]="option.id">{{ option.text }}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-12 text-center">
								<a class="btn green" [routerLink]="['/admin/faq/form/create']"><i class="fa fa-plus"></i> {{ 'ADMIN.create' | translate }}</a>
								<button class="btn blue" (click)="onSearch()"><i class="fa fa-save"></i> {{ 'ADMIN.search' | translate }}</button>
								<a class="btn default" (click)="onReset()"><i class="fa fa-refresh"></i> {{ 'ADMIN.clear' | translate }}</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover table-checkable order-column" id="tbl-data">
					<thead>
						<tr>
							<th>{{ 'ADMIN.seq_no' | translate }}</th>
							<th>{{ 'ADMIN.service' | translate }}</th>
							<th>{{ 'ADMIN.title' | translate }}</th>
							<th>{{ 'ADMIN.content' | translate }}</th>
							<th>{{ 'ADMIN.language' | translate }}</th>
							<th>Actions</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">{{ 'ADMIN.confirmation' | translate }}</h4>
	</modal-header>
	<modal-body>
		{{ 'ADMIN.are_you_sure_you_want_to_delete_this_item'| translate }}
	</modal-body>
	<modal-footer>
		<button class="btn default" type="button" (click)="modal.close()">{{ 'ADMIN.no' | translate }}</button>
		<button class="btn green" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> {{ 'ADMIN.yes' | translate }}</button>
	</modal-footer>
</modal>
