<div class="sc_row row sc_row-fluid">
	<div class="column sc_column_container sc_col-sm-12">
		<div class="sc_column-inner ">
			<div class="wrapper">
				<div class="sc_section sc_section_block">
					<div class="sc_section_inner">
						<div class="sc_section_content_wrap">
                            <div id="sc_team_332_wrap" class="sc_team_wrap">
                                <div id="sc_team_332" class="sc_team sc_team_style_team-3 aligncenter">
                                    <div class="sc_columns columns_wrap" *ngFor="let item of Items">
                                        <div class="column-1_4 column_padding_bottom" *ngFor="let i of item; let k=index">
                                            <div id="sc_team_332_1" class="sc_team_item">
                                                <div class="sc_team_item_avatar">
                                                    <img alt="" [src]="i.image_url">
                                                    <div class="sc_team_item_hover">
                                                        <a [routerLink]="[ '/' + modules.expert, modules.detail, i.item_key, i.fullname | niceurl]" class="sc_team_item_icon"></a>
                                                    </div>
                                                </div>
                                                <div class="sc_team_item_info">
                                                    <h5 class="sc_team_item_title">
                                                        <a [routerLink]="[ '/' + modules.expert, modules.detail, i.item_key, i.fullname | niceurl]">{{ i.fullname }}</a>
                                                    </h5>
                                                    <div class="sc_team_item_position">{{ i.position }}</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
