<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">精算項目設定</h2>
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">
		<section class="g-filter clearfix">
			<div class="field clearfix w100">
				<label for="">設定項目</label>
				<div *ngFor="let tc of expense_type_code | label: Item.type_code " class="input-text">
					<label class="bold" for="">{{ tc.label }}</label>		
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">項目コード <span class="note">*</span></label>
				<div>
					<input type="text" name="item_name_code" [(ngModel)]="Item.item_name_code" #item_name_code="ngModel" class="form-control" required>
					<span *ngIf="item_name_code?.dirty && item_name_code?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
					<span *ngIf="validateErrors.item_name_code | json" class="error">{{validateErrors.item_name_code | json}}</span>
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">項目名 <span class="note">*</span></label>
				<div>
					<input type="text" name="item" [(ngModel)]="Item.item" #item="ngModel" class="form-control" required>
					<span *ngIf="item?.dirty && item?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">項目名(英)</label>
				<div>
					<input type="text" name="item_e" [(ngModel)]="Item.item_e" #item_e="ngModel" class="form-control">
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">利用有無</label>
				<div class="g-radio">
					<label class="radio-inline label-w80" *ngFor="let obj of enable_flg">
						<input type="radio" name="enable_flg" (click)="Item.enable_flg = obj.value" [checked]="obj.value == Item.enable_flg"> {{ obj.label }}
			<div class="check"></div>
					</label>
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">領収書有無</label>
				<div class="g-radio">
					<label class="radio-inline label-w80" *ngFor="let obj of receipt_flg">
						<input type="radio" name="receipt_flg" (click)="Item.receipt_flg = obj.value" [checked]="obj.value == Item.receipt_flg"> {{ obj.label }}
			<div class="check"></div>
					</label>
				</div>
			</div>
			<div class="field clearfix w100">
				<label for="">出発・到着</label>
				<div class="g-radio">
					<label class="radio-inline label-w80" *ngFor="let obj of arrival_departure_display_flg">
						<input type="radio" name="arrival_departure_display_flg" (click)="Item.arrival_departure_display_flg = obj.value" [checked]="obj.value == Item.arrival_departure_display_flg"> {{ obj.label }}
			<div class="check"></div>
					</label>
				</div>
			</div>
		</section>

		<!-- Nav Tab -->
		<section class="clearfix">
			<ul class="nav nav-tabs mt15" role="tablist">
				<li role="presentation" class="active">
					<a href="#type_0" aria-controls="type_0" role="tab" data-toggle="tab">自社</a>
				</li>
				<li role="presentation">
					<a href="#type_1" aria-controls="type_1" role="tab" data-toggle="tab">自社外</a>
				</li>
			</ul>
			<div class="g-row clearfix">
				<div class="tab-content pt10">
					<!-- Tab 0 -->
				<div role="tabpanel" class="tab-pane fade in active" id="type_0">
					<div class="field clearfix w100">
						<label for="">借方総勘定科目CD</label>
						<div>
							<input type="text" name="01_karikata_sokanjokamoku_cd" class="form-control"
							[(ngModel)]="ItemK01.karikata_sokanjokamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方補助科目CD</label>
						<div>
							<input type="text" name="01_karikata_hojokamoku_cd" class="form-control" [(ngModel)]="ItemK01.karikata_hojokamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方補助内訳科目CD</label>
						<div>
							<input type="text" name="01_karikata_hojouchiwakekamoku_cd" class="form-control" [(ngModel)]="ItemK01.karikata_hojouchiwakekamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方税区分</label>
						<div>
							<input type="text" name="01_karikata_zei_kubun" class="form-control" [(ngModel)]="ItemK01.karikata_zei_kubun">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方税込区分</label>
						<div>
							<input type="text" name="01_karikata_zeikomi_kubun" class="form-control" [(ngModel)]="ItemK01.karikata_zeikomi_kubun">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">金額範囲</label>
						<div class="g-date-from-to clearfix">
							<div class="input-group">
								<input type="text" name="01_bottom_amount" class="form-control border-radius-4" [(ngModel)]="ItemK01.bottom_amount">
							</div>
							<div class="icon-date text-center">~</div>
							<div class="input-group">
								<input type="text" name="01_upper_amount" class="form-control border-radius-4" [(ngModel)]="ItemK01.upper_amount">
							</div>
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">備考</label>
						<div>
							<input type="text" name="01_memo" class="form-control" [(ngModel)]="ItemK01.memo">
						</div>
					</div>
				</div>
				<!-- End Tab 0 -->
				<!-- Tab 1 -->
				<div role="tabpanel" class="tab-pane fade" id="type_1">
					<div class="field clearfix w100">
						<label for="">借方総勘定科目CD</label>
						<div>
							<input type="text" name="90_karikata_sokanjokamoku_cd" class="form-control"
							[(ngModel)]="ItemK90.karikata_sokanjokamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方補助科目CD</label>
						<div>
							<input type="text" name="90_karikata_hojokamoku_cd" class="form-control" [(ngModel)]="ItemK90.karikata_hojokamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方補助内訳科目CD</label>
						<div>
							<input type="text" name="90_karikata_hojouchiwakekamoku_cd" class="form-control" [(ngModel)]="ItemK90.karikata_hojouchiwakekamoku_cd">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方税区分</label>
						<div>
							<input type="text" name="90_karikata_zei_kubun" class="form-control" [(ngModel)]="ItemK90.karikata_zei_kubun">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">借方税込区分</label>
						<div>
							<input type="text" name="90_karikata_zeikomi_kubun" class="form-control" [(ngModel)]="ItemK90.karikata_zeikomi_kubun">
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">金額範囲</label>
						<div class="g-date-from-to clearfix">
							<div class="input-group">
								<input type="text" name="90_bottom_amount" class="form-control border-radius-4" [(ngModel)]="ItemK90.bottom_amount">
							</div>
							<div class="icon-date text-center">~</div>
							<div class="input-group">
								<input type="text" name="90_upper_amount" class="form-control border-radius-4" [(ngModel)]="ItemK90.upper_amount">
							</div>
						</div>
					</div>
					<div class="field clearfix w100">
						<label for="">備考</label>
						<div>
							<input type="text" name="90_memo" class="form-control" [(ngModel)]="ItemK90.memo">
						</div>
					</div>
				</div>
				<!-- End Tab 1 -->
			</div>
			</div>
		</section>
		<!-- End Nav Tab -->
		<section class="g-button clearfix text-center">
		<button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 登録</button>
		 <a [routerLink]="['/system/expense']" class="btn btn-style btn-back"><i class="fa fa-arrow-left"></i> 閉じる</a>
	 </section>
	</form>
</div>
