<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">精算項目一覧</h2>
	<form autocomplete="off">
		<!-- SECTION FILTER -->
		<section class="g-filter clearfix">
			<div class="g-row clearfix">
				<div class="field clearfix w100">
					<label>設定項目</label>
					<div class="g-radio">
						<label class="radio-inline" *ngFor="let obj of expense_type_code">
							<input type="radio" name="type_code" (click)="onChange(obj.value)" [checked]="obj.value == filter.type_code"> {{ obj.label }}
                        	<div class="check"></div>
						</label>
					</div>
				</div>
			</div>
		</section>
		<!-- END SECTION FILTER -->
		<!-- SECTION BUTTON -->
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-search" type="button" (click)="onSearch()" id="btn_submit_form"><i class="fa fa-search"></i> 検索</button>
			<button class="btn btn-style btn-clear" type="button" (click)="onReset()"><i class="fa fa-eraser"></i> クリア</button>
			<a class="btn btn-style btn-back" [routerLink]="['/home']"><i class="fa fa-arrow-left"></i> 戻る</a>
		</section>
		<!-- END SECTION BUTTON -->
	</form>
	<section class="g-table-button text-right">
		<a class="btn btn-style btn-add" [routerLink]="['/system/expense/create']" [queryParams]="{type_code:filter.type_code}"><i class="fa fa-plus"></i>&nbsp;追加</a>
	</section>
	<!-- SECTION TABLE -->
	<section class="g-table">
		<table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">項目コード</th>
					<th class="text-center">メニュー名</th>
					<th class="text-center">メニュー名(英)</th>
					<th class="text-center">利用有無</th>
					<th class="text-center">領収書有無</th>
					<th class="text-center" colspan="2">編集</th>
				</tr>
			</thead>
		</table>
	</section>
	<!-- END SECTION TABLE -->
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            削除します、よろしいですか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="modal.close()"><i class="fa fa-times"></i> キャンセル</a>
        	<button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>