<div class="form-body">
	<div class="form-group" [class.has-error]="!title.value">
		<label class="control-label col-md-1">Title <span class="required">*</span></label>
		<div class="col-md-11">
			<input type="text" name="title" [(ngModel)]="Item.title" #title="ngModel" class="form-control" required>
			<span *ngIf="title?.dirty && title?.errors?.required" class="help-block">{{ 'VALIDATE.required' | translate }}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-1">Description</label>
		<div class="col-md-11">
			<ckeditor name="description"
				[(ngModel)]="Item.description"
				[config]= "{
					toolbarGroups : [
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						'/',
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="1000">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-1">Content</label>
		<div class="col-md-11">
			<ckeditor name="content"
				[(ngModel)]="Item.content"
				[config]= "{
					toolbarGroups : [
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						'/',
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="1000">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-1">Image</label>
		<div class="col-md-11">
			<div class="uploader">
				<input type="file" ng2FileSelect class="form-control" [uploader]="uploader" (change)="onValidateFormFileType()"/>
			</div>
		</div>
	</div>
</div>
