<div class="form-body">
	<div class="form-group" [class.has-error]="!Item.title">
		<label class="control-label col-md-2">{{ 'ADMIN.title' | translate }} <span class="required">*</span></label>
		<div class="col-md-10">
			<input type="text" name="title" [(ngModel)]="Item.title" #title="ngModel" class="form-control" required>
			<span *ngIf="(title?.dirty && !Item.title) || !is_validated" class="help-block">{{ 'VALIDATE.required' | translate }}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.order' | translate }}</label>
		<div class="col-md-10">
			<input type="number" name="order" [(ngModel)]="Item.order" class="form-control" min="0" [ngStyle]="{ 'width': '10%' }">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.description' | translate }}</label>
		<div class="col-md-10">
			<ckeditor name="description"
				[(ngModel)]="Item.description"
				[config]= "{
					toolbarGroups : [
						{ name: 'clipboard', groups: ['cut', 'copy', 'paster', 'undo', 'redo'] },
						{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
						{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
						{ name: 'tools', groups: [ 'Maximize' ] },
						'/',
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' },
						{ name: 'insert' }
					]}"
				debounce="200">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_title' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_title" [(ngModel)]="Item.meta_title" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_description' | translate }}</label>
		<div class="col-md-10">
			<textarea name="meta_description" [(ngModel)]="Item.meta_description" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_keyword' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_keyword" [(ngModel)]="Item.meta_keyword" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_tag' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_tag" [(ngModel)]="Item.meta_tag" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.image' | translate }}</label>
		<div class="col-md-10">
			<div class="uploader-files">
				<div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="my-drop-zone">
					<div class="no-file" *ngIf="!uploader.queue.length">
						<span>{{ 'ADMIN.drag_and_drop_files' | translate }}…</span>
						<span></span>
						<!-- drag & drop file example-->
					</div>
					<ul class="uploader-files-in clearfix">
						<li *ngFor="let item of uploader.queue; let i = index" class="file-item text-center" >
							<div class="item">
								<a style="height: 200px">
									<img *ngIf="item?.edited" [src]="item?.src"  alt="" width="200" height="auto">
									<img *ngIf="!item?.edited" imgPreview [image]="item?._file" class="media-object" />
								</a>
								<!-- <p>{{ item?.file?.name }}</p> -->
								<div class="file-actions clearfix">
								    <a class="file-delete" (click)="onRemoveFile(i, item?._file?.id)"><i class="fa fa-trash-o"></i></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="uploader">
				<input type="file" ng2FileSelect class="form-control" [uploader]="uploader" (change)="onValidateFormFileType()"/>
				<span class="filename">{{ 'ADMIN.drag_and_drop_files' | translate }}</span>
				<span class="btn btn-uploader">{{ 'ADMIN.choose_file' | translate }}</span>
			</div>
		</div>
	</div>
</div>
