<div class="form-body">
	<div class="form-group" [class.has-error]="!Item.title">
		<label class="control-label col-md-1">{{ 'ADMIN.title' | translate }} <span class="required">*</span></label>
		<div class="col-md-11">
			<input type="text" name="title" [(ngModel)]="Item.title" #title="ngModel" class="form-control" required>
			<span *ngIf="(title?.dirty && !Item.title) || !is_validated" class="help-block">{{ 'VALIDATE.required' | translate }}</span>
		</div>

	</div>
	<div class="form-group">
		<label class="control-label col-md-1">{{ 'ADMIN.parent_category' | translate }} </label>
		<div class="col-md-11">
			<select class="form-control" [(ngModel)]="Item.parent">
	            <option *ngFor="let option of serviceCategoryOptions" [value]="option.id">{{ option.text }}</option>
            </select>
		</div>

    </div>
	<div class="form-group">
		<label class="control-label col-md-1">{{ 'ADMIN.description' | translate }}</label>
		<div class="col-md-11">
			<ckeditor name="description"
				[(ngModel)]="Item.description"
				debounce="1000">
			</ckeditor>
		</div>
	</div>
</div>
