<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered">
			<div class="portlet-title"></div>
			<div class="portlet-body">
				<!-- table-toolbar -->
				<div class="table-toolbar">
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group pull-right">

							</div>
						</div>
					</div>
				</div>
				<!-- end table-toolbar -->
				<table class="table table-striped table-bordered table-hover table-checkable order-column" id="tbl-data">
				</table>
			</div>
		</div>
	</div>
</div>
<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">確認メッセージ</h4>
	</modal-header>
	<modal-body>
		<section class="g-filter clearfix">
			削除します、よろしいですか？
		</section>
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-back" type="button" (click)="modal.close()">キャンセル</button>
			<button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
		</section>
</modal-body>
</modal>
