<div class="header_mobile">
            <div class="content_wrap">
                <div class="menu_button icon-menu"></div>
                <div class="logo">
                    <a href="index.html">
                        <img src="images/Logo_mobile.png" class="logo_main" alt="" >
                    </a>
                </div>
            </div>
            <div class="side_wrap">
                <div class="close">Close</div>
                <div class="panel_top">
                    <nav class="menu_main_nav_area">
                        <ul class="menu_main_nav">
                            <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a>Giới thiệu</a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-menu-item"><a href="about-us.html">White Clinic</a></li>
                                    <li class="menu-item"><a href="list-staffs.html">Đội ngũ bác sĩ</a></li>
                                    <li class="menu-item"><a href="list-equipments.html">Trang Thiết Bị</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="list-services.html">Dịch vụ</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children"><a href="list-services.html#skin">Da Liễu</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="single-post.html">Trắng Da</a></li>
                                            <li class="menu-item"><a href="single-post.html">Trị Nám - Tàn Nhang</a></li>
                                            <li class="menu-item"><a href="single-post.html">Trị Mụn</a></li>
                                            <li class="menu-item"><a href="single-post.html">Trị Sẹo</a></li>
                                            <li class="menu-item"><a href="single-post.html">Trẻ Hóa Da</a></li>
                                            <li class="menu-item"><a href="single-post.html">Chăm Sóc Da</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="list-services.html">Nha Khoa</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="single-post.html">Implant</a></li>
                                            <li class="menu-item"><a href="single-post.html">Thẩm Mỹ Phục Hình Răng</a></li>
                                            <li class="menu-item"><a href="single-post.html">Niềng Răng</a></li>
                                            <li class="menu-item"><a href="single-post.html">Phẫu Thuật</a></li>
                                            <li class="menu-item"><a href="single-post.html">Nha Khoa Trẻ Em</a></li>
                                            <li class="menu-item"><a href="single-post.html">Nha Khoa Tổng Quát</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item"><a href="faq.html">Câu hỏi thường gặp</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="list-news.html">Tin Tức</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="list-news.html">Khuyến mãi</a></li>
                                    <li class="menu-item"><a href="list-news.html">Sự Kiện</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="before-after.html">Trước & Sau</a></li>
                                    <li class="menu-item"><a href="contact.html">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="panel_middle">
                    <div class="contact_field contact_phone">
                        <span class="contact_icon icon-icon_phone"></span>
                        <span class="contact_label contact_phone">+1 800 245 39 25</span>
                    </div>
                    <div class="contact_field contact_mail">
                        <span class="contact_icon icon-mail"></span>
                        <span class="contact_email">info@yoursite.com</span>
                    </div>
                    <div class="top_panel_top_open_hours icon-clock">Mon - Fry 10:00 - 18:00</div>
                    <div class="top_panel_top_user_area">
                        <ul class="menu_user_nav">
                        </ul>
                    </div>
                </div>
                <div class="panel_bottom">
                    <div class="contact_socials">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_gplus">
                                    <span class="icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_instagramm">
                                    <span class="icon-instagramm"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </div>