<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <div class="logo">
            <a [routerLink]="['/']"><img alt="" class="logo_main" src="./assets/public/images/Logo_mobile.png"></a>
        </div>
    </div>
    <div class="side_wrap">
        <div class="close">
            Close
        </div>
        <div class="panel_top">

            <app-public-general-partial-navigation></app-public-general-partial-navigation>
        </div>
        <div class="panel_middle">
            <div class="contact_field contact_phone">
                <span class="contact_icon icon-icon_phone"></span> <span class="contact_label contact_phone">028 3930 9393</span>
            </div>
            <div class="contact_field contact_mail">
                <span class="contact_icon icon-mail"></span> <span class="contact_email">info@yoursite.com</span>
            </div>
            <div class="top_panel_top_user_area">
                <ul class="menu_user_nav"></ul>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</div>
