<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <div class="logo">
            <a [routerLink]="['/']"><img *ngIf="options.logo" alt="" class="logo_main" [src]="options.logo['logo_url']"></a>
        </div>
    </div>
    <div class="side_wrap">
        <div class="close">Close</div>
        <div class="panel_top">
            <app-public-general-partial-navigation></app-public-general-partial-navigation>
        </div>
        <div class="panel_middle">
            <div class="contact_field contact_phone">
                <span class="contact_icon icon-icon_phone"></span>
                <a *ngIf="options.phone" [href]="'tel:' + options.phone['value']"><span class="contact_label contact_phone">{{ options.phone['value'] }}</span></a>
            </div>
            <div class="contact_field contact_mail">
                <span class="contact_icon icon-mail"></span>
                <a *ngIf="options.email" [href]="'mailto:' + options.email['value']"><span class="contact_email">{{ options.email['value'] }}</span></a>
            </div>
            <div class="top_panel_top_user_area">
                <ul class="menu_user_nav"></ul>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</div>
