<div class="home page body_filled article_style_stretch scheme_original preloader top_panel_above sidebar_hide sidebar_outer_hide sc_responsive" [class.slider]="template == 'slide'" [class.no_slider]="template == 'default'">
    <div class="body_wrap">
        <div class="page_wrap" [ngSwitch]="template">
            <div class="top_panel_fixed_wrap"></div>
            <!-- Header -->
            <app-public-general-header></app-public-general-header>
            <!-- Header -->

            <!-- Header Mobile -->
            <app-public-general-header-mobile></app-public-general-header-mobile>
            <!-- Header Mobile -->


            <!-- Home Main Slide -->
            <app-public-home-slide></app-public-home-slide>
            <!-- Home Main Slide -->

            <!-- Background Header -->
            <section class="top_panel_image">
                <div class="top_panel_image_hover"></div>
                <div class="top_panel_image_header">
                    <h1 class="top_panel_image_title">{{ module_name }}</h1>
                </div>
            </section>
            <!-- Background Header -->


            <div [ngClass]="page_content_wrap" [class.page_paddings_no]="template == 'slide'">
                <div class="content_wrap">
                    <div class="content">
                        <article class="post_item post_item_single page">
                            <section class="post_content">
                                <router-outlet (activate)=onActivate($event)></router-outlet>

                                <!-- Footer -->
                                <app-public-general-footer></app-public-general-footer>
                                <!-- Footer -->
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Chat - Connect With Us -->
    <app-public-general-chat></app-public-general-chat>
    <!-- Chat - Connect With Us -->
</div>


