<div class="body_wrap">
    <div class="page_wrap">
        <div class="top_panel_fixed_wrap"></div>
        <!-- Header -->
        <app-public-general-header></app-public-general-header>
        <!-- Header -->

        <!-- Header Mobile -->
        <app-public-general-header-mobile></app-public-general-header-mobile>
        <!-- Header Mobile -->

        <!-- Home Main Slide -->
        <app-public-home-slide></app-public-home-slide>
        <!-- Home Main Slide -->

        <div class="page_content_wrap page_paddings_no">
            <div class="content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page">
                        <section class="post_content">
                            <router-outlet></router-outlet>

                            <!-- Footer -->
                            <app-public-general-footer></app-public-general-footer>
                            <!-- Footer -->
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Chat - Connect With Us -->
<app-public-general-chat></app-public-general-chat>
<!-- Chat - Connect With Us -->


