<h2 class="s-title">申請内容</h2>
<section class="g-basic-info clearfix">
	<div class="g-row clearfix">
		<div class="field clearfix w100">
			<label>出張エリア <span class="note">*</span></label>
			<div class="input-select2">
				<div class="select-box select-box-1 hidden-xs-up"> <!-- Hide element -->
					<ng-select
						name="business_trip_class"
						[items]="triptypeOption"
						[active]="Item.business_trip_class | selectobject: triptypeOption"
						[allowClear]="false"
						(ngModel)="Item.business_trip_class"
						[ngModel]="Item.business_trip_class | selectobject: triptypeOption"
						placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
	                    #business_trip_class
						required>
	                </ng-select>
                </div>
				<div class="select-box select-box-2" style="margin-left: 0px" [style.width]="width">
					<ng-select
	                    name="m_trip_area_id"
	                    [items]="tripareaOption"
	                    [active]="Item.m_trip_area_id | selectobject: tripareaOption"
	                    [allowClear]="false"
	                    (selected)="onChangeSelect($event, 'm_trip_area_id')"
	                    (ngModel)="Item.m_trip_area_id"
	                    [ngModel]="Item.m_trip_area_id | selectobject: tripareaOption"
	                    placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
						required>
                	</ng-select>
					<span *ngIf="is_draft_validated && !Item.m_trip_area_id" class="error">{{ 'VALIDATE.required' | translate }}</span>
				</div>
				<div *ngIf="Item.business_trip_class == 2" style="float: left; height: 34px; line-height: 34px; margin-left: 10px;">
					<a (click)="modal.open('sm')">海外エリアリスト</a>
				</div>
			</div>
		</div>
		<div class="field clearfix w100">
			<label>出張先</label>
			<div>
				<input type="text" name="business_trip_destination" [(ngModel)]="Item.business_trip_destination" class="form-control">
			</div>
		</div>
		<div class="field clearfix w50">
			<label>宿泊先</label>
			<div>
				<input type="text" name="accommodation" [(ngModel)]="Item.accommodation" class="form-control"> 
			</div>
		</div>
		<div class="field clearfix w50">
			<label>連絡先</label>
			<div>
				<input type="text" name="contact_address" [(ngModel)]="Item.contact_address" class="form-control">
			</div>
		</div>
		<div class="field-special clearfix w100">
			<div class="field">
				<label>出発日 <span class="note">*</span></label>
				<div>
					<div class="input-group" [class.has-error]="!departure_date.value">
						<input type="text" name="departure_date" [ngModel]="Item.departure_date | formatdate" (ngModelChange)="Item.departure_date = $event" #departure_date (blur)="Item.departure_date = departure_date.value" class="form-control daterange-single">
						<span class="input-group-addon"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="field">
				<label>交通機関 <span class="note">*</span></label>
				<div class="input-select2">
					<ng-select
	                    name="departure_transportation_id"
	                    [items]="expenseItemOption"
	                    [active]="Item.departure_transportation_id | selectobject: expenseItemOption"
	                    [allowClear]="false"
	                    (selected)="onChangeSelect($event, 'departure_transportation_id')"
	                    (ngModel)="Item.departure_transportation_id"
	                    [ngModel]="Item.departure_transportation_id | selectobject: expenseItemOption"
	                    placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
	                    required>
	                </ng-select>
				</div>
			</div>
			<div class="field">
				<label>時刻 <span class="note">*</span></label>
				<div [class.has-error]="!departure_time.value">
					<input type="text" name="departure_time" [ngModel]="Item.departure_time" #departure_time="ngModel" (blur)="Item.departure_time = $event.target.value" class="form-control timepicker">
				</div>
			</div>
			<div class="field">
				<label>便名</label>
				<div>
					<input type="text" name="departure_flight" [(ngModel)]="Item.departure_flight" class="form-control">
				</div>
			</div>
		</div>
		<div class="field-special clearfix w100">
			<div class="field">
				<label>到着日 <span class="note">*</span></label>
				<div>
					<div class="input-group" [class.has-error]="!end_date.value">
						<input type="text" name="end_date" [ngModel]="Item.end_date | formatdate" (ngModelChange)="Item.end_date = $event" #end_date (blur)="Item.end_date = end_date.value" class="form-control daterange-single">
						<span class="input-group-addon"><i class="icon-calendar"></i></span>
					</div>
				</div>
			</div>
			<div class="field">
				<label>交通機関 <span class="note">*</span></label>
				<div class="input-select2">
					<ng-select
	                    name="end_transportation_id"
	                    [items]="expenseItemOption"
	                    [active]="Item.end_transportation_id | selectobject: expenseItemOption"
	                    [allowClear]="false"
	                    (selected)="onChangeSelect($event, 'end_transportation_id')"
	                    (ngModel)="Item.end_transportation_id"
						[ngModel]="Item.end_transportation_id | selectobject: expenseItemOption"
	                    placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
	                    required>
	                </ng-select>
				</div>
			</div>
			<div class="field">
				<label>時刻 <span class="note">*</span></label>
				<div [class.has-error]="!end_time.value">
					<input type="text" name="end_time" [ngModel]="Item.end_time" #end_time="ngModel" (blur)="Item.end_time = $event.target.value" class="form-control timepicker">
				</div>
			</div>
			<div class="field">
				<label>便名</label>
				<div>
					<input type="text" name="end_flight" [(ngModel)]="Item.end_flight" class="form-control">
				</div>
			</div>
		</div>
		<div class="field clearfix w100">
			<label>備考</label>
			<div>
				<textarea name="memo" class="form-control input-long" [(ngModel)]="Item.memo"></textarea>
			</div>
		</div>
		<div class="field clearfix w50">
			<label>概算金額</label>
			<div class="field-money">
				<input type="text" name="approximate_amount" class="form-control format_number" [(ngModel)]="Item.approximate_amount" (keyup)="Item.approximate_amount = $event.target.value">
				<span class="i-money">{{ currency_symbol }}</span>
			</div>
		</div>
		<div class="field clearfix w50">
			<div class="input-text">※旅費、宿泊、日当を含む概算金額を入力してください</div>
		</div>
	</div>
</section>

<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">海外エリアリスト</h4>
	</modal-header>
	<modal-body>
		<section class="g-filter clearfix">
			<div class="field clearfix w100">
				<strong>海外エリアＡ</strong>
				<br/>
				<p>イギリス、フランス、アメリカ、スウェーデン、ノルウェー、スイス、デンマーク</p>
				<p>フィンランド、カナダ、オーストラリア、シンガポール、イタリア、スペイン、</p>
				<p>ドイツ、アラブ首長国連邦、ブラジル、ロシア</p>
			</div>
			<div class="field clearfix w100">
				<strong>海外エリアB</strong>
				<br/>
				<p>韓国、中国、台湾、対象国A以外のEU諸国、南米諸国、アフリカ諸国</p>
			</div>
			<div class="field clearfix w100">
				<strong>海外エリアC</strong>
				<br/>
				<p>対象国A、B以外の国</p>
			</div>
		</section>
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-back" type="button" (click)="modal.close()" [ngStyle]="{'width':'auto'}">
				<i class="fa fa-times"></i> キャンセル
			</button>
		</section>
	</modal-body>
</modal>