<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_home-1">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_1_1_wrapper">
        <div class="rev_slider fullwidthabanner" data-version="5.2.6" id="rev_slider_1_1">
            <ul>
                <li *ngFor="let item of Items"  data-transition="fade" (click)="openUrl(item.url)">
                    <img [src]="item.image_url" alt="Sky" class="rev-slidebg">
                    <!--
                    <div class="tp-caption tp-resizeme" data-height="none" data-hoffset="['0','0','0','1']" data-responsive_offset="on" data-start="1000" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1200;e:Power2.easeInOut;" data-transform_out="auto:auto;s:1000;" data-voffset="['-117','-117','-117','-167']" data-whitespace="nowrap" data-width="none" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" >
                        <img alt="" data-hh="['20px','20px','20px','20px']" data-no-retina="" data-ww="['169px','169px','169px','169px']" height="20" src="./assets/public/images/Vector-Smart-Object-6.png" width="169">
                    </div>
                    -->
                    <div class="tp-caption black tp-resizeme"
                        data-fontsize="['68','68','68','55']"
                        data-height="['91','91','91','none']"
                        data-hoffset="['0','0','0','6']"
                        data-lineheight="['90','90','90','55']"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                        data-responsive_offset="on"
                        data-splitin="none"
                        data-splitout="none"
                        data-start="1000"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power3.easeInOut;"
                        data-transform_out="auto:auto;s:1000;"
                        data-voffset="['-67','-67','-67','-123']"
                        data-whitespace="normal"
                        data-width="['465','465','465','466']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']">
                        {{ item.title}}
                    </div>
                    <div
                        class="tp-caption black tp-resizeme"
                        data-fontsize="['17','17','17','20']"
                        data-height="none"
                        data-hoffset="['1','1','1','3']"
                        data-lineheight="['30','30','30','25']"
                        data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="1000"
                        data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:2500;e:Power3.easeInOut;"
                        data-transform_out="auto:auto;s:1000;" data-voffset="['63','63','63','70']"
                        data-whitespace="['nowrap','nowrap','nowrap','normal']" data-width="['none','none','none','550']"
                        data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']">
                        {{ item.description }}
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</section>
