<div class="portlet light bordered">
	<div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-red"></i>
          <span class="caption-subject font-red sbold uppercase">{{ 'ADMIN.equipment_management' | translate }}</span>
        </div>
  	</div>
	<div class="portlet-body form">
		<div class="tabable-line boxless margin-bottom-20">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab_vi" class="link-tab" data-toggle="tab" data-lang="vi" aria-expanded="true"> Tiếng Việt </a>
				</li>
				<li class="">
					<a href="#tab_en" class="link-tab" data-toggle="tab" data-lang="en" aria-expanded="false"> English </a>
				</li>
			</ul>
		</div>
		<div class="tab-content">
			<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
				<div class="tab-pane active" id="tab_vi">
					<app-faq-form-content *ngIf="language_code == 'vi'" [Item]="Item_vi" [is_validated] = "is_validated" (file)="onSetImage($event)"></app-faq-form-content>
				</div>
				<div class="tab-pane" id="tab_en">
					<app-faq-form-content *ngIf="language_code == 'en'" [Item]="Item_en" [is_validated] = "is_validated" (file)="onSetImage($event)"></app-faq-form-content>
				</div>
				<div class="form-actions">
					<div class="row">
						<div class="col-md-offset-5 col-md-7">
							<button class="btn green" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> {{ 'ADMIN.save' | translate }}</button>
							<a class="btn default" [routerLink]="['/admin/faq/list']"><i class="fa fa-arrow-left"></i> {{ 'ADMIN.back' | translate }}</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>