<app-breadcrumb></app-breadcrumb>
<div class="proposal-create">
    <h2 class="s-title">出張エリア設定画面</h2>
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
        <section class="clearfix">
            <div class="g-row clearfix">
                <div class="field clearfix w100">
                    <label for="">種別</label>
                    <div class="input-select2">
                        <ng-select
                            name="type"
                            [items]="tripareaOptions"
                            [active]="Item.type | selectobject: tripareaOptions"
                            (selected)="onNgSelected($event, 'type')"
                            (removed)="onNgRemoved($event, 'type')"
                            (ngModel)="Item.type"
                            [ngModel]="Item.type | selectobject: tripareaOptions"
                            placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                            #type
                            required>
                        </ng-select>
                        <span *ngIf="type?.dirty && type?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">エリア <span class="note">*</span></label>
                      <div>
                        <div class="input-filed">
                            <input type="text" name="name" class="form-control" [(ngModel)]="Item.name" required>
                            <span *ngIf="name?.dirty && name?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="">エリア(英)</label>
                      <div>
                        <div class="input-filed">
                            <input type="text" name="name_e" class="form-control" [(ngModel)]="Item.name_e">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="g-button clearfix text-center">
            <button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 追加/更新</button>
            <a class="btn btn-style btn-back" [routerLink]="['/system/trip-benefits']"><i class="fa fa-arrow-left"></i> 閉じる</a>
        </section>
    </form>
</div>
