<div class="page-wrapper">
	<!-- BEGIN HEADER -->
	<app-admin-header></app-admin-header>
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<app-admin-main-nav></app-admin-main-nav>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content"><!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <app-admin-breadcrumb></app-admin-breadcrumb>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title"> Material Design Form Validation
                        <small>material design form validation</small>
                    </h1>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Basic Validation</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="tabbable-line boxless margin-bottom-20">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1" data-toggle="tab" aria-expanded="true"> Tiếng Việt </a>
                                                </li>
                                                <li class="">
                                                    <a href="#tab_2" data-toggle="tab" aria-expanded="false"> English </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <form action="#" id="form_sample_2">
                                                        <div class="form-body">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" name="name" id="form_control_1" placeholder="Enter your name">
                                                                <label for="form_control_1">Name 1
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <span class="help-block">Enter your name...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="email" placeholder="Enter your email">
                                                                <label for="form_control_1">Email
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <span class="help-block">Please enter your email...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="url" placeholder="Enter URL">
                                                                <label for="form_control_1">URL</label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="number" placeholder="Enter number">
                                                                <label for="form_control_1">Number</label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" name="digits" placeholder="Enter digits">
                                                                    <label for="form_control_1">Digits</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" name="email2" placeholder="Enter your email">
                                                                    <label for="form_control_1">Email</label>
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <div class="input-group-control">
                                                                        <input type="text" class="form-control" name="number2" placeholder="Placeholder">
                                                                        <label for="form_control_1">Enter your number</label>
                                                                    </div>
                                                                    <span class="input-group-btn btn-right">
                                                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Action
                                                                            <i class="fa fa-angle-down"></i>
                                                                        </button>
                                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                                            <li>
                                                                                <a href="javascript:;">Action</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:;">Another action</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:;">Something else here</a>
                                                                            </li>
                                                                            <li class="divider"> </li>
                                                                            <li>
                                                                                <a href="javascript:;">Separated link</a>
                                                                            </li>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <select class="form-control" name="delivery">
                                                                    <option value="">Select</option>
                                                                    <option value="1">Option 1</option>
                                                                    <option value="2">Option 2</option>
                                                                    <option value="3">Option 3</option>
                                                                </select>
                                                                <label for="form_control_1">Warning State</label>
                                                                <span class="help-block">Some help goes here...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <textarea class="form-control" name="memo" rows="3"></textarea>
                                                                <label for="form_control_1">Memo</label>
                                                                <span class="help-block">Some help goes here...</span>
                                                            </div>
                                                            <div class="form-group form-md-checkboxes">
                                                                <label for="form_control_1">Checkboxes</label>
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_1" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_1">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_2" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_3" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_3">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-checkboxes">
                                                                <label for="form_control_1">Checkboxes</label>
                                                                <div class="md-checkbox-inline">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_4" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_4">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_5" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_5">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_6" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_6">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-radios">
                                                                <label for="form_control_1">Radios</label>
                                                                <div class="md-radio-list">
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox112_6" name="radio1" value="1" class="md-radiobtn">
                                                                        <label for="checkbox112_6">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox112_7" name="radio1" value="2" class="md-radiobtn">
                                                                        <label for="checkbox112_7">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-radios">
                                                                <label for="form_control_1">Radios</label>
                                                                <div class="md-radio-inline">
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_8" name="radio2" value="121" class="md-radiobtn">
                                                                        <label for="checkbox2_8">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_9" name="radio2" value="112" class="md-radiobtn">
                                                                        <label for="checkbox2_9">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_10" name="radio2" value="112" class="md-radiobtn">
                                                                        <label for="checkbox2_10">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="btn green">Validate</button>
                                                                    <button type="reset" class="btn default">Reset</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="tab-pane" id="tab_2">
                                                    <form action="#" id="form_sample_2">
                                                        <div class="form-body">
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" name="name" id="form_control_1" placeholder="Enter your name">
                                                                <label for="form_control_1">Name
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <span class="help-block">Enter your name...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="email" placeholder="Enter your email">
                                                                <label for="form_control_1">Email
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <span class="help-block">Please enter your email...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="url" placeholder="Enter URL">
                                                                <label for="form_control_1">URL</label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <input type="text" class="form-control" id="form_control_1" name="number" placeholder="Enter number">
                                                                <label for="form_control_1">Number</label>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" name="digits" placeholder="Enter digits">
                                                                    <label for="form_control_1">Digits</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" name="email2" placeholder="Enter your email">
                                                                    <label for="form_control_1">Email</label>
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <div class="input-group">
                                                                    <div class="input-group-control">
                                                                        <input type="text" class="form-control" name="number2" placeholder="Placeholder">
                                                                        <label for="form_control_1">Enter your number</label>
                                                                    </div>
                                                                    <span class="input-group-btn btn-right">
                                                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Action
                                                                            <i class="fa fa-angle-down"></i>
                                                                        </button>
                                                                        <ul class="dropdown-menu pull-right" role="menu">
                                                                            <li>
                                                                                <a href="javascript:;">Action</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:;">Another action</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:;">Something else here</a>
                                                                            </li>
                                                                            <li class="divider"> </li>
                                                                            <li>
                                                                                <a href="javascript:;">Separated link</a>
                                                                            </li>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <select class="form-control" name="delivery">
                                                                    <option value="">Select</option>
                                                                    <option value="1">Option 1</option>
                                                                    <option value="2">Option 2</option>
                                                                    <option value="3">Option 3</option>
                                                                </select>
                                                                <label for="form_control_1">Warning State</label>
                                                                <span class="help-block">Some help goes here...</span>
                                                            </div>
                                                            <div class="form-group form-md-line-input">
                                                                <textarea class="form-control" name="memo" rows="3"></textarea>
                                                                <label for="form_control_1">Memo</label>
                                                                <span class="help-block">Some help goes here...</span>
                                                            </div>
                                                            <div class="form-group form-md-checkboxes">
                                                                <label for="form_control_1">Checkboxes</label>
                                                                <div class="md-checkbox-list">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_1" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_1">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_2" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_2">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_3" name="checkboxes1[]" value="1" class="md-check">
                                                                        <label for="checkbox2_3">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-checkboxes">
                                                                <label for="form_control_1">Checkboxes</label>
                                                                <div class="md-checkbox-inline">
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_4" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_4">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_5" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_5">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-checkbox">
                                                                        <input type="checkbox" id="checkbox2_6" name="checkboxes2[]" value="1" class="md-check">
                                                                        <label for="checkbox2_6">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-radios">
                                                                <label for="form_control_1">Radios</label>
                                                                <div class="md-radio-list">
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox112_6" name="radio1" value="1" class="md-radiobtn">
                                                                        <label for="checkbox112_6">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox112_7" name="radio1" value="2" class="md-radiobtn">
                                                                        <label for="checkbox112_7">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group form-md-radios">
                                                                <label for="form_control_1">Radios</label>
                                                                <div class="md-radio-inline">
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_8" name="radio2" value="121" class="md-radiobtn">
                                                                        <label for="checkbox2_8">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 1 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_9" name="radio2" value="112" class="md-radiobtn">
                                                                        <label for="checkbox2_9">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 2 </label>
                                                                    </div>
                                                                    <div class="md-radio">
                                                                        <input type="radio" id="checkbox2_10" name="radio2" value="112" class="md-radiobtn">
                                                                        <label for="checkbox2_10">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> Option 3 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="btn green">Validate</button>
                                                                    <button type="reset" class="btn default">Reset</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- BEGIN FORM-->

                                    <!-- END FORM-->
                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>
                    </div>
                </div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<app-admin-footer></app-admin-footer>
	<!-- END FOOTER -->
</div>
