<div class="sc_row row sc_custom_1459346050873" data-sc-full-width="true" data-sc-full-width-init="false">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner">
            <div class="wrapper">
                <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="sc_section sc_section_block">
                    <div class="sc_section_inner">
                        <h6 class="sc_item_title sc_section_subtitle sc_item_subtitle">{{ 'PUBLIC.equipment' | translate }}</h6>
                        <div class="sc_section_content_wrap">
                            <div class="sc_empty_space em_height_2">
                                <span class="sc_empty_space_inner"></span>
                            </div>
                            <article class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
                                <div class="sc_section sc_section_block aligncenter max_width cu_width-1080">
                                    <div class="esg-grid" id="esg-grid-1-1">
                                        <ul>
                                            <li *ngFor="let item of Items" class="filterall filter-simple filter-skincare eg-eisenhower-massage-wrapper eg-post-id-332" data-date="1459258561">
                                                <div class="esg-media-cover-wrapper">
                                                    <div class="esg-entry-media"><img alt="" [src]="item.image_url"></div>
                                                    <div class="esg-entry-cover">
                                                        <div class="esg-overlay esg-fade eg-eisenhower-massage-container" data-delay="0"></div>
                                                        <div class="esg-center eg-post-332 eg-eisenhower-massage-element-1-a esg-rollright" data-delay="0.1">
                                                            <a class="eg-eisenhower-massage-element-1 eg-post-332 esgbox" [href]="item.preview_image"><i class="eg-icon-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="esg-entry-content eg-eisenhower-massage-content">
                                                        <div class="esg-content eg-post-332 eg-eisenhower-massage-element-6-a">
                                                            <a [routerLink]="[ '/' + modules.equipment, modules.detail, item.item_key, item.title | niceurl]" class="eg-eisenhower-massage-element-6 eg-post-332"  rel="category tag" title="View all posts in simple">{{ item.title }}</a>
                                                        </div>
                                                        <!--
                                                        <div class="esg-content eg-post-332 eg-eisenhower-massage-element-0" >
                                                            {{ item.title }}
                                                        </div>
                                                        -->
                                                        <div class="esg-content eg-eisenhower-massage-element-2 esg-none esg-clear"></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sc_row-full-width"></div>
