<app-breadcrumb></app-breadcrumb>
<div class="">
    <h2 class="s-title">貸方勘定項目設定</h2>
    <section class="g-table-button text-right clearfix">
        <a class="btn btn-style btn-add" [routerLink]="['/system/credit-account/create']"><i class="fa fa-plus"></i>&nbsp;追加</a>
    </section>
    <!-- SECTION TABLE -->
    <section class="g-table">
        <table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">仕訳モード</th>
                    <th class="text-center">貸方総勘定科目コード</th>
                    <th class="text-center">貸方補助科目コード</th>
                    <th class="text-center">貸方補助内訳科目コード</th>
                    <th class="text-center">貸方取引先コード</th>
                    <th class="text-center">貸方税区分</th>
                    <th class="text-center">貸方税込区分</th>
                    <th class="text-center">貸方分析コード1</th>
                    <th class="text-center" colspan="2">処理</th>
                </tr>
            </thead>
        </table>
    </section>
    <!-- END SECTION TABLE -->
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            削除します、よろしいですか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back width120" (click)="modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onDelete()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>
