<div class="form-body">
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.logo' | translate }}</label>
		<div class="col-md-10">
			<div class="uploader-files">
				<div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="my-drop-zone">
					<div class="no-file" *ngIf="!uploader.queue.length">
						<span>{{ 'ADMIN.drag_and_drop_files' | translate }}…</span>
						<span></span>
						<!-- drag & drop file example-->
					</div>
					<ul class="uploader-files-in clearfix">
						<li *ngFor="let item of uploader.queue; let i = index" class="file-item text-center" style="width: 50%" >
							<div class="item">
								<a style="height: 160px">
									<img *ngIf="item?.edited" [src]="item?.src"  alt="" width="100%" height="auto">
									<img *ngIf="!item?.edited" imgPreview [image]="item?._file" class="media-object" />
								</a>
								<!-- <p>{{ item?.file?.name }}</p> -->
								<div class="file-actions clearfix">
								    <a class="file-delete" (click)="onRemoveFile(i, item?._file?.id)"><i class="fa fa-trash-o"></i></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="uploader">
				<input type="file" ng2FileSelect class="form-control" [uploader]="uploader" (change)="onValidateFormFileType()"/>
				<span class="filename">{{ 'ADMIN.drag_and_drop_files' | translate }}</span>
				<span class="btn btn-uploader">{{ 'ADMIN.choose_file' | translate }}</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.address' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="address" [(ngModel)]="Item.address" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.phone' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="phone" [(ngModel)]="Item.phone" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.facebook' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="facebook" [(ngModel)]="Item.facebook" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.twitter' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="twitter" [(ngModel)]="Item.twitter" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.google_plus' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="google_plus" [(ngModel)]="Item.google_plus" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.instagram' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="instagram" [(ngModel)]="Item.instagram" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.home_about_us' | translate }}</label>
		<div class="col-md-10">
			<ckeditor name="home_about_us"
				[(ngModel)]="Item.home_about_us"
				[config]= "{
					height: 120,
					toolbarGroups : [
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="200">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.working_hour' | translate }}</label>
		<div class="col-md-10">
			<ckeditor name="working_hour"
				[(ngModel)]="Item.working_hour"
				[config]= "{
					height: 120,
					toolbarGroups : [
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="200">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.home_contact' | translate }}</label>
		<div class="col-md-10">
			<ckeditor name="home_contact"
				[(ngModel)]="Item.home_contact"
				[config]= "{
					height: 120,
					toolbarGroups : [
						{ name: 'basicstyles', groups: ['basicstyles'] },
						{ name: 'styles' },
						{ name: 'links' }
					]}"
				debounce="200">
			</ckeditor>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_title' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_title" [(ngModel)]="Item.meta_title" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_description' | translate }}</label>
		<div class="col-md-10">
			<textarea name="meta_description" [(ngModel)]="Item.meta_description" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_keyword' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_keyword" [(ngModel)]="Item.meta_keyword" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">{{ 'ADMIN.meta_tag' | translate }}</label>
		<div class="col-md-10">
			<input type="text" name="meta_tag" [(ngModel)]="Item.meta_tag" class="form-control">
		</div>
	</div>
</div>
