<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">審議・決裁一覧</h2>
	<form autocomplete="off">
		<!-- SECTION FILTER -->
		<section class="g-filter clearfix">
			<div class="g-row clearfix">
	            <div class="field clearfix w100">
	                <label for="">様式</label>
	                <div class="input-select2">
	                    <ng-select
	                    	name="m_menu_id"
	                        [items]="menuOptions"
	                        [active]="filter.m_menu_id | selectobject: menuOptions"
	                        (selected)="onNgSelected($event)"
                        	(removed)="onNgRemoved($event)"
	                        (ngModel)="filter.m_menu_id"
	                        [allowClear]="true"
	                        placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
	                        #m_menu_id>
	                    </ng-select>
	                </div>
	            </div>
	            <div class="field clearfix w50">
				    <label for="">申請日</label>
				    <div class="g-date-from-to clearfix">
				        <div class="input-group">
				            <input type="text" name="date_from" class="form-control daterange-single"
	                            [(ngModel)]="filter.date_from"
	                            #date_from
	                            (blur)="filter.date_from = date_from.value">
	                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
				        </div>
				        <div class="icon-date text-center">~</div>
				        <div class="input-group">
				            <input type="text" name="date_to" class="form-control daterange-single"
	                            [(ngModel)]="filter.date_to"
	                            #date_to
	                            (blur)="filter.date_to = date_to.value">
	                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
				        </div>
				    </div>
				</div>
	            <div class="field clearfix w50">
				    <label for="">処理日</label>
				    <div class="g-date-from-to clearfix">
				        <div class="input-group">
				            <input type="text" name="last_approved_date_from" class="form-control daterange-single"
	                            [(ngModel)]="filter.last_approved_date_from"
	                            #last_approved_date_from
	                            (blur)="filter.last_approved_date_from = last_approved_date_from.value">
	                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
				        </div>
				        <div class="icon-date text-center">~</div>
				        <div class="input-group">
				            <input type="text" name="last_approved_date_to" class="form-control daterange-single"
	                            [(ngModel)]="filter.last_approved_date_to"
	                            #last_approved_date_to
	                            (blur)="filter.last_approved_date_to = last_approved_date_to.value">
	                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
				        </div>
				    </div>
				</div>
				<div class="field clearfix w100">
	                <label for="">申請者</label>
	                <div class="clearfix">
                        <input type="text" name="fullname" class="form-control" [(ngModel)]="filter.fullname" >
	                </div>
	            </div>
				<div class="field clearfix w50">
	                <label for="">起案番号</label>
	                <div class="clearfix">
                        <input type="text" name="code" class="form-control" [(ngModel)]="filter.code" >
	                </div>
	            </div>
				<div class="field clearfix w50">
	                <label for="">件名</label>
	                <div class="clearfix">
                        <input type="text" name="name" class="form-control" [(ngModel)]="filter.name" >
	                </div>
	            </div>

	            <div class="field clearfix w100" *ngIf="apply_user.length">
	                <label for="">担当名</label>
	                <div class="g-radio">
	                	<label class="radio-inline label-w120" *ngFor="let item of apply_user">
                            <input type="radio" name="apply_user" (click)="onUpdatePetitionStatusChecked(item.value)" [checked]="item.value == filter.apply_user"> {{ item.label }}
                            <div class="check"></div>
                        </label>
                    </div>
	            </div>

				<div class="field clearfix w100">
	                <label for="">状況</label>
	                <div class="g-radio">
	                	<ng-template ngFor let-item [ngForOf]="petition_status_options">
							<!-- Display petition_status draft -->
							<ng-template [ngIf]="((item.value == '1') && (filter.apply_user == 'me'))">
								<label class="checkbox-inline label-w120">
									<input type="checkbox"  
										name="m_petition_status_id"
										value="true" 
										#m_petition_status_id
										[checked]="statusCheck[item.value] == true"
										(change)="statusCheck[item.value] = m_petition_status_id.checked"> {{ item.label }}
									<div class="check"></div>
								</label>
							</ng-template>	                		
							<!-- Display all petition_status remain -->
	                		<ng-template [ngIf]="item.value != '1'">
								<label class="checkbox-inline label-w120">
									<input type="checkbox"  
										name="m_petition_status_id"
										value="true" 
										#m_petition_status_id
										[checked]="statusCheck[item.value] == true"
										(change)="statusCheck[item.value] = m_petition_status_id.checked"> {{ item.label }}
									<div class="check"></div>
								</label>
							</ng-template>
	                	</ng-template>
                    </div>
	            </div>
				<div class="field clearfix w100">
	                <label for="">コメント</label>
	                <div class="g-radio">
                        <label class="radio-inline label-w120" *ngFor="let item of comment_options">
                            <input type="radio" name="comment" (click)="filter.comment = item.value" [checked]="item.value == filter.comment"> {{ item.label }}
                            <div class="check"></div>
                        </label>
                    </div>
	            </div>
				<div class="field clearfix w100">
	                <label for="">通知確認</label>
	                <div class="g-radio">
	                	<label class="radio-inline label-w120" *ngFor="let item of notice_confirm_options">
                            <input type="radio" name="notice_confirm_code" (click)="filter.notice_confirm_code = item.value" [checked]="item.value == filter.notice_confirm_code"> {{ item.label }}
                            <div class="check"></div>
                        </label>
                    </div>
	            </div>
				<div class="field clearfix w100">
	                <label for="">優先度</label>
	                <div class="g-radio">
	                	<label class="radio-inline label-w120" *ngFor="let item of priority_options">
                            <input type="radio" name="priority_flg" (click)="filter.priority_flg = item.value" [checked]="item.value == filter.priority_flg"> {{ item.label }}
                            <div class="check"></div>
                        </label>
                    </div>
	            </div>
	        </div>
		</section>
		<!-- END SECTION FILTER -->

		<!-- SECTION BUTTON -->
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-search" type="button" (click)="onSearch()" id="btn_submit_form"><i class="fa fa-search"></i> 検索</button>
			<button class="btn btn-style btn-clear" type="button" (click)="onReset()"><i class="fa fa-eraser"></i> クリア</button>
			<a class="btn btn-style btn-back" [routerLink]="['/home']"><i class="fa fa-arrow-left"></i> 戻る</a>
		</section>
		<!-- END SECTION BUTTON -->
	</form>
	<!-- SECTION TABLE -->
	<section class="g-table">
		<table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">起案日</th>
					<th class="text-center" colspan="2">フラグ</th>
					<th class="text-center">種別</th>
					<th class="text-center">件名</th>
					<th class="text-center">起案番号</th>
					<th class="text-center">状況</th>
					<th class="text-center">起案者</th>
					<th class="text-center">最新処理者</th>
					<th class="text-center">処理日</th>
				</tr>
			</thead>
		</table>
	</section>
	<!-- END SECTION TABLE -->
</div>

