<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">決裁経路確認</h2>
	<form autocomplete="off">
		<!-- SECTION FILTER -->
		<section class="g-filter clearfix">
			<div class="g-row clearfix">
	            <div class="field clearfix w100">
	                <label for="">様式</label>
	                <div class="input-medium input-select2">
	                    <ng-select
                            name="m_menu_id"
                            [items]="menuOptions"
                            [active]="filter.m_menu_id | selectobject: menuOptions"
                            (selected)="onNgSelected($event, 'menu')"
                            (removed)="onNgRemoved($event, 'menu')"
                            (ngModel)="filter.m_menu_id"
                            [ngModel]="filter.m_menu_id | selectobject: menuOptions"
                            placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                            [allowClear]="true"
                            #m_menu_id>
                        </ng-select>
	                </div>
	            </div>
	            <div class="field clearfix w100">
	                <label for="">部署</label>
	                <div class="input-select2">
	                	<ng-select
                            name="m_department_id"
                            [items]="departmentOptions"
                            [active]="filter.m_department_id | selectobject: departmentOptions"
                            (selected)="onNgSelected($event, 'department')"
                            (removed)="onNgRemoved($event, 'department')"
                            (ngModel)="filter.m_department_id"
                            [ngModel]="filter.m_department_id | selectobject: departmentOptions"
                            placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                            [allowClear]="true"
                            #m_department_id>
                        </ng-select>
	                </div>
	            </div>
	        </div>
		</section>
		<!-- END SECTION FILTER -->

		<!-- SECTION BUTTON -->
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-search" type="button" (click)="onSearch()" id="btn_submit_form"><i class="fa fa-search"></i> 検索</button>
			<button class="btn btn-style btn-clear" type="button" (click)="onReset()"><i class="fa fa-eraser"></i> クリア</button>
			<a class="btn btn-style btn-back" [routerLink]="['/home']"><i class="fa fa-arrow-left"></i> 戻る</a>
		</section>
		<!-- END SECTION BUTTON -->
	</form>
	<h2 class="s-title">現在の決裁経路 {{ current_date | formatdate }}</h2>
	<!-- SECTION TABLE -->
	<section class="g-table">
		<table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>No</th>
					<th>決裁経路区分</th>
					<th>権限</th>
					<th>社員名</th>
					<th>役職</th>
					<th>事業本部</th>
					<th>事業部</th>
					<th>部門</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!dataRoutes || dataRoutes == 0">
					<td class="text-center" colspan="10">{{ 'EMPTY_TABLE' | translate }}</td>
				</tr>
				<tr *ngFor="let item of dataRoutes; let i = index">
					<td class="text-center">{{ i + 1 }}</td>
					<td class="text-center">{{ item.segment }}</td>
					<td>{{ item.authority_name }}</td>
					<td>{{ item.fullname }}</td>
					<td>{{ item.position_name }}</td>
					<td>{{ item.business_name }}</td>
					<td>{{ item.division_name }}</td>
					<td>{{ item.department_name }}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
<div class="space30"></div>