<app-breadcrumb></app-breadcrumb>
<div class="proposal-detail">

    <section class="g-proposal-func">
        <div class="g-container">
        <app-navigation-form [access_area]="access_area" [petition_id]="petition_id" [petition_type]="petition_type" [creator_id]="creator_id" (IDs)="setListIds($event)"></app-navigation-form>
            <div class="g-proposal-g-button g-export-pdf">
                <button *ngIf="(approval_status_id == 1 && current_receipt_arrival == 1)" class="btn btn-style" type="button" (click)="onClickButton('return')"><i class="fa fa-reply"></i> 差戻</button>
                <button class="btn btn-style" type="button" (click)="onClickButton('export_pdf')"><i class="fa fa-file-pdf-o"></i> 印刷</button>
                <button class="btn btn-style" type="button" (click)="onClickButton('back_management_list_form_payment')"><i class="fa fa-arrow-left"></i> 戻る</button>
            </div>

            <div class="g-button-status clearfix">
                <div class="g-proposal-g-button left" *ngIf="current_user_info.permission_keiri">
                    <label>領収書到着</label>
                    <button class="btn btn-style btn-chart" value="0" type="button" [ngStyle]="onSetButtonStyle(0)" (click)="onClickButton('receipt_arrival',0)" [disabled]="(Item.m_petition_status_id > 2)">未着</button>
                    <button class="btn btn-style btn-chart" value="1" type="button" [ngStyle]="onSetButtonStyle(1)" (click)="onClickButton('receipt_arrival',1)" [disabled]="(Item.m_petition_status_id > 2)">到着</button>
                </div>
                <!-- m_petition_status_id is 7 or 11 <=> code is 90 or 12 -->
                <div class="g-proposal-g-button right" *ngIf="(current_user_info.permission_keiri && (Item.m_petition_status_id == 11 || Item.m_petition_status_id == 7 ))">
                    <label>振込データ出力</label>
                    <button *ngIf="(Item.zenginkyo_output_hold_flg == 1)" (click)="onClickButton('zenginkyo_output_hold_flg', 0)" class="btn btn-style btn-chart" [disabled]="(disable_export_fb || Item.zenginkyo_outeput_date)">保留解除</button>
                    <button *ngIf="(Item.zenginkyo_output_hold_flg == 0)" (click)="onClickButton('zenginkyo_output_hold_flg', 1)" class="btn btn-style btn-chart" [disabled]="(disable_export_fb || Item.zenginkyo_outeput_date)">保留</button>
                    <button class="btn btn-style btn-chart" (click)="onClickButton('zenginkyo_output_hold_flg', -1)" [disabled]="(disable_export_fb || Item.zenginkyo_outeput_date)">除外</button>
                </div>
            </div>

            <ng-template [ngIf]="selected_index_user_id">
                <div class="g-proposal-g-button g-button-case" [ngSwitch]="Item.m_petition_status_id">
                    <label>ステータス</label>
                    <ng-template [ngSwitchCase]="2">
                        <button *ngIf="(approval_status_id == 1 && current_receipt_arrival == 1)" class="btn btn-style btn-chart" type="button" (click)="onClickButton('last_approve')"><i class="fa fa-check-circle-o"></i> 最終承認</button>
                    </ng-template>
                    <ng-template [ngSwitchCase]="3">
                        <button class="btn" disabled="disabled">最終承認</button>
                        <span class="separate-to"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span class="separate-to mb"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <button [ngStyle]="{'width': 'auto'}" *ngIf="current_user_info.permission_keiri" class="btn btn-style btn-chart" (click)="onClickButton('obic_registration')" type="button">外部データ出力</button>
                    </ng-template>
                    <ng-template [ngSwitchCase]="10">
                        <button class="btn" disabled="disabled">最終承認</button>
                        <span class="separate-to"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span class="separate-to mb"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <button class="btn" disabled="disabled">外部データ出力</button>
                        <div class="case-status">
                            <p>OBIC未出力</p>
                            <p>FB未出力</p>
                        </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="11">
                        <button class="btn" disabled="disabled">最終承認</button>
                        <span class="separate-to"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span class="separate-to mb"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <button class="btn" disabled="disabled">外部データ出力</button>
                        <div class="case-status">
                            <p>OBIC出力済</p>
                            <p *ngIf="Item.zenginkyo_outeput_date">
                                {{ disable_export_fb ? 'FB出力無' : 'FB出力済' }}
                            </p>
                            <p *ngIf="!Item.zenginkyo_outeput_date">
                                {{ Item.zenginkyo_output_hold_flg == 1 ? 'FB出力保留中' : 'FB未出力' }}
                            </p>
                        </div>
                    </ng-template>
                    <ng-template [ngSwitchCase]="7">
                        <button class="btn" disabled="disabled">最終承認</button>
                        <span class="separate-to"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        <span class="separate-to mb"><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
                        <button class="btn" disabled="disabled">外部データ出力</button>
                        <div class="case-status">
                            <p>OBIC出力済</p>
                            <p *ngIf="Item.zenginkyo_outeput_date">
                                {{ disable_export_fb ? 'FB出力無' : 'FB出力済' }}
                            </p>
                            <p *ngIf="!Item.zenginkyo_outeput_date">
                                {{ Item.zenginkyo_output_hold_flg == 1 ? 'FB出力保留中' : 'FB未出力' }}
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngSwitchDefault>
                        領収書未達
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </section>

	<h2 class="s-title">申請概要</h2>
	<section class="g-basic-info clearfix">
		<div class="g-row clearfix">
            <div class="field clearfix w100">
                <label for="">起案番号</label>
                <div class="input-text">
                    <label for="" class="bold">{{ Item.code }}</label>
                </div>
            </div>
			<div class="field clearfix w50">
                <label>所属部門名称</label>
                <div class="input-text">
                    <label class="bold">{{ user_create_form.department_name }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>所属部門コード</label>
                <div class="input-text">
                    <label class="bold">{{ user_create_form.department_code }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>申請者社員番号</label>
                <div class="input-text">
                    <label class="bold">{{ user_create_form.staff_no }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>申請者社員名前</label>
                <div class="input-text">
                    <label class="bold">{{ user_create_form.fullname }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>申請名称</label>
                <div class="input-text">
                    <label class="bold">{{ Item.request_menu_name }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>申請日</label>
                <div class="input-text">
                    <label class="bold">{{ Item.date | formatdate }}</label>
                </div>
            </div>
            <div class="field clearfix w100">
                <label>件名</label>
                <div class="input-text">
                    <label class="bold">{{ Item.name }}</label>
                </div>
            </div>
            <div class="field clearfix w100" *ngIf="display_destination">
                <label>目的地</label>
                <div class="input-text">
                    <label for="" class="bold">{{ Item.destination }}</label>
                </div>
            </div>
            <div class="field clearfix w100">
                <label>理由</label>
                <div class="input-text">
                    <label for="" class="bold">{{ Item.reason }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>優先度</label>
                <div class="input-text">
                    <label class="bold">{{ Item.priority_flg }}</label>
                </div>
            </div>
            <div class="field clearfix w50">
                <label>決裁経路変更</label>
                <div class="input-text">
                    <label class="bold">{{ Item.change_route }}</label>
                </div>
            </div>
            <div class="field clearfix w100">
                <label for="">状況</label>
                <div class="input-text">
                    <label for="" class="bold">{{ Item.m_petition_status_name }}</label>
                </div>
            </div>
		</div>
	</section>
	<div class="space30"></div>
	<!-- Comment Area -->
	<app-comment [item]="dataItem" [comment]="dataComment" (replied)="getReplied($event)"></app-comment>
	<!-- End Comment Area -->
	<!-- Form Detail -->
	<management-payment-pre-travel-detail 
        *ngIf="Item.m_request_menu_id == 2 || Item.m_request_menu_id == 3" 
        [item]="t_request_traveling_expenses" 
        [currency_symbol]="Item.currency_symbol">
    </management-payment-pre-travel-detail>

	<management-payment-travel-detail 
        *ngIf="Item.m_request_menu_id == 4 || Item.m_request_menu_id == 5" 
        [item]="t_request_traveling_expenses" 
        [currency_symbol]="Item.currency_symbol" 
        [modify]="modify" 
        (amount)="onUpdateTravelingFee($event)" 
        (travel)="setTRequestTravelingExpenses($event)">
    </management-payment-travel-detail>

	<management-payment-transport-detail *ngIf="Item.m_request_menu_id == 1 || Item.m_request_menu_id == 4 || Item.m_request_menu_id == 5" [transport]="transportArray" [currency_symbol]="Item.currency_symbol" [modify]="modify" (transport)="setTransportArray($event)" (amount)="onUpdateAmount($event)"></management-payment-transport-detail>

	<management-payment-purchase-detail *ngIf="Item.m_request_menu_id == 6" [purchase]="purchaseArray" [currency_symbol]="Item.currency_symbol" [modify]="modify" (purchase)="setPurchaseArray($event)" (amount)="onUpdateAmount($event)"></management-payment-purchase-detail>

	<management-payment-dietary-detail *ngIf="Item.m_request_menu_id == 8 || Item.m_request_menu_id == 9" [item]="t_request_dietary" [purchase]="purchaseArray" [m_request_menu_id]="Item.m_request_menu_id" [currency_symbol]="Item.currency_symbol" [modify]="modify" (purchase)="setPurchaseArray($event)" (amount)="onUpdateAmount($event)"></management-payment-dietary-detail>
	<!-- End Form Detail -->

	<!-- Form Amount -->
	<ng-template [ngIf]="Item.m_request_menu_id != 2 && Item.m_request_menu_id != 3">
		<h2 class="s-title">申請金額</h2>
		<section>
			<div class="g-row clearfix">
				<div class="field clearfix w50">
	                <label>金額</label>
	                <div class="input-text">
	                    <label class="bold">{{ Item.currency_symbol }} {{ Item.amount | number }}</label>
	                </div>
	            </div>
                <div class="field clearfix w50">
                    <label>(修正後)金額</label>
                    <div class="field-money">
                        <input type="text" class="form-control" name="cor_amount" [ngModel]="Item.cor_amount | number" readonly>
                        <span class="i-money">{{ Item.currency_symbol }}</span>
                    </div>
                </div>
	            <div class="field clearfix w50">
	                <label>仮払金額</label>
	                <div class="input-text">
	                    <label class="bold">{{ Item.currency_symbol }} {{ Item.suspense_payments | number }}</label>
	                </div>
	            </div>
                <div class="field clearfix w50">
                    <label>(修正後)仮払金額</label>
                    <div class="field-money">
                        <input type="text" name="cor_amount" class="form-control format_number" [(ngModel)]="Item.cor_suspense_payments" (keyup)="Item.cor_suspense_payments = $event.target.value" (blur)="onUpdateSuspense($event.target.value)" [readonly]="!modify">
                        <span class="i-money">{{ Item.currency_symbol }}</span>
                    </div>
                </div>
	            <div class="field clearfix w50">
	                <label>精算金額</label>
	                <div class="input-text">
	                    <label class="bold">{{ Item.currency_symbol }} {{ Item.settlement_amount | number }}</label>
	                </div>
	            </div>
                <div class="field clearfix w50">
                    <label>(修正後)精算金額</label>
                    <div class="field-money">
                        <input type="text" class="form-control" name="cor_settlement_amount" [ngModel]="Item.cor_settlement_amount | number" readonly>
                        <span class="i-money">{{ Item.currency_symbol }}</span>
                    </div>
                </div>
			</div>
		</section>
		<div class="space30"></div>
	</ng-template>
	<!-- End Form Amount -->

	<!-- Divide Cost -->
	<management-payment-cost-detail *ngIf="display_cost" [cost]="costArray" [currency_symbol]="Item.currency_symbol"
    [modify]="modify" (cost)="setCostArray($event)"></management-payment-cost-detail>
	<!-- End Divide Cost -->
    <section class="g-table-button text-right">
        <button class="btn btn-style btn-add" type="button" (click)="onConfirmUpdate()" [ngStyle]="{'width':'auto'}" [disabled]="!modify">金額修正反映</button>
    </section>

	<!-- Section file upload -->
    <section class="g-dynamic-info clearfix" *ngIf="uploader.queue.length">
        <h2 class="g-title mb15">【添付資料注意事項】</h2>
        <div class="g-row clearfix">
            <div class="field clearfix w100">
                <label for="">添付資料</label>
                <div>
                    <div class="uploader-files mb4">
                        <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="my-drop-zone">
                            <ul class="uploader-files-in clearfix">
                                <li class="file-item text-center" *ngFor="let item of uploader.queue; let i = index">
                                    <div class="item">
                                        <img src="assets/img/file.png" alt="">
                                        <p>{{ item?.file?.name }}</p>
                                        <div class="file-actions clearfix">
                                            <a title="ダウンロード" *ngIf="item?.file?.is_download" (click)="onDownloadForm(item._file.id, 'form_attachment')" class="file-download"><i class="fa fa-download"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section file upload -->

	<!-- Approval List -->
	<h2 class="s-title">本申請の決裁経路</h2>
	<section class="g-table" *ngIf="!is_approval">
		<div class="table-responsive">
			<ul class="list-group-title">
                <li class="clearfix">
                    <div class="text-center" style="width: 5%;">No</div>
                    <div class="text-center" style="width: 20%;">権限</div>
                    <div class="text-center" style="width: 15%;">社員名</div>
                    <div class="text-center" style="width: 15%;">役職</div>
                    <div class="text-center" style="width: 45%;">所属</div>
                </li>
            </ul>
            <ul *ngIf="dataList.length" class="list-group" style="margin-bottom: 0px;">
            	<li class="list-group-item clearfix" *ngIf="!dataList || dataList.length == 0">
					<div class="text-center" style="width: 100%">{{ 'EMPTY_TABLE' | translate }}</div>
                </li>
				<li *ngFor="let item of dataList; let i = index" class="list-group-item clearfix">
					<div class="text-center" style="width: 5%;">
                        {{ i + 1 }}
                    </div>
                    <div style="width: 20%;">
                        <span> {{ item.authority_name }} </span>
                    </div>
                    <div style="width: 15%;">
                        {{ item.fullname }}
                    </div>
                    <div style="width: 15%;">
						{{ item.position_name }}
                    </div>
                    <div style="width: 45%;">
                        {{ item.business_name }} - {{ item.division_name }} - {{ item.department_name }}
                    </div>
				</li>
            </ul>
		</div>
	</section>

	<section class="g-table" *ngIf="is_approval">
        <div class="table-responsive">
            <ul class="list-group-title">
                <li class="clearfix">
                    <div class="text-center mobile_hidden" style="width: 5%;">No</div>
                    <div class="text-center mobile_width_25 mobile_no_boder_left" style="width: 10%;">結果</div>
                    <div class="text-center mobile_width_25" style="width: 10%;">権限</div>
                    <div class="text-center mobile_width_25" style="width: 15%;">社員名</div>
                    <div class="text-center mobile_hidden" style="width: 15%;">役職</div>
                    <div class="text-center mobile_hidden" style="width: 25%;">所属</div>
                    <div class="text-center mobile_hidden" style="width: 8%;">後閲</div>
                    <div class="text-center mobile_width_25" style="width: 12%;">処理日時</div>
                </li>
            </ul>
            <ul *ngIf="dataList.length" class="list-group" style="margin-bottom: 0px;">
                <li class="list-group-item clearfix" *ngIf="!dataList || dataList.length == 0">
                    <div class="text-center" style="width: 100%">{{ 'EMPTY_TABLE' | translate }}</div>
                </li>
                <li *ngFor="let item of dataList; let i = index" class="list-group-item clearfix">
                    <div class="text-center mobile_hidden" style="width: 5%;">
                        {{ i + 1 }}
                    </div>
                    <div class="mobile_width_25 mobile_no_boder_left" style="width: 10%;">
                        {{ item.m_approval_status_name }}
                    </div>
                    <div class="mobile_width_25" style="width: 10%;">
                        <span> {{ item.authority_name }} </span>
                    </div>
                    <div class="mobile_width_25" style="width: 15%;">
                        {{ item.fullname }}
                    </div>
                    <div class="mobile_hidden" style="width: 15%;">
                        {{ item.position_name }}
                    </div>
                    <div class="mobile_hidden" style="width: 25%;">
                        {{ item.business_name }} - {{ item.division_name }} - {{ item.department_name }}
                    </div>
                    <div class="mobile_hidden" style="width: 8%; text-align: center;">
                        <button (click)="onWaitingConfirmDialog(item.m_user_id)" *ngIf="item.m_authority_id == '2' && item.m_approval_status_id == '1' && selected_index_user_id >= i && (dataList[selected_index_user_id].m_authority_id == '2' || dataList[selected_index_user_id].m_authority_id == '3')" type="button" class="btn btn-style" style="width: 50px;">後閲</button>
                        <span *ngIf="item.m_authority_id == '2' && item.m_approval_status_id == '7'" style="display: inline-block; width: 25px; height: 25px; color: red; line-height: 25px; border: 1px solid red; text-align: center;">後</span>
                    </div>
                    <div class="text-center mobile_width_25" style="width: 12%;">
                        {{ item.approval_datetime }}
                    </div>
                </li>
            </ul>
        </div>
    </section>
	<div class="space30"></div>
	<!-- End Approval List -->
	<!-- Reference -->
	<ng-template [ngIf]="dataPetition.length">
		<h2 class="s-title">過去参照案件</h2>
	    <section class="g-table">
	        <div class="table-responsive">
	            <ul class="list-group-title">
	                <li class="clearfix">
						<div class="text-center" style="width: 5%;">No</div>
	                    <div class="text-center" style="width: 35%;">起案番号</div>
	                    <div class="text-center" style="width: 60%;">権限</div>
	                </li>
	            </ul>
	            <ul class="list-group" style="margin-bottom: 0px;">
	                <li *ngFor="let item of dataPetition; let i = index" class="list-group-item clearfix">
	                    <div class="text-center" style="width: 5%;">
	                        {{ i + 1 }}
	                    </div>
	                    <div style="width: 35%;" class="text-center">
	                        <a [routerLink]="['/payment/detail', item.id]" [queryParams]="{previous_page: queryParams?.previous_page?queryParams?.previous_page:''}">{{ item.code }}</a>
	                    </div>
	                    <div style="width: 60%;">
	                        <span> {{ item.name }} </span>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </section>
	    <div class="space30"></div>
	</ng-template>
</div>
<!-- Modal Keiri update form's amount  -->
<modal #modalUpdate>
	<modal-header [show-close]="true">
		<h4 class="modal-title">確認メッセージ</h4>
	</modal-header>
	<modal-body>
		<section class="g-filter clearfix">
		    この精算申請の金額を修正します、よろしいですか？
		</section>
		<section class="g-button clearfix text-center">
			<button class="btn btn-style btn-back" type="button" (click)="modalUpdate.close()"><i class="fa fa-times"></i> キャンセル</button>
			<button class="btn btn-style btn-save" type="button" (click)="onSave()"><i class="fa fa-check"></i> 確認</button>
		</section>
	</modal-body>
</modal>
<!-- Modal update form's receipt_arrival -->
<modal #modalReceipt>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            {{ formType.confirm_msg }}
        </section>
        <section class="g-button clearfix text-center">
            <button class="btn btn-style btn-back" type="button" (click)="modalReceipt.close()"><i class="fa fa-times"></i> キャンセル</button>
            <button class="btn btn-style btn-save" type="button" (click)="onUpdateReceiptArrival(formType.value)"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>
<!-- Modal update form's zenginkyo_output_hold_flg -->
<modal #modalZenginkyo>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            {{ formType.confirm_msg }}
        </section>
        <section class="g-button clearfix text-center">
            <button class="btn btn-style btn-back" type="button" (click)="modalZenginkyo.close()"><i class="fa fa-times"></i> キャンセル</button>
            <button class="btn btn-style btn-save" type="button" (click)="onUpdateZenginkyoOutputHoldFlg(formType.value)"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>

<modal #modalConfirm>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            {{ formType.confirm_msg }}
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="modalConfirm.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onApproved(formType.type)"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>

<modal #modalWaitingConfirm>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
            後閲します、よろしいでしょうか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="modalWaitingConfirm.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onChangeApprovalUser()"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>