<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">通知一覧</h2>
	<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		<section class="g-basic-info clearfix">
			<div class="g-row clearfix">
				<div class="field clearfix w100">
					<label for="">通知日 <span class="note">*</span></label>
					<div class="clearfix">
						<div class="input-group input-small">
							<input type="text" name="date" [ngModel]="Item.date | formatdate" (ngModelChange)="Item.date = $event" #notice_date (blur)="Item.date = notice_date.value" class="form-control daterange-single" required>
							<span class="input-group-addon"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="field clearfix w100">
			        <label for="">通知種別 <span class="note">*</span></label>
			        <div>
						<div class="input-small input-select2">
				            <ng-select
                                name="type"
                                [items]="notice_type"
                                [active]="Item.type | selectobject: notice_type"
                                (selected)="onNgSelected($event)"
                                (removed)="onNgRemoved($event)"
                                (ngModel)="Item.type"
                                [ngModel]="Item.type | selectobject: notice_type"
                                placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                                #type
                                required>
                            </ng-select>
						</div>
					</div>
		        </div>
		        <div class="clearfix"></div>
		        <div class="field clearfix w100">
			        <label for="">通知種別</label>
			        <div class="g-radio">
						<label class="radio-inline" *ngFor="let obj of release_flg">
							<input type="radio" name="release_flg" (click)="Item.release_flg = obj.value" [checked]="obj.value == Item.release_flg"> {{ obj.label }}
		                	<div class="check"></div>
						</label>
					</div>
			    </div>
		        <div class="field clearfix w100">
					<label for="">タイトル <span class="note">*</span></label>
					<div>
						<input type="text" name="title" [(ngModel)]="Item.title" #title="ngModel" class="form-control" required>
						<span *ngIf="title?.dirty && title?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
					</div>
				</div>
				<div class="field clearfix w100">
					<label for="">概要</label>
					<div>
						<ckeditor name="content"
						    [(ngModel)]="Item.content"
						    [config]= "{language: 'ja',
						    toolbarGroups : [
						    	{ name: 'basicstyles', groups: ['basicstyles'] },
								{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
								{ name: 'document', groups: [ 'mode', 'document', 'doctools'] },
								'/',
								{ name: 'styles' },
								{ name: 'links' }
							]}"
						    debounce="1000">
						</ckeditor>
					</div>
				</div>
			</div>
		</section>
		<!-- Button Process Area -->
	    <section class="g-button clearfix text-center">
	        <button class="btn btn-style btn-save" [disabled]="!f.valid" type="submit"><i class="fa fa-save"></i> 登録</button>
	        <a [routerLink]="['/system/notify']" class="btn btn-style btn-back"><i class="fa fa-arrow-left"></i> 閉じる</a>
	    </section>
	    <!-- Button Process Area -->
	</form>
</div>
