<div class="sc_row-full-width"></div>
<div class="sc_row row sc_custom_1459341675644 inverse_colors" data-sc-full-width="true" data-sc-full-width-init="false">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner">
            <div class="wrapper">
                <div class="sc_section custom_services_pricing sc_section_block alignright max_width">
                    <div class="sc_section_inner">
                        <div class="sc_section_overlay">
                            <div class="sc_section_content padding_on">
                                <div class="sc_section_content_wrap">
                                    <div class="text_column content_element">
                                        <div class="wrapper">
                                            <div class="sc_section sc_section_block aligncenter max_width cu_width-970">
                                                <div class="sc_section_inner">
                                                    <h6 class="sc_section_subtitle sc_item_subtitle">Đặt Lịch Hẹn</h6>
                                                    <div class="sc_section_content_wrap">
                                                        <div class="sc_form_wrap" id="sc_form_201_wrap">
                                                            <div class="sc_form sc_form_style_form_1" id="sc_form_201">
                                                                <form action="includes/sendmail.php" class="inited" data-formtype="form_1" id="sc_form_201_form" method="post" name="sc_form_201_form">
                                                                    <div class="sc_form_info">
                                                                        <div class="sc_form_item sc_form_field label_over">
                                                                            <label class="required" for="sc_form_username">Họ và Tên</label> <input id="sc_form_username" name="username" placeholder="Họ và Tên *" type="text">
                                                                        </div>
                                                                        <div class="sc_form_item sc_form_field label_over">
                                                                            <label class="required" for="sc_form_email">Điện Thoại</label> <input id="sc_form_phone" name="phone" placeholder="Điện Thoại *" type="text">
                                                                        </div>
                                                                        <div class="sc_form_item sc_form_field label_over">
                                                                            <label class="required" for="sc_form_username">Danh Mục</label> <input id="sc_form_username" name="username" placeholder="Danh Mục *" type="text">
                                                                        </div>
                                                                        <div class="sc_form_item sc_form_field label_over">
                                                                            <label class="required" for="sc_form_email">Dịch Vụ</label> <input id="sc_form_phone" name="phone" placeholder="Dịch Vụ *" type="text">
                                                                        </div>
                                                                        <div class="sc_form_item sc_form_field label_over">
                                                                            <label class="required" for="sc_form_subj">Nội Dung</label> <input id="sc_form_subj" name="subject" placeholder="Ngày Hẹn" type="text">
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_button">
                                                                        <a class="sc_button sc_button_square sc_button_style_filled sc_button_size_base" href="booking.html">Hẹn</a>
                                                                    </div>
                                                                    <div class="result sc_infobox"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>