<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner">
            <div class="wrapper">
                <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="sc_team_wrap" id="sc_team_630_wrap">
                    <div class="sc_team sc_team_style_team-3 aligncenter" id="sc_team_630">
                        <h6 class="sc_item_title sc_team_subtitle sc_item_subtitle">Chuyên Gia</h6>
                        <div class="sc_section_content_wrap">
                            <div class="sc_slider sc_slider_swiper swiper-slider-container sc_slider_controls sc_slider_pagination sc_slider_bg" data-interval="5776" id="sc_slider_061">
                                <div class="slides swiper-wrapper">
                                    <div class="swiper-slide" id="sw_slide1">
                                        <div class="sc_columns columns_wrap">
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_630_1">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/team-10-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Allan Ryan</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Orthopaedic Doctor
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_630_2">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/team-11-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Carol Small</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Chiropractic
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_630_3">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/team-9-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Donna Bridges</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Skin Expert
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_630_4">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/team-12-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Oliver Stephens</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Massagist
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="sw_slide2">
                                        <div class="sc_columns columns_wrap">
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item first" id="sc_team_261_1">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/8-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Damian Poole</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Massagist
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_261_2">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/1-1-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Dinah Austin</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Chiropractic
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_261_3">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/5-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Alisha Howard</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Orthopaedic Doctor
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_4 column_padding_bottom">
                                                <div class="sc_team_item" id="sc_team_261_4">
                                                    <div class="sc_team_item_avatar">
                                                        <img alt="" src="./assets/public/images/2-370x370.jpg">
                                                        <div class="sc_team_item_hover">
                                                            <a class="sc_team_item_icon" href="single-team.html">&nbsp;</a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_team_item_info">
                                                        <h5 class="sc_team_item_title"><a href="single-team.html">Peter Burke</a></h5>
                                                        <div class="sc_team_item_position">
                                                            Skin Expert
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc_slider_controls_wrap">
                                    <a class="sc_slider_prev sc_slider_home" href="#"></a> <a class="sc_slider_next sc_slider_home" href="#"></a>
                                </div>
                                <div class="sc_slider_pagination_wrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>