.page-header.navbar .page-logo .logo-default{
    max-height: 35px;
    margin-top: 8px;
}
.login .content {margin-top: 160px}
.login .logo { margin-top: 0px; }

.login .error{
    color: #bd5d5d !important;
    text-align: left;
    display: block;
    font-size: 15px;
}


/* Media iphone */
@media screen and (max-width: 414px){
    img[_ngcontent-c0]{max-width: 140px}
    .login[_ngcontent-c0] .content[_ngcontent-c0] { width: 300px !important;}
    .login[_ngcontent-c0] .content[_ngcontent-c0] h3[_ngcontent-c0]{ font-size: 14px; text-align: center;}
}
