<h2 class="s-title">申請内容</h2>
<section class="g-basic-info clearfix">
	<div class="g-row clearfix">
		<div class="field clearfix w100">
			<label>参加者氏名 <span class="note">*</span></label>
			<div [class.has-error]="!participant_name.value">
				<input type="text" name="participant_name" class="form-control" [(ngModel)]="Item.participant_name" #participant_name="ngModel">
				<span *ngIf="(is_draft_validated || participant_name?.dirty) && !participant_name.value" class="error">{{ 'VALIDATE.required' | translate }}</span>
			</div>
		</div>
		<div class="field clearfix w50">
			<label>参加人数合計 <span class="note">*</span></label>
			<div [class.has-error]="!participant_num.value">
				<input type="text" name="participant_num" class="form-control format_number" [(ngModel)]="Item.participant_num" #participant_num="ngModel" (keyup)="Item.participant_num = $event.target.value">
				<span *ngIf="(is_draft_validated || participant_num?.dirty) && !participant_num.value" class="error">{{ 'VALIDATE.required' | translate }}</span>
			</div>
		</div>
		<div class="field clearfix w50">
			<div class="input-text">※参加シートは必ず添付してください。</div>
		</div>
	</div>
</section>
<div class="space30"></div>