<div class="sc_row-full-width"></div>
<div class="sc_row row">
	<div class="column sc_column_container sc_col-sm-12">
		<div class="sc_column-inner">
			<div class="wrapper">
				<a class="sc_icon icon-up sc_icon_shape_square aligncenter scroll_to_top show" href="#"></a>
				<div class="sc_empty_space em_height_5-7">
					<span class="sc_empty_space_inner"></span>
				</div>
				<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
					<div class="column-1_3 sc_column_item">
						<h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">{{'PUBLIC.about_us' | translate}}</h6>
						<div class="text_column content_element">
							<div class="wrapper">
								<p class="cu_text_c">{{'PUBLIC.about_us_content' | translate}}</p>
							</div>
						</div>
						<div class="sc_empty_space em_height_3">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
					<div class="column-1_3 sc_column_item">
						<h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">{{'PUBLIC.working_hours' | translate}}</h6>
						<div class="text_column content_element">
							<div class="wrapper">
								<p class="cu_text_c">Mon-Fri: 9 AM &#8211; 6 PM<br>
								Saturday: 9 AM &#8211; 4 PM<br>
								Sunday: Closed</p>
							</div>
						</div>
						<div class="sc_empty_space em_height_3">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
					<div class="column-1_3 sc_column_item">
						<h6 class="sc_section_subtitle sc_item_subtitle sc_title_small">{{'PUBLIC.contact' | translate}}</h6>
						<div class="text_column content_element">
							<div class="wrapper">
								<p class="cu_text_c">93 Võ Văn Tần, phường 6, Quận 3, TP. HCM<br>
								Email: <a href="#">info@yoursite.com</a><br>
								Telephone: 028 3930 9393</p>
							</div>
						</div>
						<div class="sc_empty_space em_height_3">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
				</div>
				<div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
				<div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small cu_block_3">
					<div class="sc_socials_item">
						<a class="social_icons social_twitter" href="#" target="_blank"><span class="icon-twitter"></span></a>
					</div>
					<div class="sc_socials_item">
						<a class="social_icons social_gplus" href="#" target="_blank"><span class="icon-gplus"></span></a>
					</div>
					<div class="sc_socials_item">
						<a class="social_icons social_facebook" href="#" target="_blank"><span class="icon-facebook"></span></a>
					</div>
					<div class="sc_socials_item">
						<a class="social_icons social_instagramm" href="#" target="_blank"><span class="icon-instagramm"></span></a>
					</div>
				</div>
				<p class="cu_text_c"><a href="#">White Clinic</a> &#169; 2017 All Rights Reserved <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
				<div class="sc_empty_space em_height_4-2">
					<span class="sc_empty_space_inner"></span>
				</div>
			</div>
		</div>
	</div>
</div>