<article class="post_item post_item_single post-643 page">
	<section class="post_content">
		<div class="sc_row row sc_row-fluid">
			<div class="column sc_column_container sc_col-sm-12">
				<div class="sc_column-inner">
					<div class="wrapper">
						<div class="sc_empty_space em_height_7-7">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sc_row row sc_row-fluid">
			<div class="column sc_column_container sc_col-sm-9">
				<div class="sc_column-inner sc_custom_1459857781965">
					<div class="wrapper">
						<div class="sc_accordion" data-active="0">
							<div class="sc_accordion_item" *ngFor="let item of Items">
								<h5 class="sc_accordion_title">
									<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
									<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span>
									{{item.title}}
								</h5>
								<div class="sc_accordion_content">
									<div class="text_column content_element">
										<div class="wrapper">{{item.content}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column sc_column_container sc_col-sm-3">
				<div class="sc_column-inner">
					<div class="wrapper">
						<div class="widgetised_column content_element sidebar">
							<div class="wrapper">
								<!--
								<aside class="widget widget_text">
                                    <div class="textwidget">
                                        <form role="search" method="get" class="search_form" action="#">
                                            <input type="text" class="search_field" placeholder="Search …" value="" name="s" title="Search for:">
                                            <button type="submit" class="search_button icon-search-1" href="#"></button>
                                        </form>
                                    </div>
                                </aside>
                                -->
								<aside class="widget widget_categories">
									<h5 class="widget_title">{{'PUBLIC.service_category' | translate}}</h5>
									<ul>
										<li class="cat-item" *ngFor="let item of serviceCategories">
											<a href="#">{{item.title}}</a>
										</li>
									</ul>
								</aside>
							</div>
						</div>
						<div class="sc_empty_space em_height_5">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sc_row row sc_row-fluid">
			<div class="column sc_column_container sc_col-sm-12">
				<div class="sc_column-inner">
					<div class="wrapper">
						<div class="sc_empty_space em_height_2">
							<span class="sc_empty_space_inner"></span>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Footer -->
		<div class="sc_row-full-width"></div>

	</section>
</article>
<section class="related_wrap related_wrap_empty"></section>