<div class="sc_row row sc_row-fluid">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner ">
            <div class="wrapper">
                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3">
                    <div class="column-1_4 sc_column_item ">
                        <div class="single_image content_element sc_align_left">
                            <figure class="wrapper sc_figure">
                                <a data-rel="prettyPhoto[rel-263-268261874]"  target="_self" class="sc_single_image-wrapper sc_box_border_grey prettyphoto">
                                    <img class="sc_single_image-img " [src]="Item.image_url" width="740" height="750" alt="" title="team-10" /></a>
                            </figure>
                        </div>
                    </div>
                    <div class="column-3_4 sc_column_item">
                        <h4 class="sc_title sc_title_regular">{{ Item.fullname }}</h4>
                        <div class="text_column content_element sc_custom_1457948826201">
                            <div class="sc_team_item_position" style="color: #9a9a9a">
                                {{ Item.position }}
                            </div>
                            <div class="wrapper">
                                <div class="article_content" [innerHTML]="Item.content"></div>

                            </div>
                        </div>
                        <!-- <div id="sc_skills_diagram_985" class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count odd"></div>
                                <div class="sc_skills_total" data-start="0" data-stop="95" data-step="1" data-max="100" data-speed="11" data-duration="1045" data-ed="">0</div>
                            </div>
                            <div class="sc_skills_info">
                                <div class="sc_skills_label">Stamina</div>
                            </div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count even"></div>
                                <div class="sc_skills_total" data-start="0" data-stop="75" data-step="1" data-max="100" data-speed="31" data-duration="2325" data-ed="">0</div>
                            </div>
                            <div class="sc_skills_info">
                                <div class="sc_skills_label">Concentration</div>
                            </div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count odd"></div>
                                <div class="sc_skills_total" data-start="0" data-stop="82" data-step="1" data-max="100" data-speed="17" data-duration="1394" data-ed="">0</div>
                            </div>
                            <div class="sc_skills_info">
                                <div class="sc_skills_label">Manual dexterity</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
