<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
	<h2 class="s-title">外部システム用データ出力</h2>
	<form autocomplete="off" #f="ngForm">
		<section class="g-filter clearfix">
			<div class="g-row clearfix">
				<ng-template [ngIf]="current_user_info.permission_keiri">
					<div class="field clearfix w50">
						<label>計上日 <span class="note">*</span></label>
						<div>
							<div class="input-group">
								<input type="text" name="date" [(ngModel)]="filter.date" #date (blur)="filter.date = date.value" class="form-control daterange-single" required>
								<span class="input-group-addon"><i class="icon-calendar"></i></span>
							</div>
							<span *ngIf="date?.dirty && date?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
						</div>
					</div>
					<div class="field clearfix w50">
						<div class="input-text" [ngStyle]="{'width':'auto'}">
							※OBICデータでは計上月、全銀協データでは振込日で処理されます。
						</div>
					</div>	
				</ng-template>
				<div class="field clearfix w50">
					<label>出力対象</label>
					<div>
						<div class="g-radio">
							<label class="radio-inline label-w150" *ngFor="let t of type">
								<input type="radio" name="type" (click)="onChangeType(t.value)" [checked]="t.value == filter.type"> {{ t.label }}
								<div class="check"></div>
							</label>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="field clearfix w50" *ngIf="filter.type == 10">
					<label>仕分けパターン</label>
					<div>
						<select name="code" class="form-control" [(ngModel)]="filter.expense_type_code" >
							<option *ngFor="let option of codeOptions" value="{{ option.value }}">{{ option.label }}</option>
						</select>
					</div>
				</div>
			</div>
		</section>
		<section class="g-button clearfix text-center" *ngIf="current_user_info.permission_keiri">
			<button class="btn btn-style btn-chart" [disabled]="!f.valid" type="button" (click)="modal.open('sm')">データ出力</button>
		</section>
		<div class="space30" *ngIf="!current_user_info.permission_keiri"></div>
	</form>

	<!-- SECTION TABLE -->
	<section class="g-table">
		<table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">申請日</th>
					<th class="text-center">申請番号</th>
					<th class="text-center">内容</th>
					<th class="text-center">件名</th>
					<th class="text-center">金額</th>
					<th class="text-center">申請者</th>
					<th class="text-center">状況</th>
					<th class="text-center">修正後金額</th>
					<th class="text-center">OBIC出力日</th>
				</tr>
			</thead>
		</table>
	</section>
</div>

<modal #modal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">確認メッセージ</h4>
	</modal-header>
	<modal-body>
		<form autocomplete="off" #fconfirm="ngForm">
			<section class="g-filter clearfix">
				<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="validateErrors.msg_error != null">
					<button type="button" class="close" (click)="validateErrors.msg_error = null">
						<span aria-hidden="true">&times;</span>
					</button>
					{{validateErrors.msg_error}}
				</div>
				<div class="field clearfix w100">
					<label>ユーザーID</label>
					<div>
						<input type="text" name="user_id" class="form-control" [(ngModel)]="user.user_id" #user_id="ngModel" required>
						<span *ngIf="user_id?.dirty && user_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
					</div>
				</div>
				<div class="field clearfix w100">
					<label>パスワード</label>
					<div>
						<input type="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required>
						<span *ngIf="password?.dirty && password?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
					</div>
				</div>
			</section>
			<section class="g-button clearfix text-center">
				<button class="btn btn-style btn-back" type="button" (click)="onCloseModal(fconfirm)"><i class="fa fa-times"></i> キャンセル</button>
				<button class="btn btn-style btn-save" type="button" [disabled]="!fconfirm.valid" (click)="onCheckIdentity(fconfirm)"><i class="fa fa-check"></i> 登録</button>
			</section>
		</form>
	</modal-body>
</modal>