<app-breadcrumb></app-breadcrumb>
<div class="proposal-create">
    <h2 class="s-title">部門管理</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <section class="g-basic-info clearfix">
            <div class="g-row clearfix">
                <div class="field clearfix w100">
                    <label for="">所属部署 <span class="note">*</span></label>
                    <div class="g-radio">
                        <label class="radio-inline" [class.not-allowed]="_params.method == 'update'">
                            <input type="radio" name="level" (click)="Item.level = 1" [checked]="Item.level == 1" [disabled]="_params.method == 'update'"> 事業本部
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline" [class.not-allowed]="_params.method == 'update'">
                            <input type="radio" name="level" (click)="Item.level = 2" [checked]="Item.level == 2" [disabled]="_params.method == 'update'"> 事業部
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline" [class.not-allowed]="_params.method == 'update'">
                            <input type="radio" name="level" (click)="Item.level = 3" [checked]="Item.level == 3" [disabled]="_params.method == 'update'"> 部門
                            <div class="check"></div>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50">
                    <label for="">会社名 <span class="note">*</span></label>
                    <div>
                        <div class="input-select2">
                            <ng-select
                                name="m_company_id"
                                [items]="companyOptions"
                                [active]="Item.m_company_id | selectobject: companyOptions"
                                [allowClear]="true"
                                (selected)="onSelectFilterChange($event, 'company')"
                                (removed)="onSelectFilterChange($event, 'company', 'deselected')"
                                (ngModel)="Item.m_company_id"
                                [ngModel]="Item.m_company_id | selectobject: companyOptions"
                                placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                                required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50" *ngIf="Item.level == 2 || Item.level == 3">
                    <label for="">事業本部 <span class="note">*</span></label>
                    <div>
                        <div class="input-select2">
                            <ng-select
                                name="business_id"
                                [items]="businessOptions"
                                [active]="Item.business_id | selectobject: businessOptions"
                                [allowClear]="true"
                                (selected)="onSelectFilterChange($event, 'business')"
                                (removed)="onSelectFilterChange($event, 'business', 'deselected')"
                                (ngModel)="Item.business_id"
                                [ngModel]="Item.business_id | selectobject: businessOptions"
                                placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                                required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50" *ngIf="Item.level == 3">
                    <label for="">事業部 <span class="note">*</span></label>
                    <div>
                        <div class="input-select2">
                            <ng-select
                                name="division_id"
                                [items]="divisionOptions"
                                [active]="Item.division_id | selectobject: divisionOptions"
                                [allowClear]="true"
                                (selected)="onSelectFilterChange($event, 'division')"
                                (removed)="onSelectFilterChange($event, 'division', 'deselected')"
                                (ngModel)="Item.division_id"
                                [ngModel]="Item.division_id | selectobject: divisionOptions"
                                placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                                required>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50">
                    <label for="" *ngIf="Item.level == 1 || !Item.level">事業本部コード <span class="note">*</span></label>
                    <label for="" *ngIf="Item.level == 2">事業部コード <span class="note">*</span></label>
                    <label for="" *ngIf="Item.level == 3">部門コード <span class="note">*</span></label>
                    <div *ngIf="Item.level == 3" class="field-ng2-auto-complete">
                        <input  type="text" class="form-control" name="code"
                            [ngModel]="Item.code"
                            (ngModelChange)="onChangeCodeDepartment($event)"
                            #code="ngModel"
                            [disabled]="Item.level == 3 && !Item.division_id"
                            ng2-auto-complete [source]="departmentAutocomplete"
                            display-property-name="code"
                            list-formatter="value"
                            required>
                    </div>
                    <div *ngIf="Item.level != 3" class="field-ng2-auto-complete">
                        <input  type="text" class="form-control" name="code"
                            [(ngModel)]="Item.code"
                            #code="ngModel"
                            required>
                        <span *ngIf="code?.dirty && code?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                </div>
                <div class="field clearfix w50">
                    <label for="" *ngIf="Item.level == 1 || !Item.level">事業本部名称 <span class="note">*</span></label>
                    <label for="" *ngIf="Item.level == 2">事業部名称 <span class="note">*</span></label>
                    <label for="" *ngIf="Item.level == 3">部門名称 <span class="note">*</span></label>
                    <div>
                        <input type="text" class="form-control" name="name"
                                [(ngModel)]="Item.name"
                                #name="ngModel"
                                [disabled]="Item.level == 3 && !Item.division_id"
                                required>
                        <span *ngIf="name?.dirty && name?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w100" *ngIf="Item.level == 3">
                    <label for="">使用有無</label>
                    <div class="g-radio">
                        <label class="radio-inline">
                            <input type="radio" name="allow_export_routes" (click)="Item.allow_export_routes = 1" [checked]="1 == Item.allow_export_routes || !Item.allow_export_routes"> 有
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="allow_export_routes" (click)="Item.allow_export_routes = 0" [checked]="0 == Item.allow_export_routes"> 無
                            <div class="check"></div>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50" *ngIf="Item.level == 3">
                    <label for="">OBICクライアントコード</label>
                    <div>
                        <div class="input-select2">
                            <ng-select
                                name="client_code"
                                [items]="obicClientOptions"
                                [active]="Item.client_code | selectobject: obicClientOptions"
                                [allowClear]="true"
                                (selected)="onNgSelected($event, 'obic_client')"
                                (removed)="onNgRemoved($event, 'obic_client')"
                                (ngModel)="Item.client_code"
                                [ngModel]="Item.client_code | selectobject: obicClientOptions"
                                placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                                [disabled]="!flag_obic_client"
                                [required]="flag_obic_client"
                                >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="field clearfix w50" *ngIf="Item.level == 3">
                    <div class="g-radio">
                        <label class="checkbox-inline">
                            <!-- (click)="Item.level = 1" [checked]="1 == Item.level" [disabled]="_params.method == 'update'" -->
                            <input type="checkbox" 
                                    name="flag_obic_client" 
                                    value="true" 
                                    #obic_client_elem
                                    (change)="onChangeObicFlag(obic_client_elem)" 
                                    [checked]="flag_obic_client == true"
                                   >
                            <div class="check"></div>
                            ビジョン以外はチェックして設定
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="field clearfix w50" [hidden]="Item.level != 3">
                    <label for="">適用開始日</label>
                    <div class="clearfix">
                        <div class="input-group">
                            <input type="text" name="enable_start_date" class="form-control daterange-single"
                                [ngModel]="Item.enable_start_date | formatdate" (ngModelChange)="Item.enable_start_date = $event"
                                #enable_start_date
                                (blur)="Item.enable_start_date = enable_start_date.value"
                                [required]="Item.level == 3">
                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="field clearfix w50" [hidden]="Item.level != 3">
                    <label for="">適用終了日</label>
                    <div class="clearfix">
                        <div class="input-group">
                            <input type="text" name="enable_end_date" class="form-control daterange-single"
                                [ngModel]="Item.enable_end_date | formatdate" (ngModelChange)="Item.enable_end_date = $event"
                                #enable_end_date
                                (blur)="Item.enable_end_date = enable_end_date.value">
                            <span class="input-group-addon"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Button Process Area -->
        <section class="g-button clearfix text-center">
            <button class="btn btn-style btn-search" type="submit" [disabled]="!f.valid"><i class="fa fa-save"></i> 登録</button>
            <a [routerLink]="['/system/department']" class="btn btn-style btn-back"><i class="fa fa-arrow-left"></i> 閉じる</a>
        </section>
        <!-- Button Process Area -->
    </form>
</div>
