<h2 class="s-title">部門負担※部門負担が発生した場合のみ</h2>
<section class="g-dynamic-info clearfix mb10">
	<div class="g-row clearfix">
		<div class="field clearfix w100">
			<label>合計金額</label>
			<div class="input-text">
    			<label class="bold">{{ currency_symbol }} {{ cost_divide_amount | number }}</label>
    		</div>
		</div>
	</div>
</section>
<section class="g-table">
	<div class="table-responsive">
		<table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">負担金額</th>
					<th class="text-center">負担部門</th>
					<th class="text-center">摘要</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="costArray.length == 0">
					<td class="text-center" colspan="3">{{ 'EMPTY_TABLE' | translate }}</td>
				</tr>
				<tr *ngFor="let obj of costArray; let i = index;">
					<td class="text-right">{{ currency_symbol }} {{ obj.divide_cost | number }}</td>
					<td>{{ obj.department_name }}</td>
					<td>{{ obj.description }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="space30"></div>
