<section class="auth pw-recover flex-cc vh100">
    <div class="auth-inner">
        <h1 class="logo"><a [routerLink]="['/login']"><img src="assets/img/logo.png" alt="VWS"></a></h1>
        <form class="auth-form pw-recover-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h2>パスワードリセット</h2>
            <p>下記メールアドレスに、リセット後のパスワードをメールで送信します。メール受信後、記載されたパスワードでログインし、パスワードの変更を行ってください。</p>
            <div class="form-group clearfix">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="メールアドレス" name="email" [(ngModel)]="mail" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                    <span *ngIf="email?.dirty && email?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    <span *ngIf="email?.dirty && email?.errors?.pattern" class="error">{{ 'VALIDATE.invalid_email' | translate }}</span>
                    <span *ngIf="validateErrors.email | json" class="error">{{validateErrors.email | json}}</span>
                </div>
                <button type="submit" class="btn btn-pw-recover btn-submit" [disabled]="!f.valid">送信</button>
            </div>
        </form>
    </div>
</section>
