<h2 class="s-title">部門負担※部門負担が発生した場合のみ</h2>
<section class="g-table-button text-right">
	<button class="btn btn-style btn-add" type="button" (click)="onOpenFormCost(null,'create')"><i class="fa fa-plus"></i>&nbsp;追加</button>
</section>
<section class="g-dynamic-info clearfix mb10">
	<div class="g-row clearfix">
		<div class="field clearfix w100">
			<label>合計金額</label>
			<div class="input-text">
    			<label class="bold">{{ currency_symbol }} {{ cost_divide_amount | number }}</label>
    		</div>
		</div>
	</div>
</section>
<section class="g-table">
	<div class="table-responsive">
		<table id="tbl-data" class="tbl-data table table-standard table-striped table-hover" cellspacing="0">
			<thead>
				<tr>
					<th class="text-center">負担金額</th>
					<th class="text-center">負担部門</th>
					<th class="text-center">摘要</th>
					<th class="text-center" colspan="2">編集</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="costArray.length == 0">
					<td class="text-center" colspan="5">{{ 'EMPTY_TABLE' | translate }}</td>
				</tr>
				<tr *ngFor="let obj of costArray; let i = index;">
					<td class="text-right">{{ currency_symbol }} {{ obj.divide_cost }}</td>
					<td>{{ obj.department_name }}</td>
					<td>{{ obj.description }}</td>
					<td class="text-center"><a class="edit-record" title="編集" (click)="onOpenFormCost(i, 'update')"><i class="fa fa-pencil"></i></a></td>
					<td class="text-center"><a class="del-record" title="削除" (click)="onOpenConfirm(i)"><i class="fa fa-trash"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<div class="space30"></div>
<!-- Modal Cost Divide -->
<modal #modal (onDismiss)="onCloseForm(f)" [backdrop]="'static'">
	<modal-header [show-close]="true">
		<h4 class="modal-title">按分入力</h4>
	</modal-header>
    <modal-body>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
			<section class="g-filter clearfix">
				<div class="g-row clearfix">
					<div class="field clearfix w100">
						<label>負担金額 <span class="note">*</span></label>
						<div class="field-money" [class.has-error]="cost_invalid">
							<input type="text" name="divide_cost" class="form-control format_number" [(ngModel)]="Item.divide_cost" (keyup)="checkDivideCost($event.target.value)" #divide_cost="ngModel" required>
							<span class="i-money">{{ currency_symbol }}</span>
							<span *ngIf="divide_cost?.dirty && divide_cost?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
							<span *ngIf="cost_invalid" class="error">精算金額に対して按分金額の相違があります。</span>
						</div>
	            	</div>
					<div class="field clearfix w100">
	            		<label>負担部門 <span class="note">*</span></label>
	            		<div class="input-select2">
	                    	<ng-select
			                    name="m_company_id"
			                    [items]="companyOptions"
			                    [active]="Item.m_company_id | selectobject: companyOptions"
			                    [allowClear]="true"
								(selected)="onSelectDepartmentChange($event, 'company')"
								(removed)="onSelectDepartmentChange($event, 'company', 'deselected')"
								(ngModel)="Item.m_company_id"
								placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
			                    >
			                </ng-select>
					    </div>
	            	</div>
	            	<div class="field clearfix w100">
						<label class="no-style"></label>
						<div class="input-select2">
			                <ng-select
								name="business_id"
								[items]="businessOptions"
								[active]="Item.business_id | selectobject: businessOptions"
								[allowClear]="true"
								(selected)="onSelectDepartmentChange($event, 'business')"
								(removed)="onSelectDepartmentChange($event, 'business', 'deselected')"
								(ngModel)="Item.business_id"
								placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
								>
			                </ng-select>
			            </div>
					</div>
					<div class="field clearfix w100">
						<label class="no-style"></label>
						<div class="input-select2">
			                <ng-select
								name="division_id"
								[items]="divisionOptions"
								[active]="Item.division_id | selectobject: divisionOptions"
								[allowClear]="true"
								(selected)="onSelectDepartmentChange($event, 'division')"
								(removed)="onSelectDepartmentChange($event, 'division', 'deselected')"
								(ngModel)="Item.division_id"
								placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
			                    >
			                </ng-select>
			            </div>
					</div>
					<div class="field clearfix w100">
						<label class="no-style"></label>
						<div class="input-select2">
			                <ng-select
			                    name="m_department_id"
			                    [items]="departmentOptions"
			    				[active]="Item.m_department_id | selectobject: departmentOptions"
			                    [allowClear]="true"
			                    (selected)="onSelectDepartmentChange($event, 'department')"
			                    (removed)="onSelectDepartmentChange($event, 'department', 'deselected')"
			                    (ngModel)="Item.m_department_id"
			                    [ngModel]="Item.m_department_id | selectobject: departmentOptions"
			                    placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
			                    #m_department_id
			                    required>
			                </ng-select>
			                <span *ngIf="m_department_id?.dirty && m_department_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
			            </div>
			        </div>
				    <div class="field clearfix w100">
						<label>摘要</label>
						<div>
							<textarea class="form-control input-long" name="description" [(ngModel)]="Item.description"></textarea>
						</div>
					</div>
					<div class="field clearfix w100">
						<label>按分可能金額</label>
						<div class="input-text">{{ currency_symbol }} {{ cost_remain | number }}</div>
					</div>
	            </div>
			</section>
			<section class="g-button clearfix text-center">
				<button class="btn btn-style btn-save" [disabled]="!f.valid || cost_invalid" type="submit"><i class="fa fa-save"></i> 確認</button>
				<button class="btn btn-style btn-back" type="button" (click)="onCloseForm(f)"><i class="fa fa-arrow-left"></i> 閉じる</button>
			</section>
        </form>
    </modal-body>
</modal>

<modal #modaldelete>
	<modal-header [show-close]="true">
		<h4>確認メッセージ</h4>
	</modal-header>
	<modal-body>
		<section class="g-filter clearfix">
			削除します、よろしいですか？
		</section>
		<section class="g-button clearfix text-center">
			<a class="btn btn-style btn-back" (click)="modaldelete.close()"><i class="fa fa-times"></i> キャンセル</a>
			<button class="btn btn-style btn-save" type="button" (click)="onConfirmDelete()"><i class="fa fa-trash"></i> 削除</button>
		</section>
	</modal-body>
</modal>
