<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
    <h2 class="s-title">アクセス履歴一覧</h2>
    <section class="g-filter clearfix">
        <div class="g-row clearfix">
            <div class="field clearfix w50">
                <label for="">社員名</label>
                <div class="clearfix">
                    <input type="text" name="" class="form-control" [(ngModel)]='filter.fullname'>
                </div>
            </div>
            <div class="field clearfix w50">
                <label for="">ホスト名</label>
                <div class="clearfix">
                    <input type="text" name="" class="form-control" [(ngModel)]='filter.host_name'>
                </div>
            </div>
            <div class="field clearfix w50">
                <label for="">日時</label>
                <div class="g-date-from-to clearfix">
                <div class="input-group">
                  <input type="text" class="form-control daterange-single" [(ngModel)]='filter.from_date' #fromDate (blur)="filter.from_date = fromDate.value">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                </div>
                <div class="icon-date text-center">
                  ~
                </div>
                <div class="input-group">
                  <input type="text" class="form-control daterange-single" [(ngModel)]='filter.to_date' #toDate (blur)="filter.to_date = toDate.value">
                  <span class="input-group-addon"><i class="icon-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="field clearfix w50">
                <label for="">操作内容</label>
                <div class="input-select2 clearfix">
                    <ng-select
                        name="type"
                        [items]="operations"
                        [active]="filter.operations | selectobject: operations"
                        (selected)="onNgSelected($event)"
                        (removed)="onNgRemoved($event)"
                        (ngModel)="filter.operation"
                        [ngModel]="filter.operation | selectobject: operations"
                        placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}"
                        [allowClear]="true"
                        #operation>
                    </ng-select>
                </div>
            </div>
        </div>
    </section>
    <section class="g-button clearfix text-center">
        <button class="btn btn-style btn-search" type="button" (click)="onSearch()" id="btn_submit_form"><i class="fa fa-search"></i> 検索</button>
        <button class="btn btn-style btn-clear" type="button" (click)="onReset()"><i class="fa fa-eraser"></i> クリア</button>
        <a class="btn btn-style btn-back" [routerLink]="['/']"><i class="fa fa-arrow-left"></i> 戻る</a>
    </section>
    <section class="g-table">
        <table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>社員No</th>
                    <th>社員名</th>
                    <th>IPアドレス</th>
                    <th>ホスト名</th>
                    <th>日時</th>
                    <th>操作内容</th>
                </tr>
            </thead>
        </table>
    </section>
</div>
