<div class="sc_row row sc_row-fluid" *ngIf="Items.length">
    <div class="column sc_column_container sc_col-sm-12">
        <div class="sc_column-inner">
            <div class="wrapper">
                <div class="sc_empty_space em_height_4">
                    <span class="sc_empty_space_inner"></span>
                </div>
                <div class="sc_team_wrap" id="sc_team_630_wrap">
                    <div class="sc_team sc_team_style_team-3 aligncenter" id="sc_team_630">
                        <h6 class="sc_item_title sc_team_subtitle sc_item_subtitle">{{ 'PUBLIC.expert' | translate }}</h6>
                        <div class="sc_section_content_wrap" style="position: relative">
                            <div class="jcarousel jcarousel-staff">
                                <ul>
									<li *ngFor="let item of Items; let i=index;">
									    <div class="sc_team_item" id="sc_team_630_{{i + 1}}">
											<div class="sc_team_item_avatar">
											    <img alt="" [src]="item.image_url">
											    <div class="sc_team_item_hover">
											        <a class="sc_team_item_icon" [routerLink]="[ '/' + modules.expert, modules.detail, item.item_key, item.fullname | niceurl]">&nbsp;</a>
											    </div>
											</div>
											<div class="sc_team_item_info">
											    <h5 class="sc_team_item_title"><a [routerLink]="[ '/' + modules.expert, modules.detail, item.item_key, item.fullname | niceurl]">{{ item.fullname }}</a></h5>
											    <div class="sc_team_item_position">
											        {{ item.position }}
											    </div>
											</div>
									    </div>
									</li>
                                </ul>
                            </div>

							<a href="#" class="jcarousel-control-prev jcarousel-staff-control-prev">&lsaquo;</a>
							<a href="#" class="jcarousel-control-next jcarousel-staff-control-next">&rsaquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
