<section class="auth login flex-cc vh100">
    <div class="auth-inner">
        <h1 class="logo"><a [routerLink]="['/login']"><img src="assets/img/logo.png" alt="VWS"></a></h1>
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="validateErrors.msg_error != null">
            <button type="button" class="close" (click)="validateErrors.msg_error = null"><span aria-hidden="true">&times;</span></button>
            {{validateErrors.msg_error}}
        </div>
        <p class="text-center mt20 version"><strong>ログアウトしました。</strong></p>
        <p class="text-center mt20 version"><strong>新ワークフローシステム</strong> <a class="btn btn-style btn-login-page" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;ログイン</a> <strong>画面へ</strong></p>
    </div>
</section>
