<header id="header" class="header">
    <h1 class="logo page-logo"><a [routerLink]="['/home']" title=""><img src="assets/img/logo.png" alt="VWS"></a></h1>
    <div class="menu clearfix">
        <div class="user-wrapper clearfix">
            <div class="dropdown-user">
                <a class="dropdown-toggle clearfix" data-toggle="dropdown" aria-expanded="true" href="#">
                    <img src="assets/img/user.png" alt="">
                    <div>
                        <h4>{{ current_user_info && current_user_info.fullname }}</h4>
                        <span>{{ current_user_info &&  current_user_info.department_name }}</span>
                    </div>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-usermenu">
                    <li><a href="#">兼任部署切替 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul>
                            <li *ngFor="let item of userDepartment">
                                <a [class.active]="current_user_info && current_user_info.active_m_department_id == item.m_department_id" (click)="onChangeDepartment(item)"><i class="fa fa-building-o" aria-hidden="true"></i>&nbsp; {{item.division_name + ' - ' + item.department_name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li><a (click)="changePassword()">パスワード変更</a></li>
                    <li><a (click)="logout()">ログアウト</a></li>
                </ul>
            </div>
        </div>
        <nav class="main-menu nav navbar-nav">
            <ul class="menu-main-menu clearfix">
                <li class="" *ngIf="!current_user_info?.permission_system && !current_user_info?.permission_keiri && !current_user_info?.permission_general && !current_user_info?.permission_hr">
                    <a>起案・申請 <span class="caret"></span></a>
                    <ul class="menu-list">
                        <li>
                            <a>稟議・報告</a>
                            <ul>
                                <li *ngFor="let item of departmentMenu">
                                    <a>{{ item.name }}</a>
                                    <ul class="last" *ngIf="item.menu_master">
                                        <li *ngFor="let menu of item.menu_master" [routerLinkActive]="['active']">
                                            <a [routerLink]="['/proposal/form/create', menu.id]" class="j-tooltip close-menu" [title]="(menu.description == null)?'':menu.description">{{ menu.name }}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a>精算・申請</a>
                            <ul>
                                <li *ngFor="let item of requestMenu" [routerLinkActive]="['active']"><a class="close-menu" [routerLink]="['/payment/form/create', item.id, 1]">{{ item.name }}</a></li>
                            </ul>
                        </li>
                        <li [routerLinkActive]="['active']"><a class="close-menu" [routerLink]="['/check-routes']">決裁経路確認</a></li>
                        <li [routerLinkActive]="['active']"><a class="close-menu" [routerLink]="['/list-form']">一覧照会</a></li>
                    </ul>
                </li>
                <li class="">
                    <a>決裁・承認 <span class="caret"></span></a>
                    <ul class="menu-list">
                        <li [routerLinkActive]="['active']"><a class="close-menu" [routerLink]="['/management/list-form']">審議・決裁一覧</a></li>
                    </ul>
                </li>
                <li class="" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri || current_user_info?.permission_general || current_user_info?.permission_hr">
                    <a>管理機能 <span class="caret"></span></a>
                    <ul class="menu-list">
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri || current_user_info?.permission_general || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/menu-master']" >様式管理</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/menu-payment']" >精算申請メニュー設定</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system">
                            <a class="close-menu" [routerLink]="['/system/notify']" >通知一覧画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/user']" >ユーザー管理</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system">
                            <a class="close-menu" [routerLink]="['/system/log-history']" >アクセス履歴一覧</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/change-user-department']" >部署・ユーザー情報更新</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/department']" >部門管理</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system">
                            <a class="close-menu" [routerLink]="['/system/obic-client']" >OBICクライアント一覧</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/approval-department']" >決裁経路管理(組織)</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/approval-menu']" >決裁経路管理(標準)</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/approval-department-menu']" >決済経路管理(カスタム)</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri || current_user_info?.permission_general || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/check-routes']" >決裁経路確認</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/company']" >会社管理</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_hr">
                            <a class="close-menu" [routerLink]="['/system/bank']" >銀行情報</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/management/list-form-payment']" >精算申請処理画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/trip-benefits']" >出張関連設定一覧画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/expense']" >精算項目一覧画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/type-finalization']" >経理各種設定画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/obic']" >外部システム用データ出力</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system || current_user_info?.permission_keiri">
                            <a class="close-menu" [routerLink]="['/system/credit-account']" >貸方勘定項目設定画面</a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="current_user_info?.permission_system">
                            <a class="close-menu" [routerLink]="['/system/mail-cooperation']" >メール連携設定一覧</a>
                        </li>
                    </ul>
                </li>

                <li class="mobile_hidden" *ngIf="_Configuration.meetingroom_active">
                    <a href="{{meetingroom_login_api}}" target="_blank" (click)="openUrl(element)" #element>スケジュール管理</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- /header -->

<modal #modal id="modalChangePassword" [backdrop]="'static'">
    <modal-header [show-close]="true">
        <h4 class="modal-title">パスワード変更</h4>
    </modal-header>
    <modal-body>
        <form class="auth-form change-pw-form" #f="ngForm" (ngSubmit)="onChangePassword(f)">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="旧パスワード* " name="password" [(ngModel)]="info.password" #password="ngModel" required>
                </div>
                <p *ngIf="password?.dirty && password?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</p>
                <p *ngIf="validateErrors.password | json" class="error">{{validateErrors.password | json}}</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="新パスワード* " name="new-password" [(ngModel)]="info.new_password" #new_password="ngModel" required validateEqual="re-password" reverse="true">
                </div>
                <p *ngIf="new_password?.dirty && new_password?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" placeholder="新パスワード再入力*" name="re-password" [(ngModel)]="info.re_password" #re_password="ngModel" required validateEqual="new-password" reverse="false">
                </div>
                <p *ngIf="re_password?.dirty && re_password?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</p>
                <span *ngIf="re_password?.dirty && re_password?.errors?.validateEqual == false" class="error">{{ 'VALIDATE.invalid_equal_password' | translate }}</span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-change-pw btn-submit" id="btn_submit_form" [disabled]="!f.valid">変更</button>
            </div>
          </form>
    </modal-body>
</modal>
