<app-breadcrumb></app-breadcrumb>
<div class="menu-master">
    <h2 class="s-title">様式管理</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <section class="g-Item clearfix">
            <div class="g-row clearfix">
            	<div class="field clearfix w100">
                    <label for="">メニュー名 <span class="note">*</span></label>
                    <div>
                        <input type="text" name="name" value="" placeholder="" class="form-control"
                        [(ngModel)]="Item.name" #name="ngModel" (keypress)="onChangeInput()" required>
                        <span *ngIf="name?.dirty && name?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                </div>

                <div class="field clearfix w100">
                    <label for="">概要</label>
                    <div>
                        <textarea type="text" name="description" value="" placeholder="" class="form-control" [(ngModel)]="Item.description" (keypress)="onChangeInput()"></textarea>
                    </div>
                </div>

                <div class="field clearfix w50">
                    <label for="">稟議申請担当部署 <span class="note">*</span></label>
                    <div *ngIf="Item.enable_flg != 2">
	                    <div class="input-select2">
	                        <ng-select 
                                name="m_department_id"
	                            [items]="departments"
                                [active]="Item.m_department_id | selectobject: departments"
                                (selected)="onNgSelected($event, 'department')"
                                (ngModel)="Item.m_department_id"
                                [ngModel]="Item.m_department_id | selectobject: departments"
	                            #m_department_id
	                            placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}" 
                                (ngModelChange)="onChangeInput()"
                                required>
	                        </ng-select>
	                    </div>
	                    <span *ngIf="m_department_id?.dirty && m_department_id?.errors?.required" class="error">{{ 'VALIDATE.required' | translate }}</span>
                    </div>
                    <div *ngIf="Item.enable_flg == 2">
                        <b class="special-text">{{ Item.m_department_name }}</b>
                    </div>
                </div>

                <div class="field clearfix w50">
                    <label for="">部署承認下限役職 <span class="note">*</span></label>
                    <div class="input-select2" *ngIf="Item.enable_flg != 2">
                        <ng-select 
                            name="limit_m_position_id"
                            [items]="limitPositionOpts"
                            [active]="Item.limit_m_position_id | selectobject: limitPositionOpts"
                            (selected)="onNgSelected($event, 'limit_position')"
                            (ngModel)="Item.limit_m_position_id"
                            [ngModel]="Item.limit_m_position_id | selectobject: limitPositionOpts"
                            placeholder="{{ 'SELECT_PLACEHOLDER' | translate }}" 
                            (ngModelChange)="onChangeInput()"
                            required>
                        </ng-select>
                    </div>
                    <div *ngIf="Item.enable_flg == 2">
                    	<b class="special-text">{{ Item.limit_m_position_name }}</b>
                    </div>
                </div>

                <div class="field clearfix w50">
                    <label for="">利用状況</label>
                    <div class="g-radio" *ngIf="Item.enable_flg != 2">
                        <label class="radio-inline">
                            <input type="radio" name="enable_flg" id="" value="1" [(ngModel)]="Item.enable_flg" (ngModelChange)="onChangeInput()"> 有効
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="enable_flg" id="" value="0" [(ngModel)]="Item.enable_flg" (ngModelChange)="onChangeInput()"> 無効
                            <div class="check"></div>
                        </label>
                    </div>
                    <div *ngIf="Item.enable_flg == 2">
                        <b class="special-text">下書</b>
                    </div>
                </div>

                <div class="field clearfix w50">
                    <label for="">ファイル添付	</label>
                    <div class="g-radio">
                        <label class="radio-inline" [class.not-allowed]="Item.enable_flg == 2">
                            <input type="radio" name="add_file_flg" id="" value="1" [(ngModel)]="Item.add_file_flg" [disabled]="Item.enable_flg == 2" (ngModelChange)="onChangeInput()"> 有効
                            <div class="check"></div>
                        </label>
                        <label class="radio-inline" [class.not-allowed]="Item.enable_flg == 2">
                            <input type="radio" name="add_file_flg" id="" value="0" [(ngModel)]="Item.add_file_flg" [disabled]="Item.enable_flg == 2" (ngModelChange)="onChangeInput()"> 無効
                            <div class="check"></div>
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <section class="g-button clearfix text-center">
        	<button class="btn btn-style" type="button" (click)="onConfirmApplyDraft()" *ngIf="Item.enable_flg == 2"><i class="fa fa-bar-chart mR_10"></i> 公開</button>
            <button class="btn btn-style btn-search" type="button" (click)="onSubmit(f)" [disabled]="!f.valid"><i class="glyphicon glyphicon-floppy-disk mR_10"></i> 保存</button>
            <button class="btn btn-style btn-clear" type="button" [routerLink]="['/system/menu-master']"><i class="glyphicon glyphicon-arrow-left mR_10"></i> 戻る</button>
            <button class="btn btn-style btn-clear" type="button" [routerLink]="['/system/menu-master/update/', Item.has_draft_menu_id]" *ngIf="Item.enable_flg != 2 && Item.has_draft_menu_id"><i class="glyphicon glyphicon-pencil mR_10"></i> 編集</button>
            <button class="btn btn-style btn-back" type="button" (click)="onSaveDraft()" *ngIf="_params.method != 'create' && Item.enable_flg != 2 && !Item.has_draft_menu_id"><i class="glyphicon glyphicon-floppy-saved mR_10"></i> 下書</button>
            <button class="btn btn-style" type="button" (click)="onConfirmDeleteDraft()" *ngIf="Item.enable_flg == 2"><i class="glyphicon glyphicon-trash mR_10"></i> 削除</button>
        </section>
    </form>
    <!-- <section class="g-table">
        <table id="tbl-data" class="tbl-data responsive cell-border" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>メニュー画面</th>
                    <th>概要</th>
                    <th>担当部署</th>
                    <th>部署承認下限役職</th>
                    <th>利用状況</th>
                    <th>File添付</th>
                    <th>編集</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section> -->
</div>
<div id="fb-editor">	</div>
<div class="space30"></div>

<modal #confirm_modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
           	破棄しますか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="confirm_modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onDeleteDraft()"><i class="fa fa-trash"></i> 削除</button>
        </section>
    </modal-body>
</modal>

<modal #apply_modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">確認メッセージ</h4>
    </modal-header>
    <modal-body>
        <section class="g-filter clearfix">
           	様式を公開したら、下書が削除されます、よろしいでしょうか？
        </section>
        <section class="g-button clearfix text-center">
            <a class="btn btn-style btn-back" (click)="apply_modal.close()"><i class="fa fa-times"></i> キャンセル</a>
            <button class="btn btn-style btn-save" type="button" (click)="onApplyDraft()"><i class="fa fa-check"></i> 確認</button>
        </section>
    </modal-body>
</modal>